! interface.j2 
{%- for iface in interfaces %}
  {#- Initialize interface_name as None -#}
  {%- set interface_name = None %}

  {#- Handle interface range like 1/1-1/16 -#}
  {%- if iface.start_intf is defined and iface.end_intf is defined %}
    {%- set interface_name = (iface.intf_type | default('Ethernet')) ~ ' ' ~ iface.start_intf ~ '-' ~ iface.end_intf.split('/')[-1] %}

  {#- Handle loopback interface explicitly -#}
  {%- elif iface.intf_type == 'loopback' and iface.intf is defined %}
    {%- set interface_name = iface.intf %}

  {#- Handle single non-loopback interface like 1/17 -#}
  {%- elif iface.intf is defined %}
    {%- set interface_name = (iface.intf_type | default('Ethernet')) ~ ' ' ~ iface.intf %}
  {%- endif %}

  {#- Only render if interface_name is valid -#}
  {%- if interface_name %}
interface {{ interface_name }}
  description {{ iface.name }}
  {%- if iface.intf_type | default('Ethernet') != 'loopback' %}
  no cdp enable
  {%- endif %}

  {#- Layer 2 interface logic (access or trunk) -#}
  {%- if iface.type | lower in ['access', 'trunk'] %}
  switchport
  switchport mode {{ iface.type | lower }}

    {#- Trunk-specific settings -#}
    {%- if iface.type | lower == 'trunk' %}
  switchport trunk native vlan {{ iface.native_vlan }}
  switchport trunk allowed vlan {{ iface.tagged_vlans }}
  priority-flow-control mode on send-tlv
  spanning-tree port type edge trunk

    {#- Access-specific settings -#}
    {%- elif iface.type | lower == 'access' %}
  switchport access vlan {{ iface.access_vlan }}
  spanning-tree port type edge
    {%- endif %}
  no logging event port link-status
  service-policy type qos input {{ iface.qos_policy | default('AZS_SERVICES') }}

  {#- Layer 3 interface logic -#}
  {%- elif iface.type | lower == 'l3' and iface.intf_type | default('Ethernet') != 'loopback' %}
  no switchport
  ip address {{ iface.ipv4 }}
  no ip redirects
  no ipv6 redirects
  {%- elif iface.type | lower == 'l3' and iface.intf_type == 'loopback' %}
  ip address {{ iface.ipv4 }}
  {%- endif %}

  {#- Shared settings: MTU and shutdown -#}
  {{ '' }} {# Prevents line merging due to Jinja trimming #}
  mtu {{ iface.mtu | default(9216) }}
  {% if iface.shutdown is defined and iface.shutdown %}shutdown{% else %}no shutdown{% endif %}
  {%- endif %}
{% endfor %}
