! login.j2 - user
fips mode enable
user max-logins 1
password prompt username
userpassphrase min-length 15 max-length 80
username admin password 0 $CREDENTIAL_PLACEHOLDER$ role network-admin
username $CREDENTIAL_PLACEHOLDER$ password 0 $CREDENTIAL_PLACEHOLDER$ role network-admin

! SSH Key based authentication. Post-process before applying.
! username <sshAuthUsername> password 5 ! role network-admin
! username <sshAuthUsername> sshkey <PublicKey>

! login.j2 - ssh
no feature ssh
no ssh key ecdsa
no ssh key rsa
ssh key rsa 2048 force
ssh key ecdsa 256 force
feature ssh

! login.j2 - line
line console
  exec-timeout 10
line vty
  exec-timeout 10
  session-limit 3

! login.j2 - tacacs
! Replace [TACACS_SERVER_IP], [TACACS_KEY], [TACACS_GROUP],[MGMT_VLAN] with actual values.
tacacs-server key [TACACS_KEY]
tacacs-server timeout 2
ip tacacs source-interface [MGMT_VLAN]

tacacs-server host [TACACS_SERVER_IP]
tacacs-server host [TACACS_SERVER_IP] 

aaa group server tacacs+ [TACACS_GROUP] 
    server [TACACS_SERVER_IP] 
    server [TACACS_SERVER_IP]
    source-interface [MGMT_VLAN]

aaa authentication login default group [TACACS_GROUP]
aaa authentication login console group [TACACS_GROUP]
aaa accounting default group [TACACS_GROUP]