! system.j2 
! Name: {{ switch.hostname }}
! Make: {{ switch.make }}
! Model: {{ switch.model }}
hostname {{ switch.hostname }}

banner motd #
NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE

hostname {{ switch.hostname }}
Unauthorized access and/or use prohibited.
All access and/or use subject to monitoring.

NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE
#
