{{ define "set_ntp"}}
! settings.go.tmpl-set_ntp
clock timezone standard-timezone America/Los_Angeles
{{ range .TimeServer -}}
ntp server {{.}}
{{ end -}}
ntp source {{.OOB}}
{{ end }}

{{ define "set_syslog"}}
! settings.go.tmpl-set_syslog
{{ range .SyslogServer -}}
logging server {{ . }}
{{ end -}}
logging source-interface {{.OOB}}
logging audit enable 
logging console disable 
logging audit enable
logging console disable
{{ end }}

{{ define "set_lldp"}}
! stig.go.tmpl-stig_lldp
lldp enable
dcbx enable
{{ end }}

{{ define "set_dhcp"}}
! stig.go.tmpl-stig_dhcp
no ip dhcp-relay information-option
no ip dhcp snooping
{{ end }}

{{ define "set_vrrp"}}
! stig.go.tmpl-stig_vrrp
vrrp version 3
vrrp delay reload 180
{{ end }}

{{ define "set_tacacs"}}
! stig.go.tmpl-set_tacacs
! Replace [TACACS_SERVER] and [TACACS_KEY] with your TACACS server and key
ip tacacs source-interface {{.OOB}}
tacacs-server host [TACACS_SERVER1] key [TACACS_KEY]
tacacs-server host [TACACS_SERVER2] key [TACACS_KEY]

aaa authentication login default group tacacs+
aaa authentication login console group tacacs+ local
aaa accounting commands all default start-stop group tacacs+
{{ end }}