{{ template "hostname" .Switch -}}
{{ template "banner" .ToolBuildVersion -}}
{{if .Routing.PrefixList}}{{ template "prefixlist" .Routing.PrefixList -}} {{ end -}}
{{ template "stig_user" .GlobalSetting -}}
{{ template "stig_ssh" -}}
{{ template "stig_login" -}}
{{ template "stig_ztd" -}}
{{ template "stig_mac" -}}
{{ template "stig_logging" -}}
{{ template "qos" -}}
{{ template "portgroup" .PortGroup -}}
{{ template "define_vlan" .Vlans -}}
{{ template "interface_vlan" . -}}
{{ template "set_lldp" -}}
{{ template "set_dhcp" -}}
{{ template "set_vrrp" -}}
{{ template "set_ntp" .GlobalSetting -}}
{{ template "set_syslog" .GlobalSetting -}}
{{ template "set_load_sharing" -}}
{{ template "vlt" . -}}
{{if .PortChannel}}{{ template "portchannel" .PortChannel -}}{{ end -}}
{{ template "loopback" .L3Interfaces -}}
{{if eq .Switch.Type "BMC"}}
{{ template "bmcport" .Ports -}}
{{ else }}
{{ template "torport" .Ports -}}
{{ end }}
{{if ne .Routing.BGP.BGPAsn 0 }}{{ template "bgp" .Routing.BGP -}}{{ end -}}
{{if .Routing.Static}}{{ template "static" .Routing.Static -}}{{ end -}}