{{- /* Only one compose file using under the folder so use if else for better organize */ -}}
{{- /* BMC Switch */ -}}
{{- if eq .Switch.Type "BMC" -}}
{{ template "hostname" . -}}
{{if .Routing.PrefixList}}{{ template "prefixlist" . -}} {{ end -}}
{{ template "stig_user" .GlobalSetting -}}
{{ template "stig_ssh" -}}
{{ template "stig_login" -}}
{{ template "stig_ztd" -}}
{{ template "stig_mac" -}}
{{ template "stig_logging" -}}
{{ template "define_vlan" .Vlans -}}
{{ template "interface_vlan" . -}}
{{ template "set_lldp" -}}
{{ template "set_dhcp" -}}
{{ template "set_ntp" .GlobalSetting -}}
{{ template "set_syslog" .GlobalSetting -}}
{{ template "bmc_portchannel" .PortChannel -}}
{{ template "loopback" .L3Interfaces -}}
{{ template "bmcport" .Ports -}}
{{if ne .Routing.BGP.BGPAsn 0 }}{{ template "bgp" .Routing.BGP -}}{{ end -}}
{{if .Routing.Static}}{{ template "static" .Routing.Static -}}{{ end -}}
{{- /* TOR Switch */ -}}
{{- else -}}
{{ template "hostname" . -}}
{{if .Routing.PrefixList}}{{ template "prefixlist" . -}} {{ end -}}
{{ template "stig_user" .GlobalSetting -}}
{{ template "stig_ssh" -}}
{{ template "stig_login" -}}
{{ template "stig_ztd" -}}
{{ template "stig_mac" -}}
{{ template "stig_logging" -}}
{{ template "qos" -}}
{{ template "portgroup" .PortGroup -}}
{{ template "define_vlan" .Vlans -}}
{{ template "interface_vlan" . -}}
{{ template "set_lldp" -}}
{{ template "set_dhcp" -}}
{{ template "set_vrrp" -}}
{{ template "set_ntp" .GlobalSetting -}}
{{ template "set_syslog" .GlobalSetting -}}
{{ template "tor_portchannel" .PortChannel -}}
{{ template "loopback" .L3Interfaces -}}
{{ template "torport" .Ports -}}
{{ template "vlt" . -}}
{{if ne .Routing.BGP.BGPAsn 0 }}{{ template "bgp" .Routing.BGP -}}{{ end -}}
{{if ne .WANSIM.BGP.LocalASN 0 }}{{ template "wansim_bgp" . -}}{{ end -}}
{{if .Routing.Static}}{{ template "static" .Routing.Static -}}{{ end -}}
{{ end }}