{{ define "bmcport"}}
! bmcport.go.tmpl-bmcport
{{ range . -}}
{{ if eq .Type "mgmt" -}}
interface {{ .Port }}
  vrf member management
  shutdown
{{ else -}}
interface {{ .Type}} {{ .Port }}
  description {{ .Description }}
  {{ if eq .Function "Unused" -}} 
  switchport access vlan {{ .UntagVlan }}
  mtu {{ .Mtu }}
  flowcontrol receive off
  spanning-tree bpduguard enable
  spanning-tree guard root
  {{ else if or (eq .Function "HLH_BMC") (eq .Function "HLH_OS") (eq .Function "HOST_BMC") -}}
  switchport access vlan {{ .UntagVlan }}
  mtu {{ .Mtu }}
  flowcontrol receive off
  spanning-tree bpduguard enable
  spanning-tree guard root
  {{ else if eq .Function "TOR_BMC" -}}
  channel-group 102 mode active
  {{ end }}
  {{- if .Shutdown }}shutdown{{ else }}no shutdown{{ end }}
  {{ end }}
{{ end -}}
{{ end -}}