{{ define "portchannel"}}
! portchannel.go.tmpl-portchannel
{{ range . }}
interface port-channel{{ .PortChannelID }}
  description VLTi:{{ .Description }}
  {{if eq .Function "P2P_IBGP" -}}
  no switchport
  mtu 9216
  ip address {{ .IPAddress }}
  {{else if eq .Function "MLAG_PEER" -}}
  switchport mode trunk
  switchport trunk allowed vlan {{ .UntagVlan }}
  {{else if eq .Function "TOR_BMC" -}}
  switchport mode trunk
  switchport trunk allowed vlan {{ .TagVlans }}
  vlt-port-channel {{ .PortChannelID }}
  {{end -}}
  {{if .Shutdown -}} shutdown {{else -}} no shutdown {{end}}
  {{ end }}
{{ end -}}