{{ define "set_ntp"}}
! settings.go.tmpl-set_ntp
clock timezone standard-timezone America/Los_Angeles
{{ range .TimeServer -}}
ntp server {{.}}
{{ end -}}
ntp source-interface {{.OOB}}
{{ end }}

{{ define "set_syslog"}}
! settings.go.tmpl-set_syslog
{{ range .SyslogServer -}}
logging server {{ . }}
{{ end -}}
logging source-interface {{.OOB}}
logging audit enable 
logging console disable 
logging audit enable
logging console disable
{{ end }}

{{ define "set_lldp"}}
! stig.go.tmpl-stig_lldp
lldp enable
{{ end }}

{{ define "set_dhcp"}}
! stig.go.tmpl-stig_dhcp
no ip dhcp-relay information-option
no ip dhcp snooping
{{ end }}

{{ define "set_vrrp"}}
! stig.go.tmpl-stig_vrrp
vrrp version 3
vrrp delay reload 180
{{ end }}

{{ define "set_load_sharing"}}
! settings.go.tmpl-set_load_sharing
ip load-sharing address source-destination port source-destination
{{ end }}