{{ define "define_vlan"}}
! vlan.go.tmpl-define_vlan
{{ range . }}    
interface vlan{{.VlanID}}
  description {{.VlanName}}
  {{if .Shutdown -}}shutdown{{ else }}no shutdown{{ end }} 
{{ end }}
{{ end }}

{{ define "interface_vlan"}}
! vlan.go.tmpl-interface_vlan
{{- $SwitchType := .Switch.Type -}}
{{ range .Vlans -}}
{{ if .Subnet }} 
interface vlan{{.VlanID}}
  description {{.VlanName}}
  {{if .Shutdown -}}shutdown{{ else }}no shutdown{{ end }}
  mtu {{.Mtu}}
  ip address {{ .IPAddress }}/{{ .Cidr }}
  {{ if and (.VIPAddress) (ne $SwitchType "BMC") -}}
  !
  vrrp-group {{.VirtualGroupID}}
    {{ if eq $SwitchType "TOR1" -}}
    priority 150
    {{ else if eq $SwitchType "TOR2" -}}
    priority 140
    {{ end -}}
    virtual-address {{.VIPAddress}}
    no preempt
  {{ end -}}
{{- end -}}
{{ end -}}
{{ end -}}