copy running-configuration config://Before_WANSIM.config

{{ template "wansim_gre" . -}}
{{ template "prefixlist" . -}}
{{ template "full_wansim_bgp" . }}

copy running-configuration config://After_WANSIM.config