{{ define "wansim_gre"}}
! GRE Tunnel To WANSIM
{{ $SwitchType := .Switch.Type -}}
interface tunnel 1
  mode gre-ipv4
  {{ if eq $SwitchType "TOR1" -}}
  ip address {{ .WANSIM.GRE1.RemoteIP}}/31
  tunnel source {{ .WANSIM.GRE1.TunnelDstIP}}
  tunnel destination {{ .WANSIM.GRE1.TunnelSrcIP}}
  {{ else if eq $SwitchType "TOR2" -}}
  ip address {{ .WANSIM.GRE2.RemoteIP}}/31
  tunnel source {{ .WANSIM.GRE2.TunnelDstIP}}
  tunnel destination {{ .WANSIM.GRE2.TunnelSrcIP}}
  {{ end -}}
  description Tunnel_To_WANSIM
  no shutdown
{{ end }}


{{ define "wansim_bgp"}}
{{- $SwitchType := .Switch.Type }}
{{- if eq $SwitchType "TOR1" }}
  neighbor {{ .WANSIM.GRE1.LocalIP}}
{{- else if eq $SwitchType "TOR2" }}
  neighbor {{ .WANSIM.GRE2.LocalIP}}
{{- end }}
    remote-as {{ .WANSIM.BGP.LocalASN}}
    no shutdown
    description BGP_Peer_With_WANSIM
    address-family ipv4 unicast
      route-map PREFER-WANSIM in
      maximum-prefix 12000 warning-only
{{ end }}


{{ define "full_wansim_bgp"}}
router bgp {{ .Routing.BGP.BGPAsn }}
  {{ range .Routing.BGP.IPv4Neighbor }}
  neighbor {{ .NeighborIPAddress }}
    address-family ipv4 unicast
      {{ with .PrefixListOut }}distribute-list {{.}} out{{ end }}
      {{ with .PrefixListIn }}distribute-list {{.}} in{{ end }}
  {{ end }}
{{- $SwitchType := .Switch.Type }}
{{- if eq $SwitchType "TOR1" }}
  neighbor {{ .WANSIM.GRE1.LocalIP}}
{{- else if eq $SwitchType "TOR2" }}
  neighbor {{ .WANSIM.GRE2.LocalIP}}
{{- end }}
    remote-as {{ .WANSIM.BGP.LocalASN}}
    no shutdown
    description BGP_Peer_With_WANSIM
    address-family ipv4 unicast
      route-map PREFER-WANSIM in
      maximum-prefix 12000 warning-only
{{ end }}