feature bgp
feature lldp

no ip domain-lookup
username admin password 5 $5$OEPBFF$yxU8p6t2vJJEk/BW.hT/e.ib0/Wnwl37Hb1JGEbYWOC role network-admin

interface Ethernet1/8
  description B1_TO_TOR1
  ip address 192.168.1.1/31
  no shutdown

router bgp 63000
  router-id 192.168.1.1
  bestpath as-path multipath-relax
  log-neighbor-changes
  neighbor 192.168.1.0
    remote-as 65000
    description P2P_TOR1_To_Border1/TOR1
    address-family ipv4 unicast
      maximum-prefix 12000 warning-only



router bgp 63000
  router-id 192.168.1.1
  bestpath as-path multipath-relax
  log-neighbor-changes
  neighbor 192.168.1.0/31
    remote-as 65000
    description P2P_TOR1_To_Border1/TOR1
    address-family ipv4 unicast
      maximum-prefix 12000 warning-only
