
! header.go.tmpl-hostname
! Name: s46-r06-5248hl-6-1a
! Make: DellEMC
! Model: S5248F-ON
hostname s46-r06-5248hl-6-1a

banner motd #
NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE

hostname s46-r06-5248hl-6-1a
BuildVersion: 1.2305.01
Unauthorized access and/or use prohibited.
All access and/or use subject to monitoring.

NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE
#

! prefixlist.go.tmpl-prefixlist
ip prefix-list DEFAULT-FROM-WANSIM seq 5 permit 0.0.0.0/0
ip prefix-list DefaultRoute seq 10 permit 0.0.0.0/0
ip prefix-list DefaultRoute seq 50 deny 0.0.0.0/0 le 32
ip prefix-list FROM-BORDER seq 10 permit 0.0.0.0/0
ip prefix-list FROM-BORDER seq 20 permit 10.10.32.128/25
ip prefix-list FROM-BORDER seq 30 deny 0.0.0.0/0 le 32
ip prefix-list TO-BORDER seq 5 deny 0.0.0.0/0
ip prefix-list TO-BORDER seq 10 permit 0.0.0.0/0 le 32

route-map PREFER-WANSIM permit 10
  match ip address prefix-list DEFAULT-FROM-WANSIM
  set local-preference 200

! stig.go.tmpl-stig_user
password-attributes character-restriction upper 1 lower 1 numeric 1 special-char 1 min-length 15 lockout-period 15 max-retry 3
password-attributes lockout-period 5
!
enable password 0 $CREDENTIAL_PLACEHOLDER$ priv-lvl 15
username admin password $CREDENTIAL_PLACEHOLDER$ role sysadmin
username dellalr password $CREDENTIAL_PLACEHOLDER$ role sysadmin
username $CREDENTIAL_PLACEHOLDER$ password $CREDENTIAL_PLACEHOLDER$ role sysadmin
system-user linuxadmin password $CREDENTIAL_PLACEHOLDER$

! stig.go.tmpl-stig_ssh
ip ssh server enable
ip ssh server cipher aes256-ctr aes192-ctr aes128-ctr
ip ssh server mac hmac-sha1 hmac-sha2-256
ip ssh server max-auth-tries 3
no ip telnet server enable

! stig.go.tmpl-stig_login
login concurrent-session limit 3
!
login statistics enable

! stig.go.tmpl-stig_ztd
ztd cancel

! stig.go.tmpl-stig_mac
mac address-table aging-time 1000000

! stig.go.tmpl-stig_logging
logging audit enable
logging console disable

! qos.go.tmpl-qos
!
wred ecn
 random-detect color green minimum-threshold 150 maximum-threshold 1500 drop-probability 100
 random-detect ecn 
!
class-map type application class-iscsi
!
class-map type network-qos AZS_SERVICES_Dot1p_7
 match qos-group 7 
!
class-map type network-qos AZS_SERVICES_Dot1p_3
 match qos-group 3 
!
class-map type queuing AZS_SERVICES_EtsQue_0
 match queue 0 
!
class-map type queuing AZS_SERVICES_EtsQue_3
 match queue 3 
!
class-map type queuing AZS_SERVICES_EtsQue_7
 match queue 7 
!
trust dot1p-map AZS_SERVICES_Dot1p
 qos-group 0 dot1p 0-2,4-6
 qos-group 3 dot1p 3
 qos-group 7 dot1p 7
!
qos-map traffic-class AZS_SERVICES_Que
 queue 0 qos-group 0-2,4-6
 queue 3 qos-group 3
 queue 7 qos-group 7
!
policy-map type application policy-iscsi
!
policy-map type network-qos AZS_SERVICES_pfc
 !
 class AZS_SERVICES_Dot1p_3
  pause
  pfc-cos 3 
!
policy-map type queuing AZS_SERVICES_ets
 !
 class AZS_SERVICES_EtsQue_0
  bandwidth percent 48
 !
 class AZS_SERVICES_EtsQue_3
  bandwidth percent 50
  random-detect ecn
 !
 class AZS_SERVICES_EtsQue_7
  bandwidth percent 2
!
system qos
 trust-map dot1p AZS_SERVICES_Dot1p
 ets mode on
!

! portgroup.go.tmpl-portgroup
!
port-group 1/1/1
 mode Eth 25g-4x
!
port-group 1/1/2
 mode Eth 25g-4x
!
port-group 1/1/3
 mode Eth 25g-4x
!
port-group 1/1/4
 mode Eth 25g-4x
!
port-group 1/1/5
 mode Eth 25g-4x
!
port-group 1/1/6
 mode Eth 25g-4x
!
port-group 1/1/7
 mode Eth 25g-4x
!
port-group 1/1/8
 mode Eth 25g-4x
!
port-group 1/1/9
 mode Eth 25g-4x
!
port-group 1/1/10
 mode Eth 25g-4x
!
port-group 1/1/11
 mode Eth 10g-4x
!
port-group 1/1/12
 mode Eth 10g-4x
!
port-group 1/1/13
 mode Eth 100g-2x
!
port-group 1/1/14
 mode Eth 100g-2x
!
port-group 1/1/15
 mode Eth 100g-1x
!
port-group 1/1/16
 mode Eth 100g-1x
!
port-group 1/1/17
 mode Eth 100g-1x
!
port-group 1/1/18
 mode Eth 100g-1x

! vlan.go.tmpl-define_vlan
    
interface vlan2
  description UNUSED_VLAN
  no shutdown 
    
interface vlan6
  description HNVPA_6
  no shutdown 
    
interface vlan7
  description Infra_7
  no shutdown 
    
interface vlan99
  description NativeVlan
  no shutdown 
    
interface vlan125
  description BMC_Mgmt_125
  no shutdown 
    
interface vlan201
  description Tenant_201
  no shutdown 
    
interface vlan301
  description LogicalTenant_301
  no shutdown 
    
interface vlan401
  description DhcpTenant_401
  no shutdown 
    
interface vlan501
  description L3forward_501
  no shutdown 
    
interface vlan502
  description L3forward_502
  no shutdown 
    
interface vlan503
  description L3forward_503
  no shutdown 
    
interface vlan504
  description L3forward_504
  no shutdown 
    
interface vlan505
  description L3forward_505
  no shutdown 
    
interface vlan506
  description L3forward_506
  no shutdown 
    
interface vlan507
  description L3forward_507
  no shutdown 
    
interface vlan508
  description L3forward_508
  no shutdown 
    
interface vlan509
  description L3forward_509
  no shutdown 
    
interface vlan510
  description L3forward_510
  no shutdown 
    
interface vlan511
  description L3forward_511
  no shutdown 
    
interface vlan512
  description L3forward_512
  no shutdown 
    
interface vlan513
  description L3forward_513
  no shutdown 
    
interface vlan514
  description L3forward_514
  no shutdown 
    
interface vlan515
  description L3forward_515
  no shutdown 
    
interface vlan516
  description L3forward_516
  no shutdown 
    
interface vlan711
  description Storage_711_TOR1
  no shutdown 


! vlan.go.tmpl-interface_vlan



 
interface vlan6
  description HNVPA_6
  no shutdown
  mtu 9216
  ip address 100.71.143.2/25
  !
  vrrp-group 58
    priority 150
    virtual-address 100.71.143.1
    no preempt
   
interface vlan7
  description Infra_7
  no shutdown
  mtu 9216
  ip address 100.68.148.2/24
  ip helper-address 100.71.12.107
  ip helper-address 100.71.12.108
  ip helper-address 100.71.12.109
  ip helper-address 100.71.12.110
  !
  vrrp-group 59
    priority 150
    virtual-address 100.68.148.1
    no preempt
   
interface vlan125
  description BMC_Mgmt_125
  no shutdown
  mtu 9216
  ip address 100.71.12.123/26
  !
  vrrp-group 57
    priority 150
    virtual-address 100.71.12.65
    no preempt
   
interface vlan201
  description Tenant_201
  no shutdown
  mtu 9216
  ip address 100.68.149.2/24
  !
  vrrp-group 60
    priority 150
    virtual-address 100.68.149.1
    no preempt
   
interface vlan301
  description LogicalTenant_301
  no shutdown
  mtu 9216
  ip address 100.68.150.2/25
  !
  vrrp-group 61
    priority 150
    virtual-address 100.68.150.1
    no preempt
   
interface vlan401
  description DhcpTenant_401
  no shutdown
  mtu 9216
  ip address 100.68.150.130/25
  ip helper-address 100.71.12.126
  !
  vrrp-group 62
    priority 150
    virtual-address 100.68.150.129
    no preempt
   
interface vlan501
  description L3forward_501
  no shutdown
  mtu 9216
  ip address 100.68.151.2/28
  !
  vrrp-group 63
    priority 150
    virtual-address 100.68.151.1
    no preempt
   
interface vlan502
  description L3forward_502
  no shutdown
  mtu 9216
  ip address 100.68.151.18/28
  !
  vrrp-group 64
    priority 150
    virtual-address 100.68.151.17
    no preempt
   
interface vlan503
  description L3forward_503
  no shutdown
  mtu 9216
  ip address 100.68.151.34/28
  !
  vrrp-group 65
    priority 150
    virtual-address 100.68.151.33
    no preempt
   
interface vlan504
  description L3forward_504
  no shutdown
  mtu 9216
  ip address 100.68.151.50/28
  !
  vrrp-group 66
    priority 150
    virtual-address 100.68.151.49
    no preempt
   
interface vlan505
  description L3forward_505
  no shutdown
  mtu 9216
  ip address 100.68.151.66/28
  !
  vrrp-group 67
    priority 150
    virtual-address 100.68.151.65
    no preempt
   
interface vlan506
  description L3forward_506
  no shutdown
  mtu 9216
  ip address 100.68.151.82/28
  !
  vrrp-group 68
    priority 150
    virtual-address 100.68.151.81
    no preempt
   
interface vlan507
  description L3forward_507
  no shutdown
  mtu 9216
  ip address 100.68.151.98/28
  !
  vrrp-group 69
    priority 150
    virtual-address 100.68.151.97
    no preempt
   
interface vlan508
  description L3forward_508
  no shutdown
  mtu 9216
  ip address 100.68.151.114/28
  !
  vrrp-group 70
    priority 150
    virtual-address 100.68.151.113
    no preempt
   
interface vlan509
  description L3forward_509
  no shutdown
  mtu 9216
  ip address 100.68.151.130/28
  !
  vrrp-group 71
    priority 150
    virtual-address 100.68.151.129
    no preempt
   
interface vlan510
  description L3forward_510
  no shutdown
  mtu 9216
  ip address 100.68.151.145/28
  !
  vrrp-group 72
    priority 150
    virtual-address 10.69.179.145
    no preempt
   
interface vlan511
  description L3forward_511
  no shutdown
  mtu 9216
  ip address 100.68.151.162/28
  !
  vrrp-group 73
    priority 150
    virtual-address 100.68.151.161
    no preempt
   
interface vlan512
  description L3forward_512
  no shutdown
  mtu 9216
  ip address 100.68.151.178/28
  !
  vrrp-group 74
    priority 150
    virtual-address 100.68.151.177
    no preempt
   
interface vlan513
  description L3forward_513
  no shutdown
  mtu 9216
  ip address 100.68.151.194/28
  !
  vrrp-group 75
    priority 150
    virtual-address 100.68.151.193
    no preempt
   
interface vlan514
  description L3forward_514
  no shutdown
  mtu 9216
  ip address 100.68.151.210/28
  !
  vrrp-group 76
    priority 150
    virtual-address 100.68.151.209
    no preempt
   
interface vlan515
  description L3forward_515
  no shutdown
  mtu 9216
  ip address 100.68.151.226/28
  !
  vrrp-group 77
    priority 150
    virtual-address 100.68.151.225
    no preempt
   
interface vlan516
  description L3forward_516
  no shutdown
  mtu 9216
  ip address 100.68.151.242/28
  !
  vrrp-group 78
    priority 150
    virtual-address 100.68.151.241
    no preempt
  
! stig.go.tmpl-stig_lldp
lldp enable
dcbx enable

! stig.go.tmpl-stig_dhcp
no ip dhcp-relay information-option
no ip dhcp snooping

! stig.go.tmpl-stig_vrrp
vrrp version 3
vrrp delay reload 180

! settings.go.tmpl-set_ntp
clock timezone standard-timezone America/Los_Angeles
ntp server 10.10.240.20
ntp source vlan125

! settings.go.tmpl-set_syslog
logging server 10.10.43.111
logging source-interface vlan125
logging audit enable 
logging console disable 
logging audit enable
logging console disable

! stig.go.tmpl-set_tacacs
! Replace [TACACS_SERVER] and [TACACS_KEY] with your TACACS server and key
ip tacacs source-interface vlan125
tacacs-server host [TACACS_SERVER1] key [TACACS_KEY]
tacacs-server host [TACACS_SERVER2] key [TACACS_KEY]

aaa authentication login default group tacacs+
aaa authentication login console group tacacs+ local
aaa accounting commands all default start-stop group tacacs+

! portchannel.go.tmpl-tor_portchannel

interface port-channel50
  description VLTi:P2P_IBGP
  no switchport
  mtu 9216
  ip address 100.71.12.17/30
  no shutdown 
  
interface port-channel102
  description VLTi:TOR_BMC
  switchport mode trunk
  switchport access vlan 99
  switchport trunk allowed vlan 125
  vlt-port-channel 102
  no shutdown 
  


interface loopback0
  description Loopback0_Tor1
  ip address 100.71.12.21/32

! port.go.tmpl-port
interface ethernet 1/1/1
  description "HyperConverged"
  no shutdown
  mtu 9216
  flowcontrol receive off
  no switchport
  switchport mode trunk
  switchport access vlan 7
  switchport trunk allowed vlan 6-7,201,301,401,501-516,711
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  
interface ethernet 1/1/2
  description "HyperConverged"
  no shutdown
  mtu 9216
  flowcontrol receive off
  no switchport
  switchport mode trunk
  switchport access vlan 7
  switchport trunk allowed vlan 6-7,201,301,401,501-516,711
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  
interface ethernet 1/1/3
  description "HyperConverged"
  no shutdown
  mtu 9216
  flowcontrol receive off
  no switchport
  switchport mode trunk
  switchport access vlan 7
  switchport trunk allowed vlan 6-7,201,301,401,501-516,711
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  
interface ethernet 1/1/4
  description "HyperConverged"
  no shutdown
  mtu 9216
  flowcontrol receive off
  no switchport
  switchport mode trunk
  switchport access vlan 7
  switchport trunk allowed vlan 6-7,201,301,401,501-516,711
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  
interface ethernet 1/1/5
  description "HyperConverged"
  no shutdown
  mtu 9216
  flowcontrol receive off
  no switchport
  switchport mode trunk
  switchport access vlan 7
  switchport trunk allowed vlan 6-7,201,301,401,501-516,711
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  
interface ethernet 1/1/6
  description "HyperConverged"
  no shutdown
  mtu 9216
  flowcontrol receive off
  no switchport
  switchport mode trunk
  switchport access vlan 7
  switchport trunk allowed vlan 6-7,201,301,401,501-516,711
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  
interface ethernet 1/1/7
  description "HyperConverged"
  no shutdown
  mtu 9216
  flowcontrol receive off
  no switchport
  switchport mode trunk
  switchport access vlan 7
  switchport trunk allowed vlan 6-7,201,301,401,501-516,711
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  
interface ethernet 1/1/8
  description "HyperConverged"
  no shutdown
  mtu 9216
  flowcontrol receive off
  no switchport
  switchport mode trunk
  switchport access vlan 7
  switchport trunk allowed vlan 6-7,201,301,401,501-516,711
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  
interface ethernet 1/1/9
  description "HyperConverged"
  no shutdown
  mtu 9216
  flowcontrol receive off
  no switchport
  switchport mode trunk
  switchport access vlan 7
  switchport trunk allowed vlan 6-7,201,301,401,501-516,711
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  
interface ethernet 1/1/10
  description "HyperConverged"
  no shutdown
  mtu 9216
  flowcontrol receive off
  no switchport
  switchport mode trunk
  switchport access vlan 7
  switchport trunk allowed vlan 6-7,201,301,401,501-516,711
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  
interface ethernet 1/1/11
  description "HyperConverged"
  no shutdown
  mtu 9216
  flowcontrol receive off
  no switchport
  switchport mode trunk
  switchport access vlan 7
  switchport trunk allowed vlan 6-7,201,301,401,501-516,711
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  
interface ethernet 1/1/12
  description "HyperConverged"
  no shutdown
  mtu 9216
  flowcontrol receive off
  no switchport
  switchport mode trunk
  switchport access vlan 7
  switchport trunk allowed vlan 6-7,201,301,401,501-516,711
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  
interface ethernet 1/1/13
  description "HyperConverged"
  no shutdown
  mtu 9216
  flowcontrol receive off
  no switchport
  switchport mode trunk
  switchport access vlan 7
  switchport trunk allowed vlan 6-7,201,301,401,501-516,711
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  
interface ethernet 1/1/14
  description "HyperConverged"
  no shutdown
  mtu 9216
  flowcontrol receive off
  no switchport
  switchport mode trunk
  switchport access vlan 7
  switchport trunk allowed vlan 6-7,201,301,401,501-516,711
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  
interface ethernet 1/1/15
  description "HyperConverged"
  no shutdown
  mtu 9216
  flowcontrol receive off
  no switchport
  switchport mode trunk
  switchport access vlan 7
  switchport trunk allowed vlan 6-7,201,301,401,501-516,711
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  
interface ethernet 1/1/16
  description "HyperConverged"
  no shutdown
  mtu 9216
  flowcontrol receive off
  no switchport
  switchport mode trunk
  switchport access vlan 7
  switchport trunk allowed vlan 6-7,201,301,401,501-516,711
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  
interface ethernet 1/1/17
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/18
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/19
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/20
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/21
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/22
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/23
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/24
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/25
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/26
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/27
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/28
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/29
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/30
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/31
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/32
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/33
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/34
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/35
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/36
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/37
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/38
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/39
  description "P2P_IBGP"
  no shutdown
  mtu 9216
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  channel-group 50 mode active
  
interface ethernet 1/1/40
  description "P2P_IBGP"
  no shutdown
  mtu 9216
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  channel-group 50 mode active
  
interface ethernet 1/1/41:1
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/42:1
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/43:1
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/44:1
  description "TOR_BMC"
  no shutdown
  mtu 9216
  flowcontrol receive off
  channel-group 102 mode active
  
interface ethernet 1/1/45:1
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/46:1
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/47:1
  description "P2P_Border2"
  no shutdown
  mtu 9216
  flowcontrol receive off
  no switchport
  ip address 100.71.12.10/30
  
interface ethernet 1/1/48:1
  description "P2P_Border1"
  no shutdown
  mtu 9216
  flowcontrol receive off
  no switchport
  ip address 100.71.12.2/30
  
interface ethernet 1/1/49
  description "MLAG_PEER"
  no shutdown
  mtu 9216
  flowcontrol receive off
  no switchport
  no ip address
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  
interface ethernet 1/1/50
  description "MLAG_PEER"
  no shutdown
  mtu 9216
  flowcontrol receive off
  no switchport
  no ip address
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  
interface ethernet 1/1/51
  description "MLAG_PEER"
  no shutdown
  mtu 9216
  flowcontrol receive off
  no switchport
  no ip address
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  
interface ethernet 1/1/52
  description "MLAG_PEER"
  no shutdown
  mtu 9216
  flowcontrol receive off
  no switchport
  no ip address
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  
interface ethernet 1/1/53
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/54
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/55
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface ethernet 1/1/56
  description "Unused"
  shutdown
  mtu 9216
  flowcontrol receive off
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  
interface mgmt 1/1/1
  description "use the BMCMgmt switch virtual interface"
  no ip address
  shutdown


! vlt.go.tmpl-vlt

vlt-domain 1 
  backup destination 100.71.12.18
  discovery-interface ethernet 1/1/49
  discovery-interface ethernet 1/1/50
  discovery-interface ethernet 1/1/51
  discovery-interface ethernet 1/1/52
  peer-routing
  primary-priority 1
  vlt-mac de:ad:00:be:ef:01 


! bgp.go.tmpl-bgp
router bgp 64556
  router-id 100.71.12.21
  bestpath as-path multipath-relax
  maximum-paths ebgp 8
  maximum-paths ibgp 8
  address-family ipv4 unicast
    network 100.71.12.0/30
    network 100.71.12.8/30
    network 100.71.12.16/30
    network 100.71.12.21/32
    network 100.71.12.64/26
    network 100.71.143.0/25
    network 100.68.148.0/24
    network 100.68.149.0/24
    network 100.68.150.0/25
    network 100.68.150.128/25
    network 100.68.151.0/28
    network 100.68.151.16/28
    network 100.68.151.32/28
    network 100.68.151.48/28
    network 100.68.151.64/28
    network 100.68.151.80/28
    network 100.68.151.96/28
    network 100.68.151.112/28
    network 100.68.151.128/28
    network 100.68.151.144/28
    network 100.68.151.160/28
    network 100.68.151.176/28
    network 100.68.151.192/28
    network 100.68.151.208/28
    network 100.68.151.224/28
    network 100.68.151.240/28
    
  !
  
  template TO_MUX
    ebgp-multihop 3
    listen 100.71.143.0/25 limit 5
    remote-as 65018
    update-source loopback0
  !
  
  neighbor 100.71.12.1
    description TO_Border1
    remote-as 64846
    no shutdown
    !
    !
    !
    !
    address-family ipv4 unicast
      activate
      sender-side-loop-detection
      next-hop-self
      distribute-list TO-BORDER out
      distribute-list FROM-BORDER in
      
  neighbor 100.71.12.9
    description TO_Border2
    remote-as 64846
    no shutdown
    !
    !
    !
    !
    address-family ipv4 unicast
      activate
      sender-side-loop-detection
      next-hop-self
      distribute-list TO-BORDER out
      distribute-list FROM-BORDER in
      
  neighbor 100.71.12.18
    description TO_TOR2
    remote-as 64556
    no shutdown
    password $CREDENTIAL_PLACEHOLDER$
    !
    !
    !
    address-family ipv4 unicast
      activate
      sender-side-loop-detection
      next-hop-self
      
      
      
  