{% if vlans is defined -%}
! vlan.j2

{%- for vlan in vlans %}
interface vlan{{ vlan.vlan_id }}
  description {{ vlan.name }}
  {%- if vlan.interface is defined and vlan.interface.mtu is defined %}
  mtu {{ vlan.interface.mtu }}
  {%- endif %}
  {%- if vlan.shutdown is defined and vlan.shutdown %}
  shutdown
  {%- else %}
  no shutdown
  {%- endif %}
  {%- if vlan.interface is defined and vlan.interface.ip is defined and vlan.interface.cidr is defined %}
  ip address {{ vlan.interface.ip }}/{{ vlan.interface.cidr }}
  {%- endif -%}

  {# DHCP Relay #}
  {%- if vlan.interface is defined and vlan.interface.dhcp_relay is defined %}
    {%- for ip in vlan.interface.dhcp_relay %}
  ip helper-address {{ ip }}
    {%- endfor %}
  {%- endif -%}

  {# Redundancy #}
  {%- if vlan.interface is defined and vlan.interface.redundancy is defined %}
    {%- if vlan.interface.redundancy.type == "hsrp" %}
  hsrp version 2
  hsrp {{ vlan.interface.redundancy.group }}
    priority {{ vlan.interface.redundancy.priority }}
    ip {{ vlan.interface.redundancy.virtual_ip }}
    {%- elif vlan.interface.redundancy.type == "vrrp" %}
  vrrp-group {{ vlan.interface.redundancy.group }}
    priority {{ vlan.interface.redundancy.priority }}
    virtual-address {{ vlan.interface.redundancy.virtual_ip }}
    no preempt
    {%- endif %}
  {%- endif %}

{%- endfor -%}
{% endif %}