{{ define "torport"}}
! torport.go.tmpl-torport
{{ range . -}}
{{ if eq .Type "mgmt" -}}
interface {{ .Port }}
  description BMCMgmt_switch_virtual_interface
  no ip redirects
  no ipv6 redirects
  shutdown
{{ else -}}
interface {{ .Type}} {{ .Port }}
  description {{ .Description }}
  no cdp enable
  {{if eq .Function "Unused" -}} 
  switchport
  switchport access vlan {{ .UntagVlan }}
  spanning-tree port type edge
  no logging event port link-status
  mtu {{ .Mtu }}
  {{else if (eq .Function "HyperConverged") -}}
  switchport
  switchport mode trunk
  switchport trunk native vlan {{ .UntagVlan }}
  switchport trunk allowed vlan {{ .TagVlanString }}
  priority-flow-control mode on send-tlv
  spanning-tree port type edge trunk
  no logging event port link-status
  service-policy type qos input AZS_SERVICES
  mtu {{ .Mtu }}
  {{else if (eq .Function "Compute") -}}
  switchport
  switchport mode trunk
  switchport trunk native vlan {{ .UntagVlan }}
  switchport trunk allowed vlan {{ .TagVlanString }}
  spanning-tree port type edge trunk
  no logging event port link-status
  mtu {{ .Mtu }}
  {{else if eq .Function "Storage" -}}
  switchport
  switchport mode trunk
  switchport trunk native vlan {{ .UntagVlan }}
  switchport trunk allowed vlan {{ .TagVlanString }}
  priority-flow-control mode on send-tlv
  spanning-tree port type edge trunk
  no logging event port link-status
  service-policy type qos input AZS_SERVICES
  mtu {{ .Mtu }}
  {{else if eq .Function "MLAG_Peer" -}}
  switchport
  switchport mode trunk
  switchport trunk native vlan {{ .UntagVlan }}
  priority-flow-control mode on send-tlv
  logging event port link-status
  channel-group {{ .Others.ChannelGroup }} mode active
  {{else if eq .Function "P2P_IBGP" -}}
  priority-flow-control mode on send-tlv
  logging event port link-status
  mtu {{ .Mtu }}
  channel-group {{ .Others.ChannelGroup }} mode active
  {{else if eq .Function "TOR_BMC" -}}
  switchport
  switchport mode trunk
  switchport trunk native vlan {{ .UntagVlan }}
  switchport trunk allowed vlan {{ .TagVlanString }}
  spanning-tree port type network
  logging event port link-status
  mtu {{ .Mtu }}
  channel-group {{ .Others.ChannelGroup }}
  {{else if eq .Function "P2P_Border1" -}}
  no switchport
  no ip redirects
  ip address {{ .IPAddress }}
  no ipv6 redirects
  mtu {{ .Mtu }}
  {{else if eq .Function "P2P_Border2" -}}
  no switchport
  no ip redirects
  ip address {{ .IPAddress }}
  no ipv6 redirects
  mtu {{ .Mtu }}
  {{ end -}}
  {{ if .Shutdown }}shutdown{{ else }}no shutdown{{ end }}
  {{ end }}
{{ end -}}
{{ end -}}