{{- /* Only one compose file using under the folder so use if else for better organize */ -}}
{{- /* BMC Switch */ -}}
{{- if eq .Switch.Type "BMC" -}}
{{ template "hostname" . -}}
{{if .Routing.PrefixList}}{{ template "prefixlist" . -}} {{ end -}}
{{ template "stig_user" .GlobalSetting -}}
{{ template "stig_feature" . -}}
{{ template "stig_ssh" -}}
{{ template "define_vlan" .Vlans -}}
{{ template "interface_vlan" . -}}
{{ template "stp" .Switch -}}
{{ template "vpc" . -}}
{{if .PortChannel}}{{ template "portchannel" . -}}{{ end -}}
{{ template "bmcport" .Ports -}}
{{ template "loopback" .L3Interfaces -}}
{{ template "set_global" -}}
{{ template "set_snmp" -}}
{{ template "set_errdisable_setting" -}}
{{ template "set_rmon" -}}
{{ template "set_dhcp" -}}
{{ template "set_console_vty" -}}
{{ template "set_ntp" .GlobalSetting -}}
{{ template "set_syslog" .GlobalSetting -}}
{{ template "set_load_sharing" -}}
{{ template "set_icmp_errors" .GlobalSetting -}}
{{if ne .Routing.BGP.BGPAsn 0 }}{{ template "bgp" .Routing.BGP -}}{{ end -}}
{{if .Routing.Static}}{{ template "static" .Routing.Static -}} {{ end -}}
{{- /* TOR Switch */ -}}
{{- else -}}
{{ template "hostname" . -}}
{{ template "stig_feature" . -}}
{{ template "stig_user" .GlobalSetting -}}
{{ template "stig_ssh" -}}
{{ template "qos" -}}
{{ template "define_vlan" .Vlans -}}
{{ template "interface_vlan" . -}}
{{ template "stp" .Switch -}}
{{ template "vpc" . -}}
{{if .PortChannel}}{{ template "portchannel" . -}}{{ end -}}
{{ template "torport" .Ports -}}
{{ template "loopback" .L3Interfaces -}}
{{ template "wansim_gre" . -}}
{{ template "set_global" -}}
{{ template "set_snmp" -}}
{{ template "set_errdisable_setting" -}}
{{ template "set_rmon" -}}
{{ template "set_dhcp" -}}
{{ template "set_console_vty" -}}
{{ template "set_ntp" .GlobalSetting -}}
{{ template "set_syslog" .GlobalSetting -}}
{{ template "set_load_sharing" -}}
{{ template "set_icmp_errors" .GlobalSetting -}}
{{if .Routing.PrefixList}}{{ template "prefixlist" . -}} {{ end -}}
{{if ne .Routing.BGP.BGPAsn 0 }}{{ template "bgp" .Routing.BGP -}}{{ end -}}
{{if ne .Routing.BGP.BGPAsn 0 }}{{ template "wansim_bgp" . -}}{{ end -}}
{{if .Routing.Static}}{{ template "static" .Routing.Static -}} {{ end -}}
{{- /* {{ template "define_vlan" .Vlans -}}
{{ template "interface_vlan" .Vlans -}} */ -}}
{{ end }}