{{ define "bgp"}}
{{ if ne .BGPAsn 0 }}
! bgp.go.tmpl-bgp
router bgp {{ .BGPAsn }}
  router-id {{ .RouterID }}
  bestpath as-path multipath-relax
  log-neighbor-changes
  address-family ipv4 unicast
    {{ range .IPv4Network -}}  
      network {{.}}
    {{ end -}}
    maximum-paths 8
    maximum-paths ibgp 8
    {{- if .RouteMap }}
    default-information originate
    {{ range .RouteMap -}} 
    redistribute static route-map {{.Name}}
    {{ end -}}
    {{ end }}
  {{ range .IPv4Neighbor -}}  
  neighbor {{ .NeighborIPAddress }}
    description {{ .Description }}
    remote-as {{ .NeighborAsn }}
    address-family ipv4 unicast
      {{ range .PrefixList -}}
      prefix-list {{.Name}} {{.Direction}}
      {{ end -}}
      maximum-prefix 12000 warning-only
    {{ if .RemovePrivateAS }}remove-private-as{{ end -}}
    {{ if ne .NbrPassword "" }}password {{.NbrPassword}} {{ end -}}
    {{ if ne .UpdateSource "" }}update-source {{.UpdateSource}}{{ end }}
    {{ if ne .LocalAS "" }}local-as {{.LocalAS}}{{ end }}
    {{ if ne .EBGPMultiHop 0 }}ebgp-multihop {{.EBGPMultiHop}}{{ end }}
  {{ end -}}

{{ if .RouteMap }}
{{ range .RouteMap -}} 
route-map {{.Name}} {{.Action}} {{.Seq}}
  {{ range .Rules -}} 
  match ip address prefix-list {{.PrefixList}}
  {{ end -}}
{{ end -}}
{{ end -}}
{{ end -}}
{{ end -}}