{{ define "bmcport"}}
! bmcport.go.tmpl-bmcport
{{ range . -}}
{{ if eq .Type "mgmt" -}}
interface {{ .Port }}
  no cdp enable
  vrf member management
  shutdown
{{ else -}}
interface {{ .Type}} {{ .Port }}
  description {{ .Description }}
  no cdp enable
  {{ if eq .Function "Unused" -}} 
  switchport
  switchport access vlan {{ .UntagVlan }}
  spanning-tree port type edge
  no logging event port link-status
  {{ else if or (eq .Function "HLH_BMC") (eq .Function "HLH_OS") (eq .Function "HOST_BMC") -}}
  switchport
  switchport access vlan {{ .UntagVlan }}
  spanning-tree port type edge
  no logging event port link-status
  {{ else if eq .Function "TOR_BMC" -}}
  switchport
  switchport mode trunk
  switchport trunk native vlan {{ .UntagVlan }}
  switchport trunk allowed vlan {{ .TagVlanString }}
  spanning-tree port type network
  logging event port link-status
  channel-group 102
  {{ end -}}
  mtu {{ .Mtu }}
  {{ if .Shutdown }}shutdown{{ else }}no shutdown{{ end }}
  {{ end }}
{{ end -}}
{{ end -}}