{{ define "stig_user"}}
! stig.go.tmpl-stig_user
fips mode enable
user max-logins 1
password prompt username
userpassphrase min-length 15 max-length 80
username admin password 0 {{ .Password }} role network-admin
username {{ .Username }} password 0 {{ .Password }} role network-admin
!
! SSH Key based authentication. Post process this section before applying the initial configuration.
!
! Remove the ability to login with a password
! username <sshAuthUsername> password 5 ! role network-admin
! 
! Add the public key to the config
! username <sshAuthUsername> sshkey <PublicKey>
!
{{ end }}

{{ define "stig_ssh"}}
! stig.go.tmpl-stig_ssh
no feature ssh
no ssh key ecdsa
no ssh key rsa
ssh key rsa 2048 force
ssh key ecdsa 256 force
feature ssh
{{ end }}

{{ define "stig_feature"}}
! stig.go.tmpl-tor_feature
no feature telnet
feature scp-server
feature bgp
feature interface-vlan
feature lldp
feature dhcp
feature vpc
feature hsrp
feature lacp
feature ssh
feature tacacs+
no cdp enable
! FIPS mode will automatically enable nxapi, the work around is to remove the ports it listens on.
feature nxapi
no nxapi http
no nxapi https
lldp tlv-select dcbxp egress-queuing
{{ end }}