
! header.go.tmpl-hostname
! Name: rr1-s31-r16-9348bmc-10-1
! Make: Cisco
! Model: 9348GC-FXP
hostname rr1-s31-r16-9348bmc-10-1

banner motd #
NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE

hostname rr1-s31-r16-9348bmc-10-1
BuildVersion: 1.2305.01
Unauthorized access and/or use prohibited.
All access and/or use subject to monitoring.

NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE
#

! stig.go.tmpl-stig_user
fips mode enable
user max-logins 1
password prompt username
userpassphrase min-length 15 max-length 80
username admin password 0 $CREDENTIAL_PLACEHOLDER$ role network-admin
username $CREDENTIAL_PLACEHOLDER$ password 0 $CREDENTIAL_PLACEHOLDER$ role network-admin
!
! SSH Key based authentication. Post process this section before applying the initial configuration.
!
! Remove the ability to login with a password
! username <sshAuthUsername> password 5 ! role network-admin
! 
! Add the public key to the config
! username <sshAuthUsername> sshkey <PublicKey>
!

! stig.go.tmpl-tor_feature
no feature telnet
feature scp-server
feature bgp
feature interface-vlan
feature lldp
feature dhcp
feature vpc
feature hsrp
feature lacp
feature ssh
feature tunnel
no cdp enable
! FIPS mode will automatically enable nxapi, the work around is to remove the ports it listens on.
feature nxapi
no nxapi http
no nxapi https 

! stig.go.tmpl-stig_ssh
no feature ssh
no ssh key ecdsa
no ssh key rsa
ssh key rsa 2048 force
ssh key ecdsa 256 force
feature ssh

! vlan.go.tmpl-define_vlan
vlan 2
  name UNUSED_VLAN
vlan 99
  name NativeVlan
vlan 125
  name BMC_Mgmt_125


! vlan.go.tmpl-interface_vlan





interface vlan125
  description BMC_Mgmt_125
  mtu 9216
  no shutdown
  ip address 100.71.45.253/26
  no ip redirects
  no ipv6 redirects
  

! stp.go.tmpl-stp

spanning-tree mode mst
spanning-tree port type edge bpduguard default
spanning-tree mst 0-1 priority 32768
spanning-tree mst 2 priority 28672
spanning-tree mst configuration
  name AzureStack
  revision 1
  instance 1 vlan 1-1999
  instance 2 vlan 2000-4094

! vpc.go.tmpl-vpc

! portchannel.go.tmpl-portchannel
interface port-channel102
  description VPC:TOR_BMC
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  switchport trunk allowed vlan 125
  spanning-tree port type network
  logging event port link-status
  mtu 9216
  !
  no shutdown 
  

! bmcport.go.tmpl-bmcport
interface Ethernet 1/1
  description HOST_BMC
  no cdp enable
  switchport
  switchport access vlan 125
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  no shutdown
  
interface Ethernet 1/2
  description HOST_BMC
  no cdp enable
  switchport
  switchport access vlan 125
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  no shutdown
  
interface Ethernet 1/3
  description HOST_BMC
  no cdp enable
  switchport
  switchport access vlan 125
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  no shutdown
  
interface Ethernet 1/4
  description HOST_BMC
  no cdp enable
  switchport
  switchport access vlan 125
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  no shutdown
  
interface Ethernet 1/5
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/6
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/7
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/8
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/9
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/10
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/11
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/12
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/13
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/14
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/15
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/16
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/17
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/18
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/19
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/20
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/21
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/22
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/23
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/24
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/25
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/26
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/27
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/28
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/29
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/30
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/31
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/32
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/33
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/34
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/35
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/36
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/37
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/38
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/39
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/40
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/41
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/42
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/43
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/44
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/45
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/46
  description HLH_BMC
  no cdp enable
  switchport
  switchport access vlan 125
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  no shutdown
  
interface Ethernet 1/47
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/48
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/49
  description HLH_OS
  no cdp enable
  switchport
  switchport access vlan 125
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  no shutdown
  
interface Ethernet 1/50
  description HLH_OS
  no cdp enable
  switchport
  switchport access vlan 125
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  no shutdown
  
interface Ethernet 1/51
  description TOR_BMC
  no cdp enable
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  switchport trunk allowed vlan 125
  spanning-tree port type network
  logging event port link-status
  channel-group 102
  mtu 9216
  no shutdown
  
interface Ethernet 1/52
  description TOR_BMC
  no cdp enable
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  switchport trunk allowed vlan 125
  spanning-tree port type network
  logging event port link-status
  channel-group 102
  mtu 9216
  no shutdown
  
interface Ethernet 1/53
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface Ethernet 1/54
  description Unused
  no cdp enable
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  shutdown
  
interface mgmt0
  no cdp enable
  vrf member management
  shutdown



! settings.go.tmpl-set_global
cli alias name wr copy running-config startup-config

! settings.go.tmpl-set_snmp
snmp-server globalEnforcePriv
no snmp-server protocol enable

! settings.go.tmpl-set_errdisable_setting
errdisable recovery interval 600
errdisable recovery cause link-flap
errdisable recovery cause udld
errdisable recovery cause bpduguard
system default switchport shutdown
switching-mode store-forward

! settings.go.tmpl-set_rmon
rmon event 1 description FATAL(1) owner PMON@FATAL
rmon event 2 description CRITICAL(2) owner PMON@CRITICAL
rmon event 3 description ERROR(3) owner PMON@ERROR
rmon event 4 description WARNING(4) owner PMON@WARNING
rmon event 5 description INFORMATION(5) owner PMON@INFO

! settings.go.tmpl-set_dhcp
service dhcp
ip dhcp relay

! settings.go.tmpl-set_console_vty
line console
  exec-timeout 10
line vty
  exec-timeout 10
  session-limit 3

! settings.go.tmpl-set_ntp
clock timezone PST -8 0
clock summer-time PDT 2 Sun Apr 02:00 1 Sun Nov 02:00 60
ntp server 10.10.240.20
ntp source-interface vlan125

! settings.go.tmpl-set_syslog
logging server 10.10.43.111 7 facility local7 use-vrf default
logging source-interface vlan125
logging level local7 7
no logging console
login on-success log
logging origin-id hostname
!
logging level acllog 7
logging level aclmgr 7
logging level eth_port_channel 7
logging level hsrp 7
logging level icam 7
logging level interface-vlan 7
logging level ipqosmgr 7
logging level vlan_mgr 7
logging level vpc 7
logging level netstack 7
logging level bgp 7

! settings.go.tmpl-set_load_sharing
ip load-sharing address source-destination port source-destination

! settings.go.tmpl-set_icmp_errors
ip icmp-errors source-interface vlan125

! static.go.tmpl-static
ip route 0.0.0.0/0 100.71.45.193 name GlobalDefaultRoute
