!
! create_vpcchannelgroup.j2
!!!
!!! VPC Port Channel BMCTOR 102
!!!
interface port-channel102
  description VPC:BMCTOR:PO102
  switchport
  switchport mode trunk
  switchport trunk allowed vlan 125
  spanning-tree port type network
  logging event port link-status

interface Ethernet 1/51
  description L2 connection to TOR-BMC
  no cdp enable
  mtu 1500
  switchport
  switchport mode trunk
  switchport trunk allowed vlan 125
  logging event port link-status
  channel-group 102
  no shutdown

interface Ethernet 1/52
  description L2 connection to TOR-BMC
  no cdp enable
  mtu 1500
  switchport
  switchport mode trunk
  switchport trunk allowed vlan 125
  logging event port link-status
  channel-group 102
  no shutdown


!
ip route 0.0.0.0/0 100.71.28.65 name GlobalDefaultRoute
(vlan 125 hsrp vip)