
! header.go.tmpl-hostname
! Name: BMC
! Make: Cisco
! Model: 9348GC-FXP

banner motd #
NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE

Unauthorized access and/or use prohibited.
All access and/or use subject to monitoring.

NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE
#

hostname BMC

! stig.go.tmpl-stig_user
fips mode enable
user max-logins 1
password prompt username
userpassphrase min-length 15 max-length 80
username admin password 0 c2!cuh%xMC8*aRt9 role network-admin
username azureadmin-vlzxb password 0 c2!cuh%xMC8*aRt9 role network-admin
!
! SSH Key based authentication. Post process this section before applying the initial configuration.
!
! Remove the ability to login with a password
! username <sshAuthUsername> password 5 ! role network-admin
! 
! Add the public key to the config
! username <sshAuthUsername> sshkey <PublicKey>
!

! stig.go.tmpl-stig_ssh
no feature ssh
no ssh key ecdsa
no ssh key rsa
ssh key rsa 2048 force
ssh key ecdsa 256 force
feature ssh

! stig.go.tmpl-tor_feature
no feature telnet
feature scp-server
feature bgp
feature interface-vlan
feature lldp
feature dhcp
feature vpc
feature hsrp
feature lacp
feature ssh
no cdp enable
! FIPS mode will automatically enable nxapi, the work around is to remove the ports it listens on.
feature nxapi
no nxapi http
no nxapi https 

! qos.go.tmpl-qos
!
! Ingress traffic to the Interface
policy-map type network-qos QOS_NETWORK
  class type network-qos c-8q-nq3
    pause pfc-cos 3
    mtu 9216
  class type network-qos c-8q-nq5
    mtu 9216
  class type network-qos c-8q-nq-default
    mtu 9216

policy-map type network-qos jumbo-queuing
  class type network-qos class-default
    mtu 9216

! Identify the traffic
class-map type qos match-all RDMA
  match cos 3
class-map type qos match-all CLUSTER
  match cos 5

! Map the traffic to a queue map from the class-map
policy-map type qos AZS_SERVICES
  class RDMA
    set qos-group 3
  class CLUSTER
    set qos-group 5

! Egress traffic from the interface
policy-map type queuing QOS_EGRESS_PORT
  class type queuing c-out-8q-q3
    bandwidth remaining percent 50
    random-detect minimum-threshold 300 kbytes maximum-threshold 300 kbytes drop-probability 100 weight 0 ecn
  class type queuing c-out-8q-q-default
    bandwidth remaining percent 48
  class type queuing c-out-8q-q1
    bandwidth remaining percent 0
  class type queuing c-out-8q-q2
    bandwidth remaining percent 0
  class type queuing c-out-8q-q4
    bandwidth remaining percent 0
  class type queuing c-out-8q-q5
    bandwidth percent 2
  class type queuing c-out-8q-q6
    bandwidth remaining percent 0
  class type queuing c-out-8q-q7
    bandwidth remaining percent 0

! Apply to the system
system qos
  service-policy type queuing output QOS_EGRESS_PORT
  service-policy type network-qos QOS_NETWORK

! vlan.go.tmpl-define_vlan
vlan 125
  name BMC_Mgmt_125


! vlan.go.tmpl-interface_vlaninterface vlan125
  description BMC_Mgmt_125
  mtu 1500
  no shutdown
  ip address 10.71.85.125/26
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 125
    ip 10.71.85.65
  


! vpc.go.tmpl-vpc

! port.go.tmpl-port
interface Ethernet 1/1
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/2
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/3
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/4
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/5
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/6
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/7
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/8
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/9
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/10
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/11
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/12
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/13
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/14
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/15
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/16
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/17
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/18
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/19
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/20
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/21
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/22
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/23
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/24
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/25
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/26
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/27
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/28
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/29
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/30
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/31
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/32
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/33
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/34
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/35
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/36
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/37
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/38
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/39
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/40
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/41
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/42
  description Reserved_For_PDU
  no cdp enable
  mtu 9216
  shutdown 
  
interface Ethernet 1/43
  description Reserved_For_PDU
  no cdp enable
  mtu 9216
  shutdown 
  
interface Ethernet 1/44
  description Reserved_For_PDU
  no cdp enable
  mtu 9216
  shutdown 
  
interface Ethernet 1/45
  description Reserved_For_PDU
  no cdp enable
  mtu 9216
  shutdown 
  
interface Ethernet 1/46
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/47
  description HLH-BMC
  no cdp enable
  mtu 9216
  shutdown 
  
interface Ethernet 1/48
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/49
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/50
  description HLH-OS
  no cdp enable
  mtu 9216
  shutdown 
  
interface Ethernet 1/51
  description HLH-OS
  no cdp enable
  mtu 9216
  shutdown 
  
interface Ethernet 1/52
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/53
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/54
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface mgmt0
  description use the BMCMgmt switch virtual interface
  no ip redirects
  no ipv6 redirects
  shutdown



! settings.go.tmpl-set_snmp
snmp-server globalEnforcePriv
no snmp-server protocol enable

! settings.go.tmpl-set_errdisable_setting
errdisable recovery interval 600
errdisable recovery cause link-flap
errdisable recovery cause udld
errdisable recovery cause bpduguard
system default switchport shutdown
switching-mode store-forward

! settings.go.tmpl-set_rmon
rmon event 1 description FATAL(1) owner PMON@FATAL
rmon event 2 description CRITICAL(2) owner PMON@CRITICAL
rmon event 3 description ERROR(3) owner PMON@ERROR
rmon event 4 description WARNING(4) owner PMON@WARNING
rmon event 5 description INFORMATION(5) owner PMON@INFO

! settings.go.tmpl-set_dhcp
service dhcp
ip dhcp relay

! settings.go.tmpl-set_console_vty
line console
  exec-timeout 10
line vty
  exec-timeout 10
  access-class ssh-only in
  session-limit 3

! settings.go.tmpl-set_ntp
clock timezone UTC 0 0
ntp server 10.10.240.20
ntp source-interface vlan125

! settings.go.tmpl-set_syslog
logging server 10.10.43.111 7 facility local7 use-vrf default
logging source-interface vlan125
logging level local7 7
no logging console
login on-success log
logging origin-id hostname
!
logging level acllog 7
logging level aclmgr 7
logging level eth_port_channel 7
logging level hsrp 7
logging level icam 7
logging level interface-vlan 7
logging level ipqosmgr 7
logging level vlan_mgr 7
logging level vpc 7
logging level netstack 7
logging level bgp 7

! settings.go.tmpl-set_load_sharing
ip load-sharing address source-destination port source-destination

! settings.go.tmpl-set_icmp_errors
ip icmp-errors source-interface vlan125


! static.go.tmpl-static
ip route 0.0.0.0/0 10.71.85.65 name GlobalDefaultRoute
