
! header.go.tmpl-hostname
! Name: tor-1a
! Make: Cisco
! Model: 93180YC-FX

banner motd #
NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE

Unauthorized access and/or use prohibited.
All access and/or use subject to monitoring.

NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE
#

hostname tor-1a

! stig.go.tmpl-stig_user
fips mode enable
user max-logins 1
password prompt username
userpassphrase min-length 15 max-length 80
username admin password 0  role network-admin
username  password 0  role network-admin
!
! SSH Key based authentication. Post process this section before applying the initial configuration.
!
! Remove the ability to login with a password
! username <sshAuthUsername> password 5 ! role network-admin
! 
! Add the public key to the config
! username <sshAuthUsername> sshkey <PublicKey>
!

! stig.go.tmpl-stig_ssh
no feature ssh
no ssh key ecdsa
no ssh key rsa
ssh key rsa 2048 force
ssh key ecdsa 256 force
feature ssh

! stig.go.tmpl-tor_feature
no feature telnet
feature scp-server
feature bgp
feature interface-vlan
feature lldp
feature dhcp
feature vpc
feature hsrp
feature lacp
feature ssh
no cdp enable
! FIPS mode will automatically enable nxapi, the work around is to remove the ports it listens on.
feature nxapi
no nxapi http
no nxapi https 

! vlan.go.tmpl-define_vlan
vlan 125
  name BMC_Mgmt_125
vlan 6
  name HNVPA_6
vlan 7
  name Infra_7
vlan 201
  name Tenant_201
vlan 301
  name LogicalTenant_301
vlan 401
  name DhcpTenant_401
vlan 501
  name L3forward_501
vlan 502
  name L3forward_502
vlan 503
  name L3forward_503
vlan 504
  name L3forward_504
vlan 505
  name L3forward_505
vlan 506
  name L3forward_506
vlan 507
  name L3forward_507
vlan 508
  name L3forward_508
vlan 509
  name L3forward_509
vlan 510
  name L3forward_510
vlan 511
  name L3forward_511
vlan 512
  name L3forward_512
vlan 513
  name L3forward_513
vlan 514
  name L3forward_514
vlan 515
  name L3forward_515
vlan 516
  name L3forward_516
vlan 711
  name Storage_711
vlan 712
  name Storage_712


! vlan.go.tmpl-interface_vlan

interface vlan6
  description HNVPA_6
  mtu 9216
  no shutdown
  ip address 10.71.131.2
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 6
    ip 10.71.131.1
  
interface vlan7
  description Infra_7
  mtu 9216
  no shutdown
  ip address 10.69.176.2
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 7
    ip 10.69.176.1
  
interface vlan201
  description Tenant_201
  mtu 9216
  no shutdown
  ip address 10.69.177.2
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 201
    ip 10.69.177.1
  
interface vlan301
  description LogicalTenant_301
  mtu 9216
  no shutdown
  ip address 10.69.178.2
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 301
    ip 10.69.178.1
  
interface vlan401
  description DhcpTenant_401
  mtu 9216
  no shutdown
  ip address 10.69.178.130
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 401
    ip 10.69.178.129
  
interface vlan501
  description L3forward_501
  mtu 9216
  no shutdown
  ip address 10.69.179.2
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 501
    ip 10.69.179.1
  
interface vlan502
  description L3forward_502
  mtu 9216
  no shutdown
  ip address 10.69.179.18
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 502
    ip 10.69.179.17
  
interface vlan503
  description L3forward_503
  mtu 9216
  no shutdown
  ip address 10.69.179.34
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 503
    ip 10.69.179.33
  
interface vlan504
  description L3forward_504
  mtu 9216
  no shutdown
  ip address 10.69.179.50
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 504
    ip 10.69.179.49
  
interface vlan505
  description L3forward_505
  mtu 9216
  no shutdown
  ip address 10.69.179.66
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 505
    ip 10.69.179.65
  
interface vlan506
  description L3forward_506
  mtu 9216
  no shutdown
  ip address 10.69.179.82
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 506
    ip 10.69.179.81
  
interface vlan507
  description L3forward_507
  mtu 9216
  no shutdown
  ip address 10.69.179.98
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 507
    ip 10.69.179.97
  
interface vlan508
  description L3forward_508
  mtu 9216
  no shutdown
  ip address 10.69.179.114
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 508
    ip 10.69.179.113
  
interface vlan509
  description L3forward_509
  mtu 9216
  no shutdown
  ip address 10.69.179.130
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 509
    ip 10.69.179.129
  
interface vlan510
  description L3forward_510
  mtu 9216
  no shutdown
  ip address 10.69.179.146
  no ip redirects
  no ipv6 redirects
  
interface vlan511
  description L3forward_511
  mtu 9216
  no shutdown
  ip address 10.69.179.162
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 511
    ip 10.69.179.161
  
interface vlan512
  description L3forward_512
  mtu 9216
  no shutdown
  ip address 10.69.179.178
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 512
    ip 10.69.179.177
  
interface vlan513
  description L3forward_513
  mtu 9216
  no shutdown
  ip address 10.69.179.194
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 513
    ip 10.69.179.193
  
interface vlan514
  description L3forward_514
  mtu 9216
  no shutdown
  ip address 10.69.179.210
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 514
    ip 10.69.179.209
  
interface vlan515
  description L3forward_515
  mtu 9216
  no shutdown
  ip address 10.69.179.226
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 515
    ip 10.69.179.225
  
interface vlan516
  description L3forward_516
  mtu 9216
  no shutdown
  ip address 10.69.179.242
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 516
    ip 10.69.179.241
  



! settings.go.tmpl-set_snmp
snmp-server globalEnforcePriv
no snmp-server protocol enable

! settings.go.tmpl-set_errdisable_setting
errdisable recovery interval 600
errdisable recovery cause link-flap
errdisable recovery cause udld
errdisable recovery cause bpduguard
system default switchport shutdown
switching-mode store-forward

! settings.go.tmpl-set_rmon
rmon event 1 description FATAL(1) owner PMON@FATAL
rmon event 2 description CRITICAL(2) owner PMON@CRITICAL
rmon event 3 description ERROR(3) owner PMON@ERROR
rmon event 4 description WARNING(4) owner PMON@WARNING
rmon event 5 description INFORMATION(5) owner PMON@INFO

! settings.go.tmpl-set_console_vty
line console
  exec-timeout 10
line vty
  exec-timeout 10
  access-class ssh-only in
  session-limit 3

! settings.go.tmpl-set_ntp
clock timezone UTC 0 0
ntp source-interface vlan125

! settings.go.tmpl-set_syslog
logging source-interface vlan125
logging level local7 7
no logging console
login on-success log
logging origin-id hostname
!
logging level acllog 7
logging level aclmgr 7
logging level eth_port_channel 7
logging level hsrp 7
logging level icam 7
logging level interface-vlan 7
logging level ipqosmgr 7
logging level vlan_mgr 7
logging level vpc 7
logging level netstack 7
logging level bgp 7
