
! header.go.tmpl-hostname
! Name: rr1-s46-r22-93180hl-25-1a
! Make: Cisco
! Model: 93180YC-FX

banner motd #
NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE

Unauthorized access and/or use prohibited.
All access and/or use subject to monitoring.

NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE
#

hostname rr1-s46-r22-93180hl-25-1a

! stig.go.tmpl-tor_feature
no feature telnet
feature scp-server
feature bgp
feature interface-vlan
feature lldp
feature dhcp
feature vpc
feature hsrp
feature lacp
feature ssh
no cdp enable
! FIPS mode will automatically enable nxapi, the work around is to remove the ports it listens on.
feature nxapi
no nxapi http
no nxapi https 

! stig.go.tmpl-stig_user
fips mode enable
user max-logins 1
password prompt username
userpassphrase min-length 15 max-length 80
username admin password 0 c2!cuh%xMC8*aRt9 role network-admin
username azureadmin-vlzxb password 0 c2!cuh%xMC8*aRt9 role network-admin
!
! SSH Key based authentication. Post process this section before applying the initial configuration.
!
! Remove the ability to login with a password
! username <sshAuthUsername> password 5 ! role network-admin
! 
! Add the public key to the config
! username <sshAuthUsername> sshkey <PublicKey>
!

! stig.go.tmpl-stig_ssh
no feature ssh
no ssh key ecdsa
no ssh key rsa
ssh key rsa 2048 force
ssh key ecdsa 256 force
feature ssh

! qos.go.tmpl-qos
!
! Ingress traffic to the Interface
policy-map type network-qos QOS_NETWORK
  class type network-qos c-8q-nq3
    pause pfc-cos 3
    mtu 9216
  class type network-qos c-8q-nq5
    mtu 9216
  class type network-qos c-8q-nq-default
    mtu 9216

policy-map type network-qos jumbo-queuing
  class type network-qos class-default
    mtu 9216

! Identify the traffic
class-map type qos match-all RDMA
  match cos 3
class-map type qos match-all CLUSTER
  match cos 5

! Map the traffic to a queue map from the class-map
policy-map type qos AZS_SERVICES
  class RDMA
    set qos-group 3
  class CLUSTER
    set qos-group 5

! Egress traffic from the interface
policy-map type queuing QOS_EGRESS_PORT
  class type queuing c-out-8q-q3
    bandwidth remaining percent 50
    random-detect minimum-threshold 300 kbytes maximum-threshold 300 kbytes drop-probability 100 weight 0 ecn
  class type queuing c-out-8q-q-default
    bandwidth remaining percent 48
  class type queuing c-out-8q-q1
    bandwidth remaining percent 0
  class type queuing c-out-8q-q2
    bandwidth remaining percent 0
  class type queuing c-out-8q-q4
    bandwidth remaining percent 0
  class type queuing c-out-8q-q5
    bandwidth percent 2
  class type queuing c-out-8q-q6
    bandwidth remaining percent 0
  class type queuing c-out-8q-q7
    bandwidth remaining percent 0

! Apply to the system
system qos
  service-policy type queuing output QOS_EGRESS_PORT
  service-policy type network-qos QOS_NETWORK

! vlan.go.tmpl-define_vlan
vlan 125
  name BMC_Mgmt_125
vlan 6
  name HNVPA_6
vlan 7
  name Infra_7
vlan 201
  name Tenant_201
vlan 301
  name LogicalTenant_301
vlan 401
  name DhcpTenant_401
vlan 501
  name L3forward_501
vlan 502
  name L3forward_502
vlan 503
  name L3forward_503
vlan 504
  name L3forward_504
vlan 505
  name L3forward_505
vlan 506
  name L3forward_506
vlan 507
  name L3forward_507
vlan 508
  name L3forward_508
vlan 509
  name L3forward_509
vlan 510
  name L3forward_510
vlan 511
  name L3forward_511
vlan 512
  name L3forward_512
vlan 513
  name L3forward_513
vlan 514
  name L3forward_514
vlan 515
  name L3forward_515
vlan 516
  name L3forward_516
vlan 711
  name Storage_711
vlan 712
  name Storage_712
vlan 2
  name UNUSED_VLAN
vlan 99
  name Cisco_MLAG_NativeVlan


! vlan.go.tmpl-interface_vlaninterface vlan125
  description BMC_Mgmt_125
  mtu 9216
  no shutdown
  ip address 100.71.85.251/26
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 125
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.71.85.193
  
interface vlan6
  description HNVPA_6
  mtu 9216
  no shutdown
  ip address 100.71.131.130/25
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 6
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.71.131.129
  
interface vlan7
  description Infra_7
  mtu 9216
  no shutdown
  ip address 100.69.180.2/24
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 7
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.69.180.1
  
interface vlan201
  description Tenant_201
  mtu 9216
  no shutdown
  ip address 100.69.181.2/24
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 201
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.69.181.1
  
interface vlan301
  description LogicalTenant_301
  mtu 9216
  no shutdown
  ip address 100.69.182.2/25
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 301
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.69.182.1
  
interface vlan401
  description DhcpTenant_401
  mtu 9216
  no shutdown
  ip address 100.69.182.130/25
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 401
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.69.182.129
  
interface vlan501
  description L3forward_501
  mtu 9216
  no shutdown
  ip address 100.69.183.2/28
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 501
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.69.183.1
  
interface vlan502
  description L3forward_502
  mtu 9216
  no shutdown
  ip address 100.69.183.18/28
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 502
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.69.183.17
  
interface vlan503
  description L3forward_503
  mtu 9216
  no shutdown
  ip address 100.69.183.34/28
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 503
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.69.183.33
  
interface vlan504
  description L3forward_504
  mtu 9216
  no shutdown
  ip address 100.69.183.50/28
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 504
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.69.183.49
  
interface vlan505
  description L3forward_505
  mtu 9216
  no shutdown
  ip address 100.69.183.66/28
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 505
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.69.183.65
  
interface vlan506
  description L3forward_506
  mtu 9216
  no shutdown
  ip address 100.69.183.82/28
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 506
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.69.183.81
  
interface vlan507
  description L3forward_507
  mtu 9216
  no shutdown
  ip address 100.69.183.98/28
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 507
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.69.183.97
  
interface vlan508
  description L3forward_508
  mtu 9216
  no shutdown
  ip address 100.69.183.114/28
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 508
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.69.183.113
  
interface vlan509
  description L3forward_509
  mtu 9216
  no shutdown
  ip address 100.69.183.130/28
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 509
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.69.183.129
  
interface vlan510
  description L3forward_510
  mtu 9216
  no shutdown
  ip address 100.69.183.145/28
  no ip redirects
  no ipv6 redirects
  
interface vlan511
  description L3forward_511
  mtu 9216
  no shutdown
  ip address 100.69.183.162/28
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 511
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.69.183.161
  
interface vlan512
  description L3forward_512
  mtu 9216
  no shutdown
  ip address 100.69.183.178/28
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 512
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.69.183.177
  
interface vlan513
  description L3forward_513
  mtu 9216
  no shutdown
  ip address 100.69.183.194/28
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 513
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.69.183.193
  
interface vlan514
  description L3forward_514
  mtu 9216
  no shutdown
  ip address 100.69.183.210/28
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 514
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.69.183.209
  
interface vlan515
  description L3forward_515
  mtu 9216
  no shutdown
  ip address 100.69.183.226/28
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 515
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.69.183.225
  
interface vlan516
  description L3forward_516
  mtu 9216
  no shutdown
  ip address 100.69.183.242/28
  no ip redirects
  no ipv6 redirects
  hsrp version 2
  hsrp 516
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.69.183.241
  






spanning-tree mode mst
spanning-tree port type edge bpduguard default
spanning-tree mst 0-1 priority 8192
spanning-tree mst 2 priority 16384
spanning-tree mst configuration
  name AzureStack
  revision 1
  instance 1 vlan 1-1999
  instance 2 vlan 2000-4094

! vpc.go.tmpl-vpc

vpc domain 1
  role priority 1
  peer-keepalive destination 100.71.85.146 source 100.71.85.145 vrf default
  delay restore 150
  peer-gateway
  auto-recovery

! portchannel.go.tmpl-portchannel

interface port-channel101
  description VPC:MLAG_Peer
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  spanning-tree port type network
  logging event port link-status
  vpc peer-link
  no shutdown 
  
interface port-channel50
  description VPC:P2P_IBGP
  no switchport
  priority-flow-control mode on
  ip address 100.71.85.145/30
  logging event port link-status
  mtu 9216
  service-policy type qos input AZS_SERVICES
  no shutdown 
  
interface port-channel102
  description VPC:TOR_BMC
  switchport
  switchport mode trunk
  switchport trunk allowed vlan 125
  spanning-tree port type network
  logging event port link-status
  vpc 102
  no shutdown 
  

! port.go.tmpl-port
interface Ethernet 1/1
  description Switched-Compute
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 7
  switchport trunk allowed vlan 7
  switchport trunk allowed vlan add 6
  switchport trunk allowed vlan add 201
  switchport trunk allowed vlan add 301
  switchport trunk allowed vlan add 401
  switchport trunk allowed vlan add 501
  switchport trunk allowed vlan add 502
  switchport trunk allowed vlan add 503
  switchport trunk allowed vlan add 504
  switchport trunk allowed vlan add 505
  switchport trunk allowed vlan add 506
  switchport trunk allowed vlan add 507
  switchport trunk allowed vlan add 508
  switchport trunk allowed vlan add 509
  switchport trunk allowed vlan add 510
  switchport trunk allowed vlan add 511
  switchport trunk allowed vlan add 512
  switchport trunk allowed vlan add 513
  switchport trunk allowed vlan add 514
  switchport trunk allowed vlan add 515
  switchport trunk allowed vlan add 516
  spanning-tree port type edge trunk
  no logging event port link-status
  no shutdown 
  
interface Ethernet 1/2
  description Switched-Compute
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 7
  switchport trunk allowed vlan 7
  switchport trunk allowed vlan add 6
  switchport trunk allowed vlan add 201
  switchport trunk allowed vlan add 301
  switchport trunk allowed vlan add 401
  switchport trunk allowed vlan add 501
  switchport trunk allowed vlan add 502
  switchport trunk allowed vlan add 503
  switchport trunk allowed vlan add 504
  switchport trunk allowed vlan add 505
  switchport trunk allowed vlan add 506
  switchport trunk allowed vlan add 507
  switchport trunk allowed vlan add 508
  switchport trunk allowed vlan add 509
  switchport trunk allowed vlan add 510
  switchport trunk allowed vlan add 511
  switchport trunk allowed vlan add 512
  switchport trunk allowed vlan add 513
  switchport trunk allowed vlan add 514
  switchport trunk allowed vlan add 515
  switchport trunk allowed vlan add 516
  spanning-tree port type edge trunk
  no logging event port link-status
  no shutdown 
  
interface Ethernet 1/3
  description Switched-Compute
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 7
  switchport trunk allowed vlan 7
  switchport trunk allowed vlan add 6
  switchport trunk allowed vlan add 201
  switchport trunk allowed vlan add 301
  switchport trunk allowed vlan add 401
  switchport trunk allowed vlan add 501
  switchport trunk allowed vlan add 502
  switchport trunk allowed vlan add 503
  switchport trunk allowed vlan add 504
  switchport trunk allowed vlan add 505
  switchport trunk allowed vlan add 506
  switchport trunk allowed vlan add 507
  switchport trunk allowed vlan add 508
  switchport trunk allowed vlan add 509
  switchport trunk allowed vlan add 510
  switchport trunk allowed vlan add 511
  switchport trunk allowed vlan add 512
  switchport trunk allowed vlan add 513
  switchport trunk allowed vlan add 514
  switchport trunk allowed vlan add 515
  switchport trunk allowed vlan add 516
  spanning-tree port type edge trunk
  no logging event port link-status
  no shutdown 
  
interface Ethernet 1/4
  description Switched-Compute
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 7
  switchport trunk allowed vlan 7
  switchport trunk allowed vlan add 6
  switchport trunk allowed vlan add 201
  switchport trunk allowed vlan add 301
  switchport trunk allowed vlan add 401
  switchport trunk allowed vlan add 501
  switchport trunk allowed vlan add 502
  switchport trunk allowed vlan add 503
  switchport trunk allowed vlan add 504
  switchport trunk allowed vlan add 505
  switchport trunk allowed vlan add 506
  switchport trunk allowed vlan add 507
  switchport trunk allowed vlan add 508
  switchport trunk allowed vlan add 509
  switchport trunk allowed vlan add 510
  switchport trunk allowed vlan add 511
  switchport trunk allowed vlan add 512
  switchport trunk allowed vlan add 513
  switchport trunk allowed vlan add 514
  switchport trunk allowed vlan add 515
  switchport trunk allowed vlan add 516
  spanning-tree port type edge trunk
  no logging event port link-status
  no shutdown 
  
interface Ethernet 1/5
  description Switched-Compute
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 7
  switchport trunk allowed vlan 7
  switchport trunk allowed vlan add 6
  switchport trunk allowed vlan add 201
  switchport trunk allowed vlan add 301
  switchport trunk allowed vlan add 401
  switchport trunk allowed vlan add 501
  switchport trunk allowed vlan add 502
  switchport trunk allowed vlan add 503
  switchport trunk allowed vlan add 504
  switchport trunk allowed vlan add 505
  switchport trunk allowed vlan add 506
  switchport trunk allowed vlan add 507
  switchport trunk allowed vlan add 508
  switchport trunk allowed vlan add 509
  switchport trunk allowed vlan add 510
  switchport trunk allowed vlan add 511
  switchport trunk allowed vlan add 512
  switchport trunk allowed vlan add 513
  switchport trunk allowed vlan add 514
  switchport trunk allowed vlan add 515
  switchport trunk allowed vlan add 516
  spanning-tree port type edge trunk
  no logging event port link-status
  no shutdown 
  
interface Ethernet 1/6
  description Switched-Compute
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 7
  switchport trunk allowed vlan 7
  switchport trunk allowed vlan add 6
  switchport trunk allowed vlan add 201
  switchport trunk allowed vlan add 301
  switchport trunk allowed vlan add 401
  switchport trunk allowed vlan add 501
  switchport trunk allowed vlan add 502
  switchport trunk allowed vlan add 503
  switchport trunk allowed vlan add 504
  switchport trunk allowed vlan add 505
  switchport trunk allowed vlan add 506
  switchport trunk allowed vlan add 507
  switchport trunk allowed vlan add 508
  switchport trunk allowed vlan add 509
  switchport trunk allowed vlan add 510
  switchport trunk allowed vlan add 511
  switchport trunk allowed vlan add 512
  switchport trunk allowed vlan add 513
  switchport trunk allowed vlan add 514
  switchport trunk allowed vlan add 515
  switchport trunk allowed vlan add 516
  spanning-tree port type edge trunk
  no logging event port link-status
  no shutdown 
  
interface Ethernet 1/7
  description Switched-Compute
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 7
  switchport trunk allowed vlan 7
  switchport trunk allowed vlan add 6
  switchport trunk allowed vlan add 201
  switchport trunk allowed vlan add 301
  switchport trunk allowed vlan add 401
  switchport trunk allowed vlan add 501
  switchport trunk allowed vlan add 502
  switchport trunk allowed vlan add 503
  switchport trunk allowed vlan add 504
  switchport trunk allowed vlan add 505
  switchport trunk allowed vlan add 506
  switchport trunk allowed vlan add 507
  switchport trunk allowed vlan add 508
  switchport trunk allowed vlan add 509
  switchport trunk allowed vlan add 510
  switchport trunk allowed vlan add 511
  switchport trunk allowed vlan add 512
  switchport trunk allowed vlan add 513
  switchport trunk allowed vlan add 514
  switchport trunk allowed vlan add 515
  switchport trunk allowed vlan add 516
  spanning-tree port type edge trunk
  no logging event port link-status
  no shutdown 
  
interface Ethernet 1/8
  description Switched-Compute
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 7
  switchport trunk allowed vlan 7
  switchport trunk allowed vlan add 6
  switchport trunk allowed vlan add 201
  switchport trunk allowed vlan add 301
  switchport trunk allowed vlan add 401
  switchport trunk allowed vlan add 501
  switchport trunk allowed vlan add 502
  switchport trunk allowed vlan add 503
  switchport trunk allowed vlan add 504
  switchport trunk allowed vlan add 505
  switchport trunk allowed vlan add 506
  switchport trunk allowed vlan add 507
  switchport trunk allowed vlan add 508
  switchport trunk allowed vlan add 509
  switchport trunk allowed vlan add 510
  switchport trunk allowed vlan add 511
  switchport trunk allowed vlan add 512
  switchport trunk allowed vlan add 513
  switchport trunk allowed vlan add 514
  switchport trunk allowed vlan add 515
  switchport trunk allowed vlan add 516
  spanning-tree port type edge trunk
  no logging event port link-status
  no shutdown 
  
interface Ethernet 1/9
  description Switched-Compute
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 7
  switchport trunk allowed vlan 7
  switchport trunk allowed vlan add 6
  switchport trunk allowed vlan add 201
  switchport trunk allowed vlan add 301
  switchport trunk allowed vlan add 401
  switchport trunk allowed vlan add 501
  switchport trunk allowed vlan add 502
  switchport trunk allowed vlan add 503
  switchport trunk allowed vlan add 504
  switchport trunk allowed vlan add 505
  switchport trunk allowed vlan add 506
  switchport trunk allowed vlan add 507
  switchport trunk allowed vlan add 508
  switchport trunk allowed vlan add 509
  switchport trunk allowed vlan add 510
  switchport trunk allowed vlan add 511
  switchport trunk allowed vlan add 512
  switchport trunk allowed vlan add 513
  switchport trunk allowed vlan add 514
  switchport trunk allowed vlan add 515
  switchport trunk allowed vlan add 516
  spanning-tree port type edge trunk
  no logging event port link-status
  no shutdown 
  
interface Ethernet 1/10
  description Switched-Compute
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 7
  switchport trunk allowed vlan 7
  switchport trunk allowed vlan add 6
  switchport trunk allowed vlan add 201
  switchport trunk allowed vlan add 301
  switchport trunk allowed vlan add 401
  switchport trunk allowed vlan add 501
  switchport trunk allowed vlan add 502
  switchport trunk allowed vlan add 503
  switchport trunk allowed vlan add 504
  switchport trunk allowed vlan add 505
  switchport trunk allowed vlan add 506
  switchport trunk allowed vlan add 507
  switchport trunk allowed vlan add 508
  switchport trunk allowed vlan add 509
  switchport trunk allowed vlan add 510
  switchport trunk allowed vlan add 511
  switchport trunk allowed vlan add 512
  switchport trunk allowed vlan add 513
  switchport trunk allowed vlan add 514
  switchport trunk allowed vlan add 515
  switchport trunk allowed vlan add 516
  spanning-tree port type edge trunk
  no logging event port link-status
  no shutdown 
  
interface Ethernet 1/11
  description Switched-Compute
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 7
  switchport trunk allowed vlan 7
  switchport trunk allowed vlan add 6
  switchport trunk allowed vlan add 201
  switchport trunk allowed vlan add 301
  switchport trunk allowed vlan add 401
  switchport trunk allowed vlan add 501
  switchport trunk allowed vlan add 502
  switchport trunk allowed vlan add 503
  switchport trunk allowed vlan add 504
  switchport trunk allowed vlan add 505
  switchport trunk allowed vlan add 506
  switchport trunk allowed vlan add 507
  switchport trunk allowed vlan add 508
  switchport trunk allowed vlan add 509
  switchport trunk allowed vlan add 510
  switchport trunk allowed vlan add 511
  switchport trunk allowed vlan add 512
  switchport trunk allowed vlan add 513
  switchport trunk allowed vlan add 514
  switchport trunk allowed vlan add 515
  switchport trunk allowed vlan add 516
  spanning-tree port type edge trunk
  no logging event port link-status
  no shutdown 
  
interface Ethernet 1/12
  description Switched-Compute
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 7
  switchport trunk allowed vlan 7
  switchport trunk allowed vlan add 6
  switchport trunk allowed vlan add 201
  switchport trunk allowed vlan add 301
  switchport trunk allowed vlan add 401
  switchport trunk allowed vlan add 501
  switchport trunk allowed vlan add 502
  switchport trunk allowed vlan add 503
  switchport trunk allowed vlan add 504
  switchport trunk allowed vlan add 505
  switchport trunk allowed vlan add 506
  switchport trunk allowed vlan add 507
  switchport trunk allowed vlan add 508
  switchport trunk allowed vlan add 509
  switchport trunk allowed vlan add 510
  switchport trunk allowed vlan add 511
  switchport trunk allowed vlan add 512
  switchport trunk allowed vlan add 513
  switchport trunk allowed vlan add 514
  switchport trunk allowed vlan add 515
  switchport trunk allowed vlan add 516
  spanning-tree port type edge trunk
  no logging event port link-status
  no shutdown 
  
interface Ethernet 1/13
  description Switched-Compute
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 7
  switchport trunk allowed vlan 7
  switchport trunk allowed vlan add 6
  switchport trunk allowed vlan add 201
  switchport trunk allowed vlan add 301
  switchport trunk allowed vlan add 401
  switchport trunk allowed vlan add 501
  switchport trunk allowed vlan add 502
  switchport trunk allowed vlan add 503
  switchport trunk allowed vlan add 504
  switchport trunk allowed vlan add 505
  switchport trunk allowed vlan add 506
  switchport trunk allowed vlan add 507
  switchport trunk allowed vlan add 508
  switchport trunk allowed vlan add 509
  switchport trunk allowed vlan add 510
  switchport trunk allowed vlan add 511
  switchport trunk allowed vlan add 512
  switchport trunk allowed vlan add 513
  switchport trunk allowed vlan add 514
  switchport trunk allowed vlan add 515
  switchport trunk allowed vlan add 516
  spanning-tree port type edge trunk
  no logging event port link-status
  no shutdown 
  
interface Ethernet 1/14
  description Switched-Compute
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 7
  switchport trunk allowed vlan 7
  switchport trunk allowed vlan add 6
  switchport trunk allowed vlan add 201
  switchport trunk allowed vlan add 301
  switchport trunk allowed vlan add 401
  switchport trunk allowed vlan add 501
  switchport trunk allowed vlan add 502
  switchport trunk allowed vlan add 503
  switchport trunk allowed vlan add 504
  switchport trunk allowed vlan add 505
  switchport trunk allowed vlan add 506
  switchport trunk allowed vlan add 507
  switchport trunk allowed vlan add 508
  switchport trunk allowed vlan add 509
  switchport trunk allowed vlan add 510
  switchport trunk allowed vlan add 511
  switchport trunk allowed vlan add 512
  switchport trunk allowed vlan add 513
  switchport trunk allowed vlan add 514
  switchport trunk allowed vlan add 515
  switchport trunk allowed vlan add 516
  spanning-tree port type edge trunk
  no logging event port link-status
  no shutdown 
  
interface Ethernet 1/15
  description Switched-Compute
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 7
  switchport trunk allowed vlan 7
  switchport trunk allowed vlan add 6
  switchport trunk allowed vlan add 201
  switchport trunk allowed vlan add 301
  switchport trunk allowed vlan add 401
  switchport trunk allowed vlan add 501
  switchport trunk allowed vlan add 502
  switchport trunk allowed vlan add 503
  switchport trunk allowed vlan add 504
  switchport trunk allowed vlan add 505
  switchport trunk allowed vlan add 506
  switchport trunk allowed vlan add 507
  switchport trunk allowed vlan add 508
  switchport trunk allowed vlan add 509
  switchport trunk allowed vlan add 510
  switchport trunk allowed vlan add 511
  switchport trunk allowed vlan add 512
  switchport trunk allowed vlan add 513
  switchport trunk allowed vlan add 514
  switchport trunk allowed vlan add 515
  switchport trunk allowed vlan add 516
  spanning-tree port type edge trunk
  no logging event port link-status
  no shutdown 
  
interface Ethernet 1/16
  description Switched-Compute
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 7
  switchport trunk allowed vlan 7
  switchport trunk allowed vlan add 6
  switchport trunk allowed vlan add 201
  switchport trunk allowed vlan add 301
  switchport trunk allowed vlan add 401
  switchport trunk allowed vlan add 501
  switchport trunk allowed vlan add 502
  switchport trunk allowed vlan add 503
  switchport trunk allowed vlan add 504
  switchport trunk allowed vlan add 505
  switchport trunk allowed vlan add 506
  switchport trunk allowed vlan add 507
  switchport trunk allowed vlan add 508
  switchport trunk allowed vlan add 509
  switchport trunk allowed vlan add 510
  switchport trunk allowed vlan add 511
  switchport trunk allowed vlan add 512
  switchport trunk allowed vlan add 513
  switchport trunk allowed vlan add 514
  switchport trunk allowed vlan add 515
  switchport trunk allowed vlan add 516
  spanning-tree port type edge trunk
  no logging event port link-status
  no shutdown 
  
interface Ethernet 1/17
  description Switched-Storage
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  switchport trunk allowed vlan 99
  switchport trunk allowed vlan add 711
  switchport trunk allowed vlan add 712
  switchport trunk allowed vlan remove 99
  priority-flow-control mode on
  spanning-tree port type edge trunk
  no logging event port link-status
  service-policy type qos input AZS_SERVICES
  shutdown 
  
interface Ethernet 1/18
  description Switched-Storage
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  switchport trunk allowed vlan 99
  switchport trunk allowed vlan add 711
  switchport trunk allowed vlan add 712
  switchport trunk allowed vlan remove 99
  priority-flow-control mode on
  spanning-tree port type edge trunk
  no logging event port link-status
  service-policy type qos input AZS_SERVICES
  shutdown 
  
interface Ethernet 1/19
  description Switched-Storage
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  switchport trunk allowed vlan 99
  switchport trunk allowed vlan add 711
  switchport trunk allowed vlan add 712
  switchport trunk allowed vlan remove 99
  priority-flow-control mode on
  spanning-tree port type edge trunk
  no logging event port link-status
  service-policy type qos input AZS_SERVICES
  shutdown 
  
interface Ethernet 1/20
  description Switched-Storage
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  switchport trunk allowed vlan 99
  switchport trunk allowed vlan add 711
  switchport trunk allowed vlan add 712
  switchport trunk allowed vlan remove 99
  priority-flow-control mode on
  spanning-tree port type edge trunk
  no logging event port link-status
  service-policy type qos input AZS_SERVICES
  shutdown 
  
interface Ethernet 1/21
  description Switched-Storage
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  switchport trunk allowed vlan 99
  switchport trunk allowed vlan add 711
  switchport trunk allowed vlan add 712
  switchport trunk allowed vlan remove 99
  priority-flow-control mode on
  spanning-tree port type edge trunk
  no logging event port link-status
  service-policy type qos input AZS_SERVICES
  shutdown 
  
interface Ethernet 1/22
  description Switched-Storage
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  switchport trunk allowed vlan 99
  switchport trunk allowed vlan add 711
  switchport trunk allowed vlan add 712
  switchport trunk allowed vlan remove 99
  priority-flow-control mode on
  spanning-tree port type edge trunk
  no logging event port link-status
  service-policy type qos input AZS_SERVICES
  shutdown 
  
interface Ethernet 1/23
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/24
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/25
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/26
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/27
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/28
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/29
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/30
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/31
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/32
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/33
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/34
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/35
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/36
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/37
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/38
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/39
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/40
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/41
  description P2P_IBGP
  no cdp enable
  mtu 9216
  priority-flow-control mode on
  logging event port link-status
  channel-group 50 mode active
  no shutdown 
  
interface Ethernet 1/42
  description P2P_IBGP
  no cdp enable
  mtu 9216
  priority-flow-control mode on
  logging event port link-status
  channel-group 50 mode active
  no shutdown 
  
interface Ethernet 1/43
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/44
  description TOR_BMC
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk allowed vlan 125
  logging event port link-status
  channel-group 102 mode active
  no shutdown 
  
interface Ethernet 1/45
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/46
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/47
  description P2P_Border2
  no cdp enable
  mtu 9216
  no switchport
  no ip redirects
  ip address /0
  no ipv6 redirects
  no shutdown 
  
interface Ethernet 1/48
  description P2P_Border1
  no cdp enable
  mtu 9216
  no switchport
  no ip redirects
  ip address /0
  no ipv6 redirects
  no shutdown 
  
interface Ethernet 1/49
  description MLAG_Peer
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  priority-flow-control mode on
  logging event port link-status
  channel-group 101 mode active
  no shutdown 
  
interface Ethernet 1/50
  description MLAG_Peer
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  priority-flow-control mode on
  logging event port link-status
  channel-group 101 mode active
  no shutdown 
  
interface Ethernet 1/51
  description MLAG_Peer
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  priority-flow-control mode on
  logging event port link-status
  channel-group 101 mode active
  no shutdown 
  
interface Ethernet 1/52
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/53
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface Ethernet 1/54
  description Unused
  no cdp enable
  mtu 9216
  switchport
  switchport access vlan 2
  spanning-tree port type edge
  no logging event port link-status
  shutdown 
  
interface mgmt0
  description use the BMCMgmt switch virtual interface
  no ip redirects
  no ipv6 redirects
  shutdown



interface Loopback0
  description Loopback0_Tor1
  ip address 100.71.85.149/32

! settings.go.tmpl-set_snmp
snmp-server globalEnforcePriv
no snmp-server protocol enable

! settings.go.tmpl-set_errdisable_setting
errdisable recovery interval 600
errdisable recovery cause link-flap
errdisable recovery cause udld
errdisable recovery cause bpduguard
system default switchport shutdown
switching-mode store-forward

! settings.go.tmpl-set_rmon
rmon event 1 description FATAL(1) owner PMON@FATAL
rmon event 2 description CRITICAL(2) owner PMON@CRITICAL
rmon event 3 description ERROR(3) owner PMON@ERROR
rmon event 4 description WARNING(4) owner PMON@WARNING
rmon event 5 description INFORMATION(5) owner PMON@INFO

! settings.go.tmpl-set_dhcp
service dhcp
ip dhcp relay

! settings.go.tmpl-set_console_vty
line console
  exec-timeout 10
line vty
  exec-timeout 10
  access-class ssh-only in
  session-limit 3

! settings.go.tmpl-set_ntp
clock timezone UTC 0 0
ntp server 10.10.240.20
ntp source-interface vlan125

! settings.go.tmpl-set_syslog
logging server 10.10.43.111 7 facility local7 use-vrf default
logging source-interface vlan125
logging level local7 7
no logging console
login on-success log
logging origin-id hostname
!
logging level acllog 7
logging level aclmgr 7
logging level eth_port_channel 7
logging level hsrp 7
logging level icam 7
logging level interface-vlan 7
logging level ipqosmgr 7
logging level vlan_mgr 7
logging level vpc 7
logging level netstack 7
logging level bgp 7

! settings.go.tmpl-set_load_sharing
ip load-sharing address source-destination port source-destination

! settings.go.tmpl-set_icmp_errors
ip icmp-errors source-interface vlan125

! prefixlist.go.tmpl-prefixlist
ip prefix-list ExternalPrefix deny 10.71.1.0/24 le 32
ip prefix-list ExternalPrefix deny 10.71.2.0/24 le 32
ip prefix-list ExternalPrefix permit 0.0.0.0/0 le 32

ip prefix-list DefaultRoute permit 0.0.0.0/0
ip prefix-list DefaultRoute deny 0.0.0.0/0 le 32



! bgp.go.tmpl-bgp
router bgp 65243
  router-id 100.71.85.149
  bestpath as-path multipath-relax
  log-neighbor-changes
  address-family ipv4 unicast
    network 100.71.85.136/30
    network 100.71.85.144/30
    network 100.71.85.149/32
    network 100.71.85.128/30
    network 100.71.85.192/26
    network 100.71.131.128/25
    maximum-paths 8
    maximum-paths ibgp 8
  neighbor 100.71.85.129
    description TO_Border1
    remote-as 64846
    address-family ipv4 unicast
      prefix-list ExternalPrefix in
      prefix-list ExternalPrefix out
      maximum-prefix 12000 warning-only
    remove-private-as
    
    
  neighbor 100.71.85.137
    description TO_Border2
    remote-as 64846
    address-family ipv4 unicast
      prefix-list ExternalPrefix in
      prefix-list ExternalPrefix out
      maximum-prefix 12000 warning-only
    remove-private-as
    
    
  neighbor 100.71.85.146
    description TO_TOR2
    remote-as 65243
    address-family ipv4 unicast
      maximum-prefix 12000 warning-only
    password %deb00mJ5XrR&!zf 
    
    
  neighbor 100.71.131.128/25
    description TO_MUX
    remote-as 65113
    address-family ipv4 unicast
      prefix-list DefaultRoute out
      maximum-prefix 12000 warning-only
    update-source Loopback0
    local-as 64512
    ebgp-multihop 3
  