! qos_hw-9000-fx.j2

!
! Ingress traffic to the Interface
!
policy-map type network-qos QOS_NETWORK
  class type network-qos c-8q-nq3
    pause pfc-cos 3
    mtu 9216
  class type network-qos c-8q-nq5
    mtu 9216
  class type network-qos c-8q-nq-default
    mtu 9216

???
policy-map type network-qos jumbo-queuing
  class type network-qos class-default
    mtu 9216
???
!
! Identify the traffic
!
class-map type qos match-all RDMA
  match cos 3
class-map type qos match-all CLUSTER
  match cos 5

!
! Map the traffic to a queue map from the class-map
!
policy-map type qos AZS_SERVICES
  class RDMA
    set qos-group 3
  class CLUSTER
    set qos-group 5

!
! Egress traffic from the interface
!
policy-map type queuing QOS_EGRESS_PORT
  class type queuing c-out-8q-q3
    bandwidth remaining percent 50
    random-detect minimum-threshold 300 kbytes maximum-threshold 300 kbytes drop-probability 100 weight 0 ecn
  class type queuing c-out-8q-q-default
    bandwidth remaining percent 48
  class type queuing c-out-8q-q1
    bandwidth remaining percent 0
  class type queuing c-out-8q-q2
    bandwidth remaining percent 0
  class type queuing c-out-8q-q4
    bandwidth remaining percent 0
  class type queuing c-out-8q-q5
    bandwidth percent 2
  class type queuing c-out-8q-q6
    bandwidth remaining percent 0
  class type queuing c-out-8q-q7
    bandwidth remaining percent 0

!
! Apply to the system
!
system qos
  service-policy type queuing output QOS_EGRESS_PORT
  service-policy type network-qos QOS_NETWORK


  TOR1(config)# class-map ?
  WORD                             Class-map name (Max Size 40)
  c-dflt-mpls-qosgrp1 (no abbrev)
  c-dflt-mpls-qosgrp2 (no abbrev)
  c-dflt-mpls-qosgrp3 (no abbrev)
  c-dflt-mpls-qosgrp4 (no abbrev)
  c-dflt-mpls-qosgrp5 (no abbrev)
  c-dflt-mpls-qosgrp6 (no abbrev)
  c-dflt-mpls-qosgrp7 (no abbrev)
  match-all                        Logical-AND all match statements under this
                                   classmap
  match-any                        Logical-OR all match statements under this
                                   classmap
  type                             Specify the type of this class-map

TOR1(config)# class-map type ?
  control-plane  Control-Plane
  network-qos    Network QoS class
  qos            Qos class
  queuing        Queuing class

TOR1(config)# class-map type qos ?
  WORD                             Class-map name (Max Size 40)
  c-dflt-mpls-qosgrp1 (no abbrev)
  c-dflt-mpls-qosgrp2 (no abbrev)
  c-dflt-mpls-qosgrp3 (no abbrev)
  c-dflt-mpls-qosgrp4 (no abbrev)
  c-dflt-mpls-qosgrp5 (no abbrev)
  c-dflt-mpls-qosgrp6 (no abbrev)
  c-dflt-mpls-qosgrp7 (no abbrev)
  match-all                        Logical-AND all match statements under this
                                   classmap
  match-any                        Logical-OR all match statements under this
                                   classmap


TOR1(config)# policy-map ?
  WORD                                 Policy-map name (alphanumeric) (Max Size
                                       40)
  default-mpls-in-policy (no abbrev)
  default-vxlan-in-policy (no abbrev)
  match-first                          Take the action for the first class that
                                       matches
  type                                 Specify the type of this policy-map

TOR1(config)# policy-map type ?
  control-plane  Control-Plane
  network-qos    Network QoS policy
  qos            Qos policy
  queuing        Queuing policy

TOR1(config)# policy-map type network-qos ?
  WORD                              Policy-map name (Max Size 40)
  default-8q-nq-policy (no abbrev)  Default 8q network-qos policy
  default-nq-policy (no abbrev)     Default network-qos policy

TOR1(config)# policy-map type qos ?
  WORD                                 Policy-map name (alphanumeric) (Max Size
                                       40)
  default-mpls-in-policy (no abbrev)
  default-vxlan-in-policy (no abbrev)
  match-first                          Take the action for the first class that
                                       matches

TOR1(config)# policy-map type qos
