! Make: Cisco
! Model: 93360YC-FX2
! Type: TOR1
! Firmware: 9.3(8)
! Routing: BGP Routing

! banner.j2
banner motd #
NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE

Unauthorized access and/or use prohibited.
All access and/or use subject to monitoring.

NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE
#

banner exec #
NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE

hostname 93360b-Rack01-TOR-1
BUILDNUMBER 1.2100.01883.816
Unauthorized access and/or use prohibited.
All access and/or use subject to monitoring.

NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE
#
hostname 93360b-Rack01-TOR-1
! fips_user.j2
fips mode enable
user max-logins 1
password prompt username
userpassphrase min-length 15 max-length 80
username admin password 0 MF+o+fDjsH1ifD0 role network-admin
username azsadmin-lkfce password 0 VYPL4%P9vlN=AuG role network-admin
!
! SSH Key based authentication. Post process this section before applying the initial configuration.
!
! Remove the ability to login with a password
! username <sshAuthUsername> password 5 ! role network-admin
! 
! Add the public key to the config
! username <sshAuthUsername> sshkey <PublicKey>
!
! fips_ssh.j2
no feature ssh
no ssh key ecdsa
no ssh key rsa
ssh key rsa 2048 force
ssh key ecdsa 256 force
feature ssh
! tor_feature.j2
no feature telnet
feature scp-server
feature bgp
feature interface-vlan
feature lldp
feature dhcp
feature vpc
feature hsrp
feature lacp
feature ssh
no cdp enable
! FIPS mode will automatically enable nxapi, the work around is to remove the ports it listens on.
feature nxapi
no nxapi http
no nxapi https 
! default_errdisable_setting.j2
errdisable recovery interval 600
errdisable recovery cause link-flap
errdisable recovery cause udld
errdisable recovery cause bpduguard
system default switchport shutdown
switching-mode store-forward

! route_prefix_list.j2
ip prefix-list ExternalPrefix deny /0 le 32
ip prefix-list ExternalPrefix deny 100.73.16.0/25 le 32
ip prefix-list ExternalPrefix deny 100.73.16.128/25 le 32
ip prefix-list ExternalPrefix deny 100.73.21.0/25 le 32
ip prefix-list ExternalPrefix deny 100.73.30.0/23 le 32
ip prefix-list ExternalPrefix permit 0.0.0.0/0 le 32

ip prefix-list DefaultRoute permit 0.0.0.0/0
ip prefix-list DefaultRoute deny 0.0.0.0/0 le 32


! qos_hw-9000-fx.j2

!
! Ingress traffic to the Interface
!
policy-map type network-qos QOS_NETWORK
  class type network-qos c-8q-nq3
    pause pfc-cos 3
    mtu 9216
  class type network-qos c-8q-nq5
    mtu 9216
  class type network-qos c-8q-nq-default
    mtu 9216

policy-map type network-qos jumbo-queuing
  class type network-qos class-default
    mtu 9216

!
! Identify the traffic
!
class-map type qos match-all RDMA
  match cos 3
class-map type qos match-all CLUSTER
  match cos 5

!
! Map the traffic to a queue map from the class-map
!
policy-map type qos AZS_SERVICES
  class RDMA
    set qos-group 3
  class CLUSTER
    set qos-group 5

!
! Egress traffic from the interface
!
policy-map type queuing QOS_EGRESS_PORT
  class type queuing c-out-8q-q3
    bandwidth remaining percent 50
    random-detect minimum-threshold 300 kbytes maximum-threshold 300 kbytes drop-probability 100 weight 0 ecn
  class type queuing c-out-8q-q-default
    bandwidth remaining percent 48
  class type queuing c-out-8q-q1
    bandwidth remaining percent 0
  class type queuing c-out-8q-q2
    bandwidth remaining percent 0
  class type queuing c-out-8q-q4
    bandwidth remaining percent 0
  class type queuing c-out-8q-q5
    bandwidth percent 2
  class type queuing c-out-8q-q6
    bandwidth remaining percent 0
  class type queuing c-out-8q-q7
    bandwidth remaining percent 0

!
! Apply to the system
!
system qos
  service-policy type queuing output QOS_EGRESS_PORT
  service-policy type network-qos QOS_NETWORK
! dns_forwarder.j2
ip name-server 10.50.10.50 10.50.50.50
ip domain-lookup
ip domain-name azs.contoso.local

! define_vlan.j2
vlan 1
vlan 99
  name Native

vlan 125
  name Rack01-BMCMgmt
vlan 107
  name Rack01-CL01-SU01-Storage
vlan 207
  name Rack01-CL01-SU01-Storage2
vlan 7
  name Rack01-CL01-SU01-Infrastructure
vlan 2
  name Unused_Ports

! default_snmp.j2
snmp-server globalEnforcePriv
no snmp-server protocol enable
! inject_time.j2
clock timezone UTC 0 0
ntp server 10.10.240.20
ntp source-interface vlan125

!
! default_spanningtree.j2
spanning-tree mode mst
spanning-tree port type edge bpduguard default
spanning-tree mst 0-1 priority 8192
spanning-tree mst 2 priority 16384
spanning-tree mst configuration
  name AzureStack
  revision 1
  instance 1 vlan 1-1999
  instance 2 vlan 2000-4094
! default_rmon.j2
rmon event 1 description FATAL(1) owner PMON@FATAL
rmon event 2 description CRITICAL(2) owner PMON@CRITICAL
rmon event 3 description ERROR(3) owner PMON@ERROR
rmon event 4 description WARNING(4) owner PMON@WARNING
rmon event 5 description INFORMATION(5) owner PMON@INFO
service dhcp
ip dhcp relay

! create_vpcdomain.j2
vpc domain 1
  role priority 1
  peer-keepalive destination 100.73.28.162 source 100.73.28.161 vrf default
  delay restore 150
  peer-gateway
  auto-recovery

! interface_vlan.j2
interface vlan107
  description Rack01-CL01-SU01-Storage
  no shutdown
  mtu 9216
  ip address 100.73.16.2/25
  no ip redirects
  no ipv6 redirects
  hsrp version 2
    hsrp 107
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.73.16.1
  ip access-group Rack01-CL01-SU01-Stor_IN in
  ip access-group Rack01-CL01-SU01-Stor_OUT out
interface vlan125
  description Rack01-BMCMgmt
  no shutdown
  mtu 9216
  ip address 100.71.28.98/26
  no ip redirects
  no ipv6 redirects
  hsrp version 2
    hsrp 125
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.71.28.65
  ip access-group Rack01-BMCMgmt_IN in
  ip access-group Rack01-BMCMgmt_OUT out
interface vlan207
  description Rack01-CL01-SU01-Storage2
  no shutdown
  mtu 9216
  ip address 100.73.21.2/25
  no ip redirects
  no ipv6 redirects
  hsrp version 2
    hsrp 207
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.73.21.1
  ip access-group Rack01-CL01-SU01-Stor2_IN in
  ip access-group Rack01-CL01-SU01-Stor2_OUT out
interface vlan7
  description Rack01-CL01-SU01-Infrastructure
  no shutdown
  mtu 9216
  ip address 100.73.20.2/24
  no ip redirects
  no ipv6 redirects
  hsrp version 2
    hsrp 7
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.73.20.1
  ip dhcp relay address 100.71.28.125
  ip dhcp relay address 100.73.20.18
  ip access-group Rack01-CL01-SU01-Infra_IN in
  ip access-group Rack01-CL01-SU01-Infra_OUT out

! create_ethernet_trunk_fx.j2
!!!
!!!  Port Trunk
!!!
interface ethernet 1/1
  description  CL01 Nodes NIC
  no switchport
  no cdp enable
  switchport
  switchport mode trunk
  switchport trunk native vlan 7
  switchport trunk allowed vlan 7,107,125,207
  no logging event port link-status
  service-policy type qos input AZS_SERVICES
  priority-flow-control mode on
  spanning-tree port type edge trunk
  mtu 9216
  no shutdown
!
interface ethernet 1/2
  description  CL01 Nodes NIC
  no switchport
  no cdp enable
  switchport
  switchport mode trunk
  switchport trunk native vlan 7
  switchport trunk allowed vlan 7,107,125,207
  no logging event port link-status
  service-policy type qos input AZS_SERVICES
  priority-flow-control mode on
  spanning-tree port type edge trunk
  mtu 9216
  no shutdown
!
interface ethernet 1/3
  description  CL01 Nodes NIC
  no switchport
  no cdp enable
  switchport
  switchport mode trunk
  switchport trunk native vlan 7
  switchport trunk allowed vlan 7,107,125,207
  no logging event port link-status
  service-policy type qos input AZS_SERVICES
  priority-flow-control mode on
  spanning-tree port type edge trunk
  mtu 9216
  no shutdown
!
interface ethernet 1/4
  description  CL01 Nodes NIC
  no switchport
  no cdp enable
  switchport
  switchport mode trunk
  switchport trunk native vlan 7
  switchport trunk allowed vlan 7,107,125,207
  no logging event port link-status
  service-policy type qos input AZS_SERVICES
  priority-flow-control mode on
  spanning-tree port type edge trunk
  mtu 9216
  no shutdown
!

! create_interface_access.j2
!!!
!!! Access Port BMCMgmt_Ethernet 125
!!!
interface ethernet 1/65
  no switchport
  description BMCMgmt_Ethernet
  no cdp enable
  switchport
  switchport access vlan 125
  no shutdown
  spanning-tree port type edge
  mtu 9216
  no logging event port link-status
interface ethernet 1/66
  no switchport
  description BMCMgmt_Ethernet
  no cdp enable
  switchport
  switchport access vlan 125
  no shutdown
  spanning-tree port type edge
  mtu 9216
  no logging event port link-status
!!!
!!! Access Port HLH-BMC_Ethernet 125
!!!
interface ethernet 1/73
  no switchport
  description HLH-BMC_Ethernet
  no cdp enable
  switchport
  switchport access vlan 125
  no shutdown
  spanning-tree port type edge
  mtu 9216
  no logging event port link-status
!!!
!!! Access Port HLH-OS_Ethernet 125
!!!
interface ethernet 1/77
  no switchport
  description HLH-OS_Ethernet
  no cdp enable
  switchport
  switchport access vlan 125
  no shutdown
  spanning-tree port type edge
  mtu 9216
  no logging event port link-status
!!!
!!! Access Port Unused_Port_Ethernet 2
!!!
interface ethernet 1/10
  no switchport
  description Unused_Port_Ethernet
  no cdp enable
  switchport
  switchport access vlan 2
  shutdown
  spanning-tree port type edge
  mtu 9216
  no logging event port link-status
interface ethernet 1/102
  no switchport
  description Unused_Port_Ethernet
  no cdp enable
  switchport
  switchport access vlan 2
  shutdown
  spanning-tree port type edge
  mtu 9216
  no logging event port link-status
!
! create_vpcchannelgroup.j2
!!!
!!! VPC Port Channel iBGPTOR1 50
!!!
interface port-channel50
  description VPC:iBGPTOR1:PO50
  mtu 9216
  priority-flow-control mode on
  logging event port link-status
  service-policy type qos input AZS_SERVICES
  ip address 100.73.28.161/30

interface Ethernet 1/89
  description MLAG Heartbeat and iBGP TOR1-TOR2
  no cdp enable
  mtu 9216
  priority-flow-control mode on
  logging event port link-status
  channel-group 50
  no shutdown

interface Ethernet 1/90
  description MLAG Heartbeat and iBGP TOR1-TOR2
  no cdp enable
  mtu 9216
  priority-flow-control mode on
  logging event port link-status
  channel-group 50
  no shutdown
!!!
!!! VPC Port Channel MLAG_PEER 101
!!!
interface port-channel101
  description VPC:MLAG_PEER:PO101
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  priority-flow-control mode on
  spanning-tree port type network
  logging event port link-status
  vpc peer-link

interface Ethernet 1/97
  description L2 MLAG_PEER
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  priority-flow-control mode on
  logging event port link-status
  channel-group 101 mode active
  no shutdown

interface Ethernet 1/98
  description L2 MLAG_PEER
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  priority-flow-control mode on
  logging event port link-status
  channel-group 101 mode active
  no shutdown

interface Ethernet 1/99
  description L2 MLAG_PEER
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  priority-flow-control mode on
  logging event port link-status
  channel-group 101 mode active
  no shutdown

interface Ethernet 1/100
  description L2 MLAG_PEER
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  priority-flow-control mode on
  logging event port link-status
  channel-group 101 mode active
  no shutdown

interface Ethernet 1/101
  description L2 MLAG_PEER
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  priority-flow-control mode on
  logging event port link-status
  channel-group 101 mode active
  no shutdown

! create_int_p2p_ipv4.j2
!!!
!!! Point-to-Point Links Ethernet 1/95
!!!
interface Ethernet 1/95
  description P2P_Rack00/B2_To_Rack01/Tor1
  no cdp enable
  no switchport
  mtu 9216
  no ip redirects
  ip address 100.71.28.10/30
  no ipv6 redirects
  no shutdown
!!!
!!! Point-to-Point Links Ethernet 1/96
!!!
interface Ethernet 1/96
  description P2P_Rack00/B1_To_Rack01/Tor1
  no cdp enable
  no switchport
  mtu 9216
  no ip redirects
  ip address 100.71.28.2/30
  no ipv6 redirects
  no shutdown

! interface_mgmt.j2
interface mgmt0
  description use the BMCMgmt switch virtual interface
  no ip redirects
  no ipv6 redirects
  shutdown
!
! create_int_loopback.j2
interface loopback0
  description Loopback_Rack01/Tor1
  ip address 100.73.28.123/32

! default_console_vty.j2
line console
  exec-timeout 10
line vty
  exec-timeout 10
  access-class ssh-only in
  session-limit 3
!
ip load-sharing address source-destination port source-destination

ip icmp-errors source-interface vlan 125

! bgp_base.j2
!!!
!!! BGP 64588
!!!
router bgp 64588
  router-id 100.73.28.123
  bestpath as-path multipath-relax
  log-neighbor-changes
  address-family ipv4 unicast
    maximum-paths 8
    maximum-paths ibgp 8
    network 100.73.28.123/32
    network 100.71.28.0/30
    network 100.71.28.8/30
    network 100.73.28.160/30
    network 100.71.28.64/26
    network 100.73.16.0/25
    network 100.73.20.0/24
    network 100.73.21.0/25
  !
  template peer Border1-64850
    remote-as 64850
    address-family ipv4 unicast
      maximum-prefix 12000 warning-only
      prefix-list ExternalPrefix in
      prefix-list ExternalPrefix out
  template peer Border2-64850
    remote-as 64850
    address-family ipv4 unicast
      maximum-prefix 12000 warning-only
      prefix-list ExternalPrefix in
      prefix-list ExternalPrefix out
  template peer iBGPPeer-64588
    remote-as 64588
    address-family ipv4 unicast
      maximum-prefix 12000 warning-only
    password 0 e3Y3G/DHuZ%MGUk
  !
  template peer CL01-DVM00-65000
    remote-as 65000
    local-as 64512
    update-source loopback0
    ebgp-multihop 3
    address-family ipv4 unicast
      prefix-list DefaultRoute out
      maximum-prefix 12000 warning-only
  template peer Rack01-CL01-SU01-65000
    remote-as 65000
    local-as 64512
    update-source loopback0
    ebgp-multihop 3
    address-family ipv4 unicast
      prefix-list DefaultRoute out
      maximum-prefix 12000 warning-only
  !
  neighbor 100.71.28.1
    inherit peer Border1-64850
    remove-private-as
    description 64850:P2P_Rack00/B1_To_Rack01/Tor1:100.71.28.1
  neighbor 100.71.28.9
    inherit peer Border2-64850
    remove-private-as
    description 64850:P2P_Rack00/B2_To_Rack01/Tor1:100.71.28.9
  neighbor 100.73.28.162
    inherit peer iBGPPeer-64588
    description 64588:P2P_Rack01/TOR1-ibgp-1_To_Rack01/TOR2-ibgp-1:100.73.28.162
  neighbor 100.71.28.125/32
    inherit peer CL01-DVM00-65000
    description 65000:CL01-DVM00-BMCmgmt:100.71.28.125
  neighbor 100.73.20.0/24
    inherit peer Rack01-CL01-SU01-65000
    description 65000:Rack01-CL01-SU01-Infrastructure:100.73.20.0


xml server timeout 0
mac address-table aging-time 1510

! inject_syslog.j2
logging server 10.10.242.5 7 facility local7 use-vrf default
logging source-interface Vlan125
logging level local7 7
no logging console
login on-success log
logging origin-id hostname
!
logging level acllog 7
logging level aclmgr 7
logging level eth_port_channel 7
logging level hsrp 7
logging level icam 7
logging level interface-vlan 7
logging level ipqosmgr 7
logging level vlan_mgr 7
logging level vpc 7
logging level netstack 7
logging level bgp 7
