logging console disable
!
rest api restconf
!
route-map ADVERTISE_LOCAL_ROUTES permit 10
 match route-type local 
!
no ip dhcp-relay information-option
!
hostname 5248bgp-Rack01-BMC-1
!
lldp enable
!
no ip telnet server enable
!
password-attributes character-restriction upper 1 lower 1 numeric 1 special-char 1 min-length 15 lockout-period 15 max-retry 3
!
!
! Template: inject_useraccount.j2
!
username admin password a6CQJ+hofL:S9qL role sysadmin
enable password 0 x8JW*w_UVUgS1uL priv-lvl 15
system-user linuxadmin password x8JW*w_UVUgS1uL
! SSH Key based authentication. Post process this section before applying the initial configuration.
! username <sshAuthUsername> password x8JW*w_UVUgS1uL role sysadmin
! username <sshAuthUsername> sshkey "<PublicKey>"
username azsadmin-lbxyv password x8JW*w_UVUgS1uL role sysadmin
!
! If loading in ztd or via batch cmd, the below command works without any prompts.
! eula-consent support-assist reject!
interface mgmt 1/1/1
  no ip address
  shutdown
!
errdisable recovery cause bpduguard
!
!
! Loopback
!
interface loopback0
 description "Loopback_Rack01/BMC"
 ip address 10.128.0.26/32
 no shutdown
!
! interface_vlan.j2
interface vlan125
  description Rack01-BMCMgmt
  no shutdown
  mtu 9216
  ip address 10.128.0.65/26
  ip access-group Rack01-BMCMgmt_IN in
  ip access-group Rack01-BMCMgmt_OUT out
interface vlan2
  description Unused_Ports
  shutdown
  mtu 9216
interface vlan5
  description Rack01-SwitchMgmt
  no shutdown
  mtu 9216
  ip address 10.128.0.41/29
  ip helper-address 10.128.0.126
  ip access-group Rack01-SwitchMgmt_IN in
  ip access-group Rack01-SwitchMgmt_OUT out

!
logging server 10.128.0.116
logging source-interface mgmt 1/1/1
logging audit enable 
logging console disable 
banner motd ^C
 
NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE
Device name 5248bgp-Rack01-BMC-1
BUILDNUMBER: 1.2301.2229.13
Unauthorized access and/or use prohibited.
All access and/or use subject to monitoring.
NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE  NOTICE
 
^C
!
load-balancing ip-selection source-ip destination-ip l4-source-port l4-destination-port
!
! ip icmp source-interface Loopback 0
!
!
! BGP Base 64910
!
router bgp 64910
  bestpath as-path multipath-relax
  maximum-paths ebgp 8
  maximum-paths ibgp 8
  router-id 10.128.0.26
 address-family ipv4 unicast
  network 10.128.0.16/30
  network 10.128.0.20/30
  network 10.128.0.64/26
  network 10.128.0.40/29
  network 10.128.0.26/32
!
!
  template TOR-64910
    remote-as 64910
    address-family ipv4 unicast
      activate
!
  neighbor 10.128.0.17
    inherit template TOR-64910
    description "LinkTo:BGP:64910:P2P_Rack01/Tor1_To_Rack01/BMC:10.128.0.17"
   password BWa:bRg74usZvC/
   address-family ipv4 unicast
   sender-side-loop-detection
  no shutdown
!
  neighbor 10.128.0.21
    inherit template TOR-64910
    description "LinkTo:BGP:64910:P2P_Rack01/Tor2_To_Rack01/BMC:10.128.0.21"
   password BWa:bRg74usZvC/
   address-family ipv4 unicast
   sender-side-loop-detection
  no shutdown
!
!
no ip dhcp snooping
!
!
! Point-To-Point ethernet 1/1/51
!
interface ethernet 1/1/51
  no switchport
  mtu 9216
  description "P2P_Rack01/Tor1_To_Rack01/BMC"
  ip address 10.128.0.18/30
  priority-flow-control mode on
  no shutdown
!
! Point-To-Point ethernet 1/1/52
!
interface ethernet 1/1/52
  no switchport
  mtu 9216
  description "P2P_Rack01/Tor2_To_Rack01/BMC"
  ip address 10.128.0.22/30
  priority-flow-control mode on
  no shutdown
!
!
!
interface vlan 125
  description "BMCMgmt Ports"
  no shutdown
!
!  ACCESS Ports BMCMgmt
!
interface ethernet 1/1/1
 description "BMCMgmt Ports"
 no switchport
 switchport mode access
 switchport access vlan 125
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 no shutdown
!
interface ethernet 1/1/2
 description "BMCMgmt Ports"
 no switchport
 switchport mode access
 switchport access vlan 125
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 no shutdown
!
interface ethernet 1/1/3
 description "BMCMgmt Ports"
 no switchport
 switchport mode access
 switchport access vlan 125
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 no shutdown
!
interface ethernet 1/1/4
 description "BMCMgmt Ports"
 no switchport
 switchport mode access
 switchport access vlan 125
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 no shutdown
!
interface ethernet 1/1/46
 description "BMCMgmt Ports"
 no switchport
 switchport mode access
 switchport access vlan 125
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 no shutdown
!
!
!
interface vlan 125
  description "BMCMgmt_RESERVED_PDU"
  shutdown
!
!  ACCESS Ports BMCMgmt_RESERVED_PDU
!
interface ethernet 1/1/41
 description "BMCMgmt_RESERVED_PDU"
 no switchport
 switchport mode access
 switchport access vlan 125
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/42
 description "BMCMgmt_RESERVED_PDU"
 no switchport
 switchport mode access
 switchport access vlan 125
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/43
 description "BMCMgmt_RESERVED_PDU"
 no switchport
 switchport mode access
 switchport access vlan 125
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/44
 description "BMCMgmt_RESERVED_PDU"
 no switchport
 switchport mode access
 switchport access vlan 125
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
!
!
interface vlan 125
  description "HLH-OS"
  no shutdown
!
!  ACCESS Ports HLH-OS
!
interface ethernet 1/1/49
 description "HLH-OS"
 no switchport
 switchport mode access
 switchport access vlan 125
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 no shutdown
!
interface ethernet 1/1/50
 description "HLH-OS"
 no switchport
 switchport mode access
 switchport access vlan 125
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 no shutdown
!
!
!
interface vlan 2
  description "Reserved_Port"
  shutdown
!
!  ACCESS Ports Reserved_Port_ethernet
!
interface ethernet 1/1/45
 description "Reserved_Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
!
!
interface vlan 5
  description "SwitchMgmt Ports"
  no shutdown
!
!  ACCESS Ports SwitchMgmt
!
interface ethernet 1/1/47
 description "SwitchMgmt Ports"
 no switchport
 switchport mode access
 switchport access vlan 5
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 no shutdown
!
interface ethernet 1/1/48
 description "SwitchMgmt Ports"
 no switchport
 switchport mode access
 switchport access vlan 5
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 no shutdown
!
!
!
interface vlan 2
  description "Unused Port"
  shutdown
!
!  ACCESS Ports Unused_Port_ethernet
!
interface ethernet 1/1/10
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/11
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/12
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/13
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/14
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/15
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/16
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/17
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/18
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/19
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/20
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/21
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/22
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/23
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/24
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/25
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/26
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/27
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/28
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/29
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/30
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/31
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/32
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/33
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/34
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/35
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/36
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/5
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/6
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/7
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/8
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/9
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/37
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/38
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/39
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
interface ethernet 1/1/40
 description "Unused Port"
 no switchport
 switchport mode access
 switchport access vlan 2
 spanning-tree bpduguard enable
 spanning-tree guard root
 mtu 9216
 shutdown
!
!
!
!
!
!
! SNMPv3 settings for OMNM
!
snmp-server group AzureStack_RO 3 auth notify rview read rview
snmp-server user azure_ro AzureStack_RO 3 auth sha yA+DO0Ky/Yp4lbC
snmp-server view rview 1 included
!
snmp-server enable traps
!
snmp-server host 10.128.0.116 traps version 3 auth azure_ro udp-port 162
snmp-server host 10.128.0.118 traps version 3 auth azure_ro udp-port 162
snmp-server trap-source vlan 5
!
!
ip ssh server enable
!
clock timezone UTC 0 0
ntp source vlan 5
ntp server 192.168.100.30
!