copy running-configuration config://Before_WANSIM.config


! GRE Tunnel To WANSIM
interface tunnel 1
  mode gre-ipv4
  ip address 2.1.1.3/31
  tunnel source 100.71.12.124
  tunnel destination 10.10.32.129
  description Tunnel_To_WANSIM
  no shutdown

! prefixlist.go.tmpl-prefixlist
ip prefix-list DEFAULT-FROM-WANSIM seq 5 permit 0.0.0.0/0
ip prefix-list DefaultRoute seq 10 permit 0.0.0.0/0
ip prefix-list DefaultRoute seq 50 deny 0.0.0.0/0 le 32
ip prefix-list FROM-BORDER seq 10 permit 0.0.0.0/0
ip prefix-list FROM-BORDER seq 20 permit 10.10.32.128/25
ip prefix-list FROM-BORDER seq 30 deny 0.0.0.0/0 le 32
ip prefix-list TO-BORDER seq 5 deny 0.0.0.0/0
ip prefix-list TO-BORDER seq 10 permit 0.0.0.0/0 le 32

route-map PREFER-WANSIM permit 10
  match ip address prefix-list DEFAULT-FROM-WANSIM
  set local-preference 200

router bgp 64556
  
  neighbor 100.71.12.5
    address-family ipv4 unicast
      distribute-list TO-BORDER out
      distribute-list FROM-BORDER in
  
  neighbor 100.71.12.13
    address-family ipv4 unicast
      distribute-list TO-BORDER out
      distribute-list FROM-BORDER in
  
  neighbor 100.71.12.17
    address-family ipv4 unicast
      
      
  
  neighbor 2.1.1.2
    remote-as 65003
    no shutdown
    description BGP_Peer_With_WANSIM
    address-family ipv4 unicast
      route-map PREFER-WANSIM in
      maximum-prefix 12000 warning-only


copy running-configuration config://After_WANSIM.config