{{ template "hostname" .Switch -}}
{{ template "stig_user" .GlobalSetting -}}
{{ template "stig_ssh" -}}
{{ template "stig_login" -}}
{{ template "stig_ztd" -}}
{{ template "stig_mac" -}}
{{ template "stig_logging" -}}
{{ template "define_vlan" .Vlans -}}
{{ template "interface_vlan" . -}}
{{ template "qos" -}}
{{ template "set_lldp" -}}
{{ template "set_dhcp" -}}
{{ template "set_vrrp" -}}
{{ template "set_load_sharing" -}}
{{if .Routing.PrefixList}}{{ template "prefixlist" .Routing.PrefixList -}} {{ end -}}
{{ template "portgroup" -}}
{{ template "vlt" . -}}
{{if .PortChannel}}{{ template "portchannel" .PortChannel -}}{{ end -}}
{{ template "loopback" .L3Interfaces -}}
{{ template "port" .Ports -}}
{{ template "bgp" .Routing.BGP -}}