{{ template "hostname" .Switch -}}
{{ template "stig_user" .GlobalSetting -}}
{{ template "stig_ssh" -}}
{{ template "stig_login" -}}
{{ template "stig_ztd" -}}
{{ template "stig_mac" -}}
{{ template "stig_logging" -}}
{{ template "define_vlan" .Vlans -}}
{{ template "interface_vlan" .Vlans -}}
{{- /* {{ template "define_vlan" .Vlans -}}
{{ template "interface_vlan" .Vlans -}} */ -}}