{{ define "hostname"}}
! header.go.tmpl-hostname
! Name: {{ .Hostname }}
! Make: {{ .Make }}
! Model: {{ .Model }}

banner motd ^C

NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE

Unauthorized access and/or use prohibited.
All access and/or use subject to monitoring.

NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE

^C

hostname {{ .Hostname }}
{{ end }}