{{ define "port"}}
! port.go.tmpl-port
{{ range . -}}
{{ if eq .Type "mgmt" -}}
interface {{ .Port }}
  description use the BMCMgmt switch virtual interface
  no ip address
  shutdown
{{ else -}}
interface {{ .Type}} {{ .Port }}
  description {{ .Description }}
  mtu {{ .Mtu }}
  {{if or (eq .Function "Unused") (eq .Function "RESERVED") -}} 
  switchport mode access
  switchport access vlan {{ .UntagVlan }}
  spanning-tree bpduguard enable
  spanning-tree guard root
  {{else if or (eq .Function "Compute") (eq .Function "Hyperconverged") -}}
  no switchport
  switchport mode trunk
  switchport access vlan {{ .UntagVlan }}
  {{ range .TagVlans -}}
  switchport trunk allowed vlan {{ . }}
  {{end -}}
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  qos-map traffic-class AZS_SERVICES_Que
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  {{else if eq .Function "Storage" -}}
  no switchport
  switchport mode trunk
  switchport access vlan {{ .UntagVlan }}
  {{ range .TagVlans -}}
  switchport trunk allowed vlan {{ . }}
  {{end -}}
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  qos-map traffic-class AZS_SERVICES_Que
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  {{else if eq .Function "MLAG_PEER" -}}
  no switchport
  no ip address
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  qos-map traffic-class AZS_SERVICES_Que
  ets mode on
  {{else if eq .Function "P2P_IBGP" -}}
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  qos-map traffic-class AZS_SERVICES_Que
  ets mode on
  channel-group {{ .Others.ChannelGroup }} mode active
  {{else if eq .Function "TOR_BMC" -}}
  channel-group {{ .Others.ChannelGroup }} mode active
  {{else if eq .Function "P2P_Border1" -}}
  no switchport
  ip address {{ .IPAddress }}
  {{else if eq .Function "P2P_Border2" -}}
  no switchport
  ip address {{ .IPAddress }}
  {{end -}}
  {{if .Shutdown }}shutdown{{ else }}no shutdown{{ end }}
  {{ end }}
{{ end -}}
{{ end -}}