{{ define "port"}}
! port.go.tmpl-port
{{ range . -}} 
{{ if .Others.channel_group }} 
interface {{ .PortName }} {{ .Port }}
  description {{ .Description }}
  no cdp enable
  mtu {{ .Mtu }}
  {{if eq .PortType "Trunk" -}}
  switchport
  switchport mode trunk
  switchport trunk allowed vlan {{.TagVlan}}
  {{end -}}
  logging event port link-status
  channel-group {{.Others.channel_group}} mode active
  {{if .Shutdown -}} shutdown {{else -}} no shutdown {{end}}
{{else -}}
{{if eq .PortType "BMCMgmt" -}} 
interface {{ .PortName }}
  description {{ .Description }}
  no ip redirects
  no ipv6 redirects
  ip address {{ .IPAddress }}
  {{if .Shutdown -}} shutdown {{else -}} no shutdown {{end}}
{{else -}}
interface {{ .PortName }} {{ .Port }}
  description {{ .Description }}
  no cdp enable
  mtu {{ .Mtu }}
  {{if eq .PortType "IP" -}} 
  no switchport
  ip address {{ .IPAddress }}
  {{end -}}
  {{- /*Access Port*/ -}}
  {{if eq .PortType "Access" -}} 
  switchport
  switchport access vlan {{ .UntagVlan }}
  spanning-tree port type edge
  no logging event port link-status
  {{end -}}{{- /*Access Port*/ -}}
  {{- /*Trunk Port*/ -}}
  {{if eq .PortType "Trunk" -}} 
  switchport
  switchport mode trunk
  {{if .UntagVlan -}}
  switchport trunk native vlan {{ .UntagVlan }}
  {{end -}}
  {{if .TagVlan -}}
  switchport trunk allowed vlan {{.TagVlan}}
  {{end -}}
  no logging event port link-status
  spanning-tree port type edge trunk
  {{if .Others.ServicePolicyInput -}}
  service-policy type qos input {{.Others.ServicePolicyInput}}
  {{end  -}}
  priority-flow-control mode on
  {{end -}}{{- /*Trunk Port*/ -}}
  {{if .Shutdown -}} shutdown {{else -}} no shutdown {{end}}
{{end }}
{{end -}}
{{end -}}
{{ end }}