{{ define "portchannel"}}
! portchannel.go.tmpl-portchannel
{{ range . }}
interface port-channel{{ .PortChannelID }}
  description VPC:{{ .Description }}
  {{if ne .IPAddress "" -}}
  no switchport
  priority-flow-control mode on
  ip address {{ .IPAddress }}
  logging event port link-status
  mtu 9216
  service-policy type qos input AZS_SERVICES
  {{else if ne .UntagVlan 0 -}}
  switchport
  switchport mode trunk
  switchport trunk native vlan {{ .UntagVlan }}
  spanning-tree port type network
  logging event port link-status
  vpc {{ .VPC }}
  {{else if ne .TagVlans 0 -}}
  switchport
  switchport mode trunk
  switchport trunk allowed vlan {{ .TagVlans }}
  spanning-tree port type network
  logging event port link-status
  vpc {{ .VPC }}
  {{end -}}
  {{if .Shutdown -}} shutdown {{else -}} no shutdown {{end}}
  {{ end }}
{{ end -}}