{{ define "qos"}}
! qos.go.tmpl-qos
!
! QOS AZS_SERVICES
!
trust dot1p-map AZS_SERVICES_Dot1p
qos-group 0 dot1p 0-2,4-6
qos-group 3 dot1p 3
qos-group 5 dot1p 7
!
qos-map traffic-class AZS_SERVICES_Que
queue 0 qos-group 0-2,4-6
queue 3 qos-group 3
queue 5 qos-group 7
!
class-map type network-qos AZS_SERVICES_Dot1p_7
match qos-group 7
!
class-map type network-qos AZS_SERVICES_Dot1p_3
match qos-group 3
!
class-map type queuing AZS_SERVICES_EtsQue_0
match queue 0
!
class-map type queuing AZS_SERVICES_EtsQue_3
match queue 3 
 !
class-map type queuing AZS_SERVICES_EtsQue_7
match queue 7 
!
policy-map type network-qos AZS_SERVICES_pfc
!
class AZS_SERVICES_Dot1p_3
  pause
  pfc-cos 3
!
policy-map type queuing AZS_SERVICES_ets
!
class AZS_SERVICES_EtsQue_0
  bandwidth percent 48
!
class AZS_SERVICES_EtsQue_3
  bandwidth percent 50
  !
class AZS_SERVICES_EtsQue_7
  bandwidth percent 2
!
dcbx enable
! 
system qos
 trust-map dot1p AZS_SERVICES_Dot1p
 ets mode on
!
! ecn.j2
!
wred ecn
 random-detect color green minimum-threshold 150 maximum-threshold 1500 drop-probability 100
 random-detect ecn
exit
!
class-map type queuing Queue_3
 match queue 3
 exit
!
policy-map type queuing policy_q3
 class Queue_3
  bandwidth percent 50
  random-detect ecn
  exit
exit
{{ end }}