{% if interfaces is defined -%}
! interface.j2 

{#- -------- Access Interfaces -------- #}
{% for iface in interfaces if iface.type == "Access" %}
{%- set intf_range = iface.intf if iface.intf is defined else iface.start_intf ~ (('-' ~ iface.end_intf) if iface.end_intf is defined and iface.end_intf != iface.start_intf else '') %}
{%- set intf_name = iface.intf_type ~ ' ' ~ intf_range %}
interface {{ intf_name }}
  description {{ iface.name }}
  no cdp enable
  switchport
  switchport mode access
  switchport access vlan {{ iface.access_vlan }}
  spanning-tree port type edge
  no logging event port link-status
  mtu 9216
  {%- if iface.service_policy is defined and iface.service_policy.qos_input is defined %}
  service-policy type qos input {{ iface.service_policy.qos_input }}
  {%- endif %}
  {%- if iface.shutdown is defined and iface.shutdown %}
  shutdown
  {%- else %}
  no shutdown
  {%- endif %}
{% endfor %}

{#- -------- Trunk Interfaces -------- #}
{% for iface in interfaces if iface.type == "Trunk" %}
{%- set intf_range = iface.intf if iface.intf is defined else iface.start_intf ~ (('-' ~ iface.end_intf) if iface.end_intf is defined and iface.end_intf != iface.start_intf else '') %}
{%- set intf_name = iface.intf_type ~ ' ' ~ intf_range %}
interface {{ intf_name }}
  description {{ iface.name }}
  no cdp enable
  switchport
  switchport mode trunk
  switchport trunk native vlan {{ iface.native_vlan }}
  switchport trunk allowed vlan {{ iface.tagged_vlans }}
  priority-flow-control mode on send-tlv
  spanning-tree port type edge trunk
  no logging event port link-status
  mtu 9216
  {%- if iface.service_policy is defined and iface.service_policy.qos_input is defined %}
  service-policy type qos input {{ iface.service_policy.qos_input }}
  {%- endif %}
  {%- if iface.shutdown is defined and iface.shutdown %}
  shutdown
  {%- else %}
  no shutdown
  {%- endif %}
{% endfor %}

{#- -------- L3 Interfaces (Ethernet only) -------- #}
{% for iface in interfaces if iface.type == "L3" and iface.intf_type | lower == "ethernet" %}
{%- set intf_range = iface.intf if iface.intf is defined else iface.start_intf ~ (('-' ~ iface.end_intf) if iface.end_intf is defined and iface.end_intf != iface.start_intf else '') %}
{%- set intf_name = iface.intf_type ~ ' ' ~ intf_range %}
interface {{ intf_name }}
  description {{ iface.name }}
  no cdp enable
  no switchport
  ip address {{ iface.ipv4 }}
  no ip redirects
  no ipv6 redirects
  mtu 9216
  {%- if iface.shutdown is defined and iface.shutdown %}
  shutdown
  {%- else %}
  no shutdown
  {%- endif %}
{% endfor %}

{#- -------- Loopback Interfaces -------- #}
{% for iface in interfaces if iface.intf_type | lower == "loopback" %}
interface {{ iface.intf_type }}{{ iface.intf }}
  description {{ iface.name }}
  ip address {{ iface.ipv4 }}
  mtu 9216
  {%- if iface.shutdown is defined and iface.shutdown %}
  shutdown
  {%- else %}
  no shutdown
  {%- endif %}
{% endfor %}
{% endif %}
