{% if qos is defined -%}
! qos.j2
{# -------- Network QoS: Set MTU and PFC -------- #}
policy-map type network-qos AZLOCAL-NWQOS
  class type network-qos AZLOCAL-NWQOS-RDMA
    pause pfc-cos 3
    mtu 9216
  class type network-qos AZLOCAL-NWQOS-DEFAULT
    mtu 9216
  class type network-qos AZLOCAL-NWQOS-CLUSTER
    mtu 9216

{# -------- QoS Classification: Match incoming CoS -------- #}
class-map type qos match-all AZLOCAL-QOS-RDMA
  match cos 3
class-map type qos match-all AZLOCAL-QOS-CLUSTER
  match cos 7

policy-map type qos AZLOCAL-QOS-MAP
  class AZLOCAL-QOS-RDMA
    set qos-group 3
  class AZLOCAL-QOS-CLUSTER
    set qos-group 7

{# -------- Queuing Policy: Define egress shaping -------- #}
policy-map type queuing AZLOCAL-QUEUE-OUT
  class type queuing c-out-8q-q3
    bandwidth remaining percent 50
    random-detect minimum-threshold 300 kbytes maximum-threshold 300 kbytes drop-probability 100 weight 0 ecn
  class type queuing c-out-8q-q-default
    bandwidth remaining percent 48
  class type queuing c-out-8q-q7
    bandwidth percent 2

{# -------- System QOS: Bind all policies globally -------- #}
system qos
  service-policy type network-qos AZLOCAL-NWQOS
  service-policy type queuing output AZLOCAL-QUEUE-OUT

{%- endif %}
