{% if bgp is defined -%}
! bgp.j2
router bgp {{ bgp.asn }}
  router-id {{ bgp.router_id }}
  bestpath as-path multipath-relax
  log-neighbor-changes
  maximum-paths 8
  maximum-paths ibgp 8
  address-family ipv4 unicast
    {%- for network in bgp.networks %}
    network {{ network }}
    {%- endfor %}

{#- -------- Loop through all BGP neighbors -------- #}
{%- for neighbor in bgp.neighbors %}
  {# -------- If the neighbor IP is a subnet, create a peer-group template -------- #}
  {%- if '/' in neighbor.ip %}
template TO_{{ neighbor.description }}
  ebgp-multihop {{ neighbor.ebgp_multihop }}
  listen {{ neighbor.ip }} limit 5
  remote-as {{ neighbor.remote_as }}
  update-source {{ neighbor.update_source }}
  {# -------- Otherwise, create a regular BGP neighbor -------- #}
  {%- else %}
neighbor {{ neighbor.ip }}
  description {{ neighbor.description }}
  remote-as {{ neighbor.remote_as }}
  no shutdown
  {%- if neighbor.update_source is defined %}
  update-source {{ neighbor.update_source }}
  {%- endif %}
  {%- if neighbor.ebgp_multihop is defined %}
  ebgp-multihop {{ neighbor.ebgp_multihop }}
  {%- endif %}
  address-family ipv4 unicast
    activate
    sender-side-loop-detection
    {%- if neighbor.af_ipv4_unicast.prefix_list_in is defined %}
    prefix-list {{ neighbor.af_ipv4_unicast.prefix_list_in }} in
    {%- endif %}
    {%- if neighbor.af_ipv4_unicast.prefix_list_out is defined %}
    prefix-list {{ neighbor.af_ipv4_unicast.prefix_list_out }} out
    {%- endif %}
  {%- endif %}
{%- endfor %}

{%- endif %}