{% if interfaces is defined -%}
! interface.j2

{%- for iface in interfaces %}
  {#- -------- Determine Interface Name -------- #}
  {%- set interface_name = None %}

  {%- if iface.start_intf is defined and iface.end_intf is defined %}
    {%- set interface_name = (iface.intf_type | default('Ethernet')) ~ ' ' ~ iface.start_intf ~ '-' ~ iface.end_intf.split('/')[-1] %}
  {%- elif iface.intf_type == 'loopback' and iface.intf is defined %}
    {%- set interface_name = iface.intf %}
  {%- elif iface.intf is defined %}
    {%- set interface_name = (iface.intf_type | default('Ethernet')) ~ ' ' ~ iface.intf %}
  {%- endif %}

  {%- if interface_name %}
interface {{ interface_name }}
  description {{ iface.name }}

  {#- -------- Ethernet Interface Common Settings -------- #}
  {%- if iface.intf_type | default('Ethernet') != 'loopback' %}
  no cdp enable
  {%- endif %}

  {#- -------- L2: Access or Trunk Interface -------- #}
  {%- if iface.type | lower == 'access' %}
  switchport
  switchport mode access
  switchport access vlan {{ iface.access_vlan }}
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge

  {%- elif iface.type | lower == 'trunk' %}
  switchport
  switchport mode trunk
  switchport trunk native vlan {{ iface.native_vlan }}
  switchport trunk allowed vlan {{ iface.tagged_vlans }}
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge trunk

    {#- -------- PFC Settings for Trunk Ports -------- #}
    {%- if iface.pfc == true %}
  flowcontrol receive off
  priority-flow-control mode on
  ets mode on
    {%- endif %}

    {#- -------- QoS Policy for Trunk Ports -------- #}
    {%- if iface['service-policy'] is defined %}
  service-policy input type network-qos {{ iface['service-policy'].ingress }}
  service-policy output type queuing {{ iface['service-policy'].egress }}
  qos-map traffic-class AZS_SERVICES_TrafficClass
    {%- endif %}

  {#- -------- L3: Routed Ethernet Interface -------- #}
  {%- elif iface.type | lower == 'l3' and iface.intf_type | default('Ethernet') != 'loopback' %}
  no switchport
  ip address {{ iface.ipv4 }}
  no ip redirects
  no ipv6 redirects

  {#- -------- L3: Loopback Interface -------- #}
  {%- elif iface.type | lower == 'l3' and iface.intf_type == 'loopback' %}
  ip address {{ iface.ipv4 }}
  {%- endif %}

  {#- -------- Common: MTU and Shutdown -------- #}
  mtu {{ iface.mtu | default(9216) }}
  {%- if iface.shutdown is defined and iface.shutdown %}
  shutdown
  {%- else %}
  no shutdown
  {%- endif %}

  {%- endif %}
{% endfor %}
{%- endif %}
