
! prefixlist.go.tmpl-prefixlist
ip prefix-list ExternalPrefix deny 10.71.1.0/24 le 32
ip prefix-list ExternalPrefix deny 10.71.2.0/24 le 32
ip prefix-list ExternalPrefix deny 100.69.181.0/24 le 32
ip prefix-list ExternalPrefix deny 100.69.182.0/25 le 32
ip prefix-list ExternalPrefix deny 100.69.182.128/25 le 32
ip prefix-list ExternalPrefix permit 0.0.0.0/0 le 32


! header.go.tmpl-hostname
! Name: B88-C01-5248hl-1-1a
! Make: DellEMC
! Model: S5248-ON

hostname B88-C01-5248hl-1-1a

banner motd #
NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE

BuildVersion: 1.2305.01
Unauthorized access and/or use prohibited.
All access and/or use subject to monitoring.

NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE
#

! stig.go.tmpl-stig_user
password-attributes character-restriction upper 1 lower 1 numeric 1 special-char 1 min-length 15 lockout-period 15 max-retry 3
password-attributes lockout-period 5
!
enable password 0 $CREDENTIAL_PLACEHOLDER$ priv-lvl 15
username admin password $CREDENTIAL_PLACEHOLDER$ role sysadmin
username dellalr password $CREDENTIAL_PLACEHOLDER$ role sysadmin
username $CREDENTIAL_PLACEHOLDER$ password $CREDENTIAL_PLACEHOLDER$ role sysadmin
system-user linuxadmin password $CREDENTIAL_PLACEHOLDER$

! stig.go.tmpl-stig_ssh
ip ssh server enable
ip ssh server cipher aes256-ctr aes192-ctr aes128-ctr
ip ssh server mac hmac-sha1 hmac-sha2-256
ip ssh server max-auth-tries 3
no ip telnet server enable
line vty
 ip access-class ssh-only

! stig.go.tmpl-stig_login
login concurrent-session limit 3
!
login statistics enable

! stig.go.tmpl-stig_ztd
ztd cancel

! stig.go.tmpl-stig_mac
mac address-table aging-time 1000000

! stig.go.tmpl-stig_logging
logging audit enable
logging console disable

! qos.go.tmpl-qos
!
class-map type application class-iscsi
!
class-map type queuing Q0
 match queue 0 
!
class-map type queuing Q3
 match queue 3 
!
class-map type queuing Q5
 match queue 5 
!
class-map type network-qos S2DManagement
 match qos-group 0 
!
class-map type network-qos SmbStorage
 match qos-group 3 
!
class-map type network-qos NodeHeartBeat
 match qos-group 5 
!
qos-map traffic-class queue-map
 queue 5 qos-group 5
 queue 0 qos-group 0-2,4,6-7
 queue 3 qos-group 3
!
policy-map type application policy-iscsi
!
policy-map type queuing ets-policy
 !
 class Q0
  bandwidth percent 48
 !
 class Q3
  bandwidth percent 50
 !
 class Q5
  bandwidth percent 2
!
policy-map type network-qos pfc-policy
 !
 class SmbStorage
  pause
  pfc-cos 3 
 !
 class NodeHeartBeat
  pause
  pfc-cos 5 
!
system qos
 trust-map dot1p default
 ets mode on
!

! portgroup.go.tmpl-portgroup
!

port-group 1/1/1
 mode Eth 25g-4x

port-group 1/1/2
 mode Eth 25g-4x

port-group 1/1/3
 mode Eth 25g-4x

port-group 1/1/4
 mode Eth 25g-4x

port-group 1/1/5
 mode Eth 10g-4x

port-group 1/1/6
 mode Eth 10g-4x

port-group 1/1/7
 mode Eth 10g-4x

port-group 1/1/8
 mode Eth 10g-4x

port-group 1/1/9
 mode Eth 25g-4x

port-group 1/1/10
 mode Eth 25g-4x

port-group 1/1/11
 mode Eth 10g-4x

port-group 1/1/12
 mode Eth 10g-4x

port-group 1/1/13
 mode Eth 100g-2x

port-group 1/1/14
 mode Eth 100g-2x

port-group 1/1/15
 mode Eth 100g-1x

port-group 1/1/16
 mode Eth 100g-1x

port-group 1/1/17
 mode Eth 100g-1x

port-group 1/1/18
 mode Eth 100g-1x

! vlan.go.tmpl-define_vlan
    
interface vlan 2
  description UNUSED_VLAN
  shutdown 
    
interface vlan 6
  description HNVPA_6
  no shutdown 
    
interface vlan 7
  description Infra_7
  no shutdown 
    
interface vlan 125
  description BMC_Mgmt_125
  no shutdown 
    
interface vlan 201
  description Tenant_201
  no shutdown 
    
interface vlan 301
  description LogicalTenant_301
  no shutdown 
    
interface vlan 401
  description DhcpTenant_401
  no shutdown 
    
interface vlan 501
  description L3forward_501
  no shutdown 
    
interface vlan 502
  description L3forward_502
  no shutdown 
    
interface vlan 503
  description L3forward_503
  no shutdown 
    
interface vlan 504
  description L3forward_504
  no shutdown 
    
interface vlan 505
  description L3forward_505
  no shutdown 
    
interface vlan 506
  description L3forward_506
  no shutdown 
    
interface vlan 507
  description L3forward_507
  no shutdown 
    
interface vlan 508
  description L3forward_508
  no shutdown 
    
interface vlan 509
  description L3forward_509
  no shutdown 
    
interface vlan 510
  description L3forward_510
  no shutdown 
    
interface vlan 511
  description L3forward_511
  no shutdown 
    
interface vlan 512
  description L3forward_512
  no shutdown 
    
interface vlan 513
  description L3forward_513
  no shutdown 
    
interface vlan 514
  description L3forward_514
  no shutdown 
    
interface vlan 515
  description L3forward_515
  no shutdown 
    
interface vlan 516
  description L3forward_516
  no shutdown 
    
interface vlan 711
  description Storage_711
  no shutdown 
    
interface vlan 712
  description Storage_712
  no shutdown 


! vlan.go.tmpl-interface_vlan

 
interface vlan 6
  description HNVPA_6
  mtu 9216
  no shutdown
  ip address 100.71.131.130
  vrrp-group 6
    virtual-address 100.71.131.129
    no preempt
    priority 150
    
 
interface vlan 7
  description Infra_7
  mtu 9216
  no shutdown
  ip address 100.69.180.2
  vrrp-group 7
    virtual-address 100.69.180.1
    no preempt
    priority 150
    
 
interface vlan 125
  description BMC_Mgmt_125
  mtu 9216
  no shutdown
  ip address 100.71.85.251
  vrrp-group 125
    virtual-address 100.71.85.193
    no preempt
    priority 150
    
 
interface vlan 201
  description Tenant_201
  mtu 9216
  no shutdown
  ip address 100.69.181.2
  vrrp-group 201
    virtual-address 100.69.181.1
    no preempt
    priority 150
    
 
interface vlan 301
  description LogicalTenant_301
  mtu 9216
  no shutdown
  ip address 100.69.182.2
  vrrp-group 301
    virtual-address 100.69.182.1
    no preempt
    priority 150
    
 
interface vlan 401
  description DhcpTenant_401
  mtu 9216
  no shutdown
  ip address 100.69.182.130
  vrrp-group 401
    virtual-address 100.69.182.129
    no preempt
    priority 150
    
 
interface vlan 501
  description L3forward_501
  mtu 9216
  no shutdown
  ip address 100.69.183.2
  vrrp-group 501
    virtual-address 100.69.183.1
    no preempt
    priority 150
    
 
interface vlan 502
  description L3forward_502
  mtu 9216
  no shutdown
  ip address 100.69.183.18
  vrrp-group 502
    virtual-address 100.69.183.17
    no preempt
    priority 150
    
 
interface vlan 503
  description L3forward_503
  mtu 9216
  no shutdown
  ip address 100.69.183.34
  vrrp-group 503
    virtual-address 100.69.183.33
    no preempt
    priority 150
    
 
interface vlan 504
  description L3forward_504
  mtu 9216
  no shutdown
  ip address 100.69.183.50
  vrrp-group 504
    virtual-address 100.69.183.49
    no preempt
    priority 150
    
 
interface vlan 505
  description L3forward_505
  mtu 9216
  no shutdown
  ip address 100.69.183.66
  vrrp-group 505
    virtual-address 100.69.183.65
    no preempt
    priority 150
    
 
interface vlan 506
  description L3forward_506
  mtu 9216
  no shutdown
  ip address 100.69.183.82
  vrrp-group 506
    virtual-address 100.69.183.81
    no preempt
    priority 150
    
 
interface vlan 507
  description L3forward_507
  mtu 9216
  no shutdown
  ip address 100.69.183.98
  vrrp-group 507
    virtual-address 100.69.183.97
    no preempt
    priority 150
    
 
interface vlan 508
  description L3forward_508
  mtu 9216
  no shutdown
  ip address 100.69.183.114
  vrrp-group 508
    virtual-address 100.69.183.113
    no preempt
    priority 150
    
 
interface vlan 509
  description L3forward_509
  mtu 9216
  no shutdown
  ip address 100.69.183.130
  vrrp-group 509
    virtual-address 100.69.183.129
    no preempt
    priority 150
    
 
interface vlan 510
  description L3forward_510
  mtu 9216
  no shutdown
  ip address 100.69.183.145
  
 
interface vlan 511
  description L3forward_511
  mtu 9216
  no shutdown
  ip address 100.69.183.162
  vrrp-group 511
    virtual-address 100.69.183.161
    no preempt
    priority 150
    
 
interface vlan 512
  description L3forward_512
  mtu 9216
  no shutdown
  ip address 100.69.183.178
  vrrp-group 512
    virtual-address 100.69.183.177
    no preempt
    priority 150
    
 
interface vlan 513
  description L3forward_513
  mtu 9216
  no shutdown
  ip address 100.69.183.194
  vrrp-group 513
    virtual-address 100.69.183.193
    no preempt
    priority 150
    
 
interface vlan 514
  description L3forward_514
  mtu 9216
  no shutdown
  ip address 100.69.183.210
  vrrp-group 514
    virtual-address 100.69.183.209
    no preempt
    priority 150
    
 
interface vlan 515
  description L3forward_515
  mtu 9216
  no shutdown
  ip address 100.69.183.226
  vrrp-group 515
    virtual-address 100.69.183.225
    no preempt
    priority 150
    
 
interface vlan 516
  description L3forward_516
  mtu 9216
  no shutdown
  ip address 100.69.183.242
  vrrp-group 516
    virtual-address 100.69.183.241
    no preempt
    priority 150
    


! stig.go.tmpl-stig_lldp
lldp enable

! stig.go.tmpl-stig_dhcp
no ip dhcp-relay information-option
no ip dhcp snooping

! stig.go.tmpl-stig_vrrp
vrrp version 3
vrrp delay reload 180

! settings.go.tmpl-set_ntp
clock timezone UTC 0 0
ntp server 10.10.240.20
ntp source-interface vlan125

! settings.go.tmpl-set_syslog
logging server 10.10.43.111
logging source-interface vlan125
logging audit enable 
logging console disable 
logging audit enable
logging console disable

! settings.go.tmpl-set_load_sharing
ip load-sharing address source-destination port source-destination

! prefixlist.go.tmpl-prefixlist
ip prefix-list ExternalPrefix deny 10.71.1.0/24 le 32
ip prefix-list ExternalPrefix deny 10.71.2.0/24 le 32
ip prefix-list ExternalPrefix deny 100.69.181.0/24 le 32
ip prefix-list ExternalPrefix deny 100.69.182.0/25 le 32
ip prefix-list ExternalPrefix deny 100.69.182.128/25 le 32
ip prefix-list ExternalPrefix permit 0.0.0.0/0 le 32


! vlt.go.tmpl-vlt

vlt-domain 1 
  discovery-interface ethernet 1/1/49
  discovery-interface ethernet 1/1/50
  discovery-interface ethernet 1/1/51
  discovery-interface ethernet 1/1/52
  backup destination 100.71.85.146
  peer-routing
  primary-priority 1
  vlt-mac de:ad:00:be:ef:01 

! portchannel.go.tmpl-portchannel

interface port-channel101
  description VLTi:MLAG_PEER
  switchport mode trunk
  switchport trunk allowed vlan 99
  no shutdown 
  
interface port-channel50
  description VLTi:P2P_IBGP
  no switchport
  mtu 9216
  ip address 100.71.85.145/30
  no shutdown 
  
interface port-channel102
  description VLTi:TOR_BMC
  switchport mode trunk
  switchport trunk allowed vlan 125
  vlt-port-channel 102
  no shutdown 
  



! port.go.tmpl-port
interface ethernet 1/1/1
  description Switched-Compute
  mtu 9216
  no switchport
  switchport mode trunk
  switchport access vlan 7
  switchport trunk allowed vlan 6
  switchport trunk allowed vlan 201
  switchport trunk allowed vlan 301
  switchport trunk allowed vlan 401
  switchport trunk allowed vlan 501
  switchport trunk allowed vlan 502
  switchport trunk allowed vlan 503
  switchport trunk allowed vlan 504
  switchport trunk allowed vlan 505
  switchport trunk allowed vlan 506
  switchport trunk allowed vlan 507
  switchport trunk allowed vlan 508
  switchport trunk allowed vlan 509
  switchport trunk allowed vlan 510
  switchport trunk allowed vlan 511
  switchport trunk allowed vlan 512
  switchport trunk allowed vlan 513
  switchport trunk allowed vlan 514
  switchport trunk allowed vlan 515
  switchport trunk allowed vlan 516
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  qos-map traffic-class AZS_SERVICES_Que
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  no shutdown
  
interface ethernet 1/1/2
  description Switched-Compute
  mtu 9216
  no switchport
  switchport mode trunk
  switchport access vlan 7
  switchport trunk allowed vlan 6
  switchport trunk allowed vlan 201
  switchport trunk allowed vlan 301
  switchport trunk allowed vlan 401
  switchport trunk allowed vlan 501
  switchport trunk allowed vlan 502
  switchport trunk allowed vlan 503
  switchport trunk allowed vlan 504
  switchport trunk allowed vlan 505
  switchport trunk allowed vlan 506
  switchport trunk allowed vlan 507
  switchport trunk allowed vlan 508
  switchport trunk allowed vlan 509
  switchport trunk allowed vlan 510
  switchport trunk allowed vlan 511
  switchport trunk allowed vlan 512
  switchport trunk allowed vlan 513
  switchport trunk allowed vlan 514
  switchport trunk allowed vlan 515
  switchport trunk allowed vlan 516
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  qos-map traffic-class AZS_SERVICES_Que
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  no shutdown
  
interface ethernet 1/1/3
  description Switched-Compute
  mtu 9216
  no switchport
  switchport mode trunk
  switchport access vlan 7
  switchport trunk allowed vlan 6
  switchport trunk allowed vlan 201
  switchport trunk allowed vlan 301
  switchport trunk allowed vlan 401
  switchport trunk allowed vlan 501
  switchport trunk allowed vlan 502
  switchport trunk allowed vlan 503
  switchport trunk allowed vlan 504
  switchport trunk allowed vlan 505
  switchport trunk allowed vlan 506
  switchport trunk allowed vlan 507
  switchport trunk allowed vlan 508
  switchport trunk allowed vlan 509
  switchport trunk allowed vlan 510
  switchport trunk allowed vlan 511
  switchport trunk allowed vlan 512
  switchport trunk allowed vlan 513
  switchport trunk allowed vlan 514
  switchport trunk allowed vlan 515
  switchport trunk allowed vlan 516
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  qos-map traffic-class AZS_SERVICES_Que
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  no shutdown
  
interface ethernet 1/1/4
  description Switched-Compute
  mtu 9216
  no switchport
  switchport mode trunk
  switchport access vlan 7
  switchport trunk allowed vlan 6
  switchport trunk allowed vlan 201
  switchport trunk allowed vlan 301
  switchport trunk allowed vlan 401
  switchport trunk allowed vlan 501
  switchport trunk allowed vlan 502
  switchport trunk allowed vlan 503
  switchport trunk allowed vlan 504
  switchport trunk allowed vlan 505
  switchport trunk allowed vlan 506
  switchport trunk allowed vlan 507
  switchport trunk allowed vlan 508
  switchport trunk allowed vlan 509
  switchport trunk allowed vlan 510
  switchport trunk allowed vlan 511
  switchport trunk allowed vlan 512
  switchport trunk allowed vlan 513
  switchport trunk allowed vlan 514
  switchport trunk allowed vlan 515
  switchport trunk allowed vlan 516
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  qos-map traffic-class AZS_SERVICES_Que
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  no shutdown
  
interface ethernet 1/1/5
  description Switched-Storage
  mtu 9216
  no switchport
  switchport mode trunk
  switchport access vlan 2
  switchport trunk allowed vlan 711
  switchport trunk allowed vlan 712
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  qos-map traffic-class AZS_SERVICES_Que
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  shutdown
  
interface ethernet 1/1/6
  description Switched-Storage
  mtu 9216
  no switchport
  switchport mode trunk
  switchport access vlan 2
  switchport trunk allowed vlan 711
  switchport trunk allowed vlan 712
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  qos-map traffic-class AZS_SERVICES_Que
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  shutdown
  
interface ethernet 1/1/7
  description Switched-Storage
  mtu 9216
  no switchport
  switchport mode trunk
  switchport access vlan 2
  switchport trunk allowed vlan 711
  switchport trunk allowed vlan 712
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  qos-map traffic-class AZS_SERVICES_Que
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  shutdown
  
interface ethernet 1/1/8
  description Switched-Storage
  mtu 9216
  no switchport
  switchport mode trunk
  switchport access vlan 2
  switchport trunk allowed vlan 711
  switchport trunk allowed vlan 712
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  qos-map traffic-class AZS_SERVICES_Que
  ets mode on
  spanning-tree bpduguard enable
  spanning-tree guard root
  spanning-tree port type edge
  shutdown
  
interface ethernet 1/1/9
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/10
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/11
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/12
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/13
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/14
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/15
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/16
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/17:1
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/18:1
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/19:1
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/20:1
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/21:1
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/22:1
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/23:1
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/24:1
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/25:1
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/26:1
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/27:1
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/28:1
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/29:1
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/30:1
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/31:1
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/32:1
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/33
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/34
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/35
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/36
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/37
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/38
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/39
  description P2P_IBGP
  mtu 9216
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  qos-map traffic-class AZS_SERVICES_Que
  ets mode on
  channel-group  mode active
  no shutdown
  
interface ethernet 1/1/40
  description P2P_IBGP
  mtu 9216
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  qos-map traffic-class AZS_SERVICES_Que
  ets mode on
  channel-group  mode active
  no shutdown
  
interface ethernet 1/1/41:1
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/42:1
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/43:1
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/44:1
  description TOR_BMC
  mtu 9216
  channel-group  mode active
  no shutdown
  
interface ethernet 1/1/45:1
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/46:1
  description Unused
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/47:1
  description P2P_Border2
  mtu 9216
  no switchport
  ip address 100.71.85.138/30
  no shutdown
  
interface ethernet 1/1/48:1
  description P2P_Border1
  mtu 9216
  no switchport
  ip address 100.71.85.130/30
  no shutdown
  
interface ethernet 1/1/49
  description MLAG_Peer
  mtu 9216
  shutdown
  
interface ethernet 1/1/50
  description MLAG_Peer
  mtu 9216
  shutdown
  
interface ethernet 1/1/51
  description MLAG_Peer
  mtu 9216
  shutdown
  
interface ethernet 1/1/52
  description MLAG_Peer
  mtu 9216
  shutdown
  
interface ethernet 1/1/53
  description RESERVED
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/54
  description RESERVED
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/55
  description RESERVED
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface ethernet 1/1/56
  description RESERVED
  mtu 9216
  switchport mode access
  switchport access vlan 2
  spanning-tree bpduguard enable
  spanning-tree guard root
  shutdown
  
interface mgmt 1/1/1
  description use the BMCMgmt switch virtual interface
  no ip address
  shutdown




! bgp.go.tmpl-bgp
router bgp 65341
  router-id 100.71.85.149
  bestpath as-path multipath-relax
  maximum-paths 8
  maximum-paths ibgp 8
  address-family ipv4 unicast
    network 100.71.85.128/30
    network 100.71.85.136/30
    network 100.71.85.144/30
    network 100.71.85.149/32
    network 100.71.85.192/26
    network 100.71.131.128/25
    network 100.69.181.0/24
    network 100.69.182.0/25
    network 100.69.182.128/25
    network 100.69.183.0/28
    network 100.69.183.16/28
    network 100.69.183.32/28
    network 100.69.183.48/28
    network 100.69.183.64/28
    network 100.69.183.80/28
    network 100.69.183.96/28
    network 100.69.183.112/28
    network 100.69.183.128/28
    network 100.69.183.144/28
    network 100.69.183.160/28
    network 100.69.183.176/28
    network 100.69.183.192/28
    network 100.69.183.208/28
    network 100.69.183.224/28
    network 100.69.183.240/28
    
  !
  template TO_MUX
    ebgp-multihop 3
    listen 100.71.131.128/25 limit 5
    remote-as 65033
    update-source Loopback0
  !
  neighbor 100.71.85.129
    description TO_Border1
    remote-as 64805
    no shutdown
    remove-private-as
    !
    !
    !
    !
    address-family ipv4 unicast
      activate
      sender-side-loop-detection
      distribute-list ExternalPrefix in
      distribute-list ExternalPrefix out
      
  neighbor 100.71.85.137
    description TO_Border2
    remote-as 64805
    no shutdown
    remove-private-as
    !
    !
    !
    !
    address-family ipv4 unicast
      activate
      sender-side-loop-detection
      distribute-list ExternalPrefix in
      distribute-list ExternalPrefix out
      
  neighbor 100.71.85.146
    description TO_TOR2
    remote-as 65341
    no shutdown
    !
    password ArZm9d#t5&Jue5g#
    !
    !
    !
    address-family ipv4 unicast
      activate
      sender-side-loop-detection
      
  !
