rack2-Rack01-BMC-1# show running-configuration
! Version 10.5.3.2
! Last configuration change at Apr  19 01:46:29 2023
!
ip vrf default
!
no ip dhcp-relay information-option
rest api restconf
errdisable recovery cause bpduguard
banner motd ^C

 NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE
 Device name rack2-Rack01-BMC-1
 BUILDNUMBER: 1.2206.2049.163
 Unauthorized access and/or use prohibited.
 All access and/or use subject to monitoring.
 NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE  NOTICE

^C
clock timezone UTC 0 0
crypto fips enable
hostname rack2-Rack01-BMC-1
password-attributes character-restriction upper 1
password-attributes character-restriction lower 1
password-attributes character-restriction numeric 1
password-attributes character-restriction special-char 1
password-attributes lockout-period 15
password-attributes min-length 15
system-user linuxadmin password ****
logging audit enable
logging console disable
iscsi target port 860
iscsi target port 3260
username admin password **** role sysadmin priv-lvl 15
username deployadmin password **** role sysadmin priv-lvl 15
username changeme password **** role sysadmin priv-lvl 15
username deployadmin sshkey "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC8f/5CdA9C+CZJgprDO6oGEHQeOsmAveU3JZRsZXlfY/JmzzBw2QkV/b8tj7mu0FDzqe+WU7XpTGWAhKbq8iCjkmWnS5gWH0oUbkQOx4YuljV6+u4j39IXw+9/1SBYEooveWIX+IKV4r+Hk3ByBKzFC81Jb4xPG0dlqFuSuINOgfUyea3bmfR3d107vbfzSGCFMNp2lNillw1sm1xLoZYrL1GpGxaTYUf/Xf/6AC5DSTvR4iKL3XUEAmwbl636G3aidUK71gRZvrDwPpdiSwUVEcTbXam+suLA3B7p8uEKd91elUa3XoV4eYMEQBtpWCgCHOzXTwkG3vUdviJKrJ1r deployadmin"
aaa authentication login default local
aaa authentication login console local
!
class-map type application class-iscsi
!
policy-map type application policy-iscsi
!
interface vlan1
 no shutdown
!
interface vlan2
 description "Unused Port"
 shutdown
 mtu 9216
!
interface vlan5
 description "SwitchMgmt Ports"
 no shutdown
 mtu 9216
 ip address 10.185.239.169/29
 ip access-group Rack01-SwitchMgmt_IN in
 ip access-group Rack01-SwitchMgmt_OUT out
 ip helper-address 10.185.239.254
!
interface vlan125
 description HLH-OS
 no shutdown
 mtu 9216
 ip address 10.185.239.193/26
 ip access-group Rack01-BMCMgmt_IN in
 ip access-group Rack01-BMCMgmt_OUT out
!
interface loopback0
 description Loopback_Rack01/BMC
 no shutdown
 ip address 10.185.239.154/32
!
interface mgmt1/1/1
 shutdown
 ipv6 address autoconfig
!
interface ethernet1/1/1
 description "BMCMgmt Ports"
 no shutdown
 switchport access vlan 125
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/2
 description "BMCMgmt Ports"
 no shutdown
 switchport access vlan 125
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/3
 description "BMCMgmt Ports"
 no shutdown
 switchport access vlan 125
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/4
 description "BMCMgmt Ports"
 no shutdown
 switchport access vlan 125
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/5
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/6
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/7
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/8
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/9
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/10
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/11
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/12
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/13
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/14
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/15
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/16
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/17
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/18
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/19
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/20
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/21
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/22
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/23
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/24
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/25
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/26
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/27
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/28
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/29
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/30
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/31
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/32
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/33
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/34
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/35
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/36
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/37
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/38
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/39
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/40
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/41
 description BMCMgmt_RESERVED_PDU
 shutdown
 switchport access vlan 125
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/42
 description BMCMgmt_RESERVED_PDU
 shutdown
 switchport access vlan 125
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/43
 description BMCMgmt_RESERVED_PDU
 shutdown
 switchport access vlan 125
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/44
 description BMCMgmt_RESERVED_PDU
 shutdown
 switchport access vlan 125
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/45
 description Reserved_Port
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/46
 description "BMCMgmt Ports"
 no shutdown
 switchport access vlan 125
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/47
 description "SwitchMgmt Ports"
 no shutdown
 switchport access vlan 5
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/48
 description "SwitchMgmt Ports"
 no shutdown
 switchport access vlan 5
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/49
 description HLH-OS
 no shutdown
 switchport access vlan 125
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/50
 description HLH-OS
 no shutdown
 switchport access vlan 125
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/51
 description P2P_Rack01/Tor1_To_Rack01/BMC
 no shutdown
 no switchport
 mtu 9216
 ip address 10.185.239.146/30
 flowcontrol receive off
 priority-flow-control mode on
!
interface ethernet1/1/52
 description P2P_Rack01/Tor2_To_Rack01/BMC
 no shutdown
 no switchport
 mtu 9216
 ip address 10.185.239.150/30
 flowcontrol receive off
 priority-flow-control mode on
!
logging source-interface mgmt1/1/1
!
logging server 10.185.192.141
!
ip access-list ssh-only
 seq 10 remark "Permit OMEss/OMNM/OMEnt ssh access to switch network"
 seq 20 permit tcp 10.185.239.244/32 10.185.239.168/29 eq 22
 seq 30 permit tcp 10.185.239.245/32 10.185.239.168/29 eq 22
 seq 40 permit tcp 10.185.239.246/32 10.185.239.168/29 eq 22
 seq 500 remark "Permit R01-C01-SU01-INF(10.177.146.0/24)_TO_any(0.0.0.0/0)"
 seq 510 permit ip 10.177.146.0/24 0.0.0.0/0 count
 seq 520 remark "Permit PermitNetworks(0.0.0.0/0)_TO_R01-SwitchMgmt(10.185.239.168/29)"
 seq 530 permit ip 0.0.0.0/0 10.185.239.168/29 count
 seq 540 remark "Permit R01-bmc(10.185.239.192/26)_TO_R01-SwitchMgmt(10.185.239.168/29)"
 seq 550 permit ip 10.185.239.192/26 10.185.239.168/29 count
 seq 560 remark "Deny any(0.0.0.0/0)_TO_any(0.0.0.0/0)"
 seq 570 deny ip 0.0.0.0/0 0.0.0.0/0 count
!
ip access-list Rack01-BMCMgmt_IN
 seq 10 remark "Permit OM VMs to Switch network (10.185.239.168/29)"
 seq 20 permit ip 10.185.239.244/32 10.185.239.168/29 count
 seq 30 permit ip 10.185.239.245/32 10.185.239.168/29 count
 seq 40 permit ip 10.185.239.246/32 10.185.239.168/29 count
 seq 50 remark "Permit OM VMs to TOR1-P2P network 10.185.239.144/30"
 seq 60 permit ip 10.185.239.244/32 10.185.239.144/30 count
 seq 70 permit ip 10.185.239.245/32 10.185.239.144/30 count
 seq 80 permit ip 10.185.239.246/32 10.185.239.144/30 count
 seq 90 remark "Permit OM VMs to TOR2-P2P network 10.185.239.148/30"
 seq 100 permit ip 10.185.239.244/32 10.185.239.148/30 count
 seq 110 permit ip 10.185.239.245/32 10.185.239.148/30 count
 seq 120 permit ip 10.185.239.246/32 10.185.239.148/30 count
 seq 130 remark "Permit OM VMs to Infrastructure VIP network 100.73.0.128/25"
 seq 140 permit ip 10.185.239.244/32 100.73.0.128/25 count
 seq 150 permit ip 10.185.239.245/32 100.73.0.128/25 count
 seq 160 permit ip 10.185.239.246/32 100.73.0.128/25 count
 seq 170 remark "Permit UDP any port 68_TO_any port 67"
 seq 180 permit udp any eq 68 any eq 67 count
 seq 190 remark "Permit UDP any port 67_TO_any port 68"
 seq 200 permit udp any eq 67 any eq 68 count
 seq 500 remark "Permit R01-bmc (10.185.239.192/26)_TO_R01-bmc (10.185.239.192/26)"
 seq 510 permit ip 10.185.239.192/26 10.185.239.192/26 count
 seq 520 remark "Permit R01-bmc (10.185.239.192/26)_TO_R01-SwitchMgmt (10.185.239.168/29)"
 seq 530 permit ip 10.185.239.192/26 10.185.239.168/29 count
 seq 540 remark "Permit R2-hlh-dvm00 (10.185.239.253/32)_TO_any"
 seq 550 permit ip 10.185.239.253/32 0.0.0.0/0 count
 seq 560 remark "Permit UDP R01-bmc (10.185.239.192/26)_TO_ntp port 123 (10.185.239.254/32)"
 seq 570 permit udp 10.185.239.192/26 10.185.239.254/32 eq 123 count
 seq 580 remark "Permit UDP R01-bmc (10.185.239.192/26)_TO_dns port 53 (10.50.10.50/32)"
 seq 590 permit udp 10.185.239.192/26 10.50.10.50/32 eq 53 count
 seq 600 remark "Permit UDP R01-bmc (10.185.239.192/26)_TO_dns port 53 (10.50.50.50/32)"
 seq 610 permit udp 10.185.239.192/26 10.50.50.50/32 eq 53 count
 seq 620 remark "Permit hlh-os (10.185.239.254/32)_TO_R01-C01-su01-INF-pub-adm (10.177.146.224/27)"
 seq 630 permit ip 10.185.239.254/32 10.177.146.224/27 count
 seq 640 remark "Deny external1 (10.185.239.244/30)_TO_R01-SwitchINF (10.185.239.128/26)"
 seq 650 deny ip 10.185.239.244/30 10.185.239.128/26 count
 seq 660 remark "Deny external1 (10.185.239.244/30)_TO_C01-InVIP (100.73.0.128/25)"
 seq 670 deny ip 10.185.239.244/30 100.73.0.128/25 count
 seq 680 remark "Permit external1 (10.185.239.244/30)_TO_any"
 seq 690 permit ip 10.185.239.244/30 0.0.0.0/0 count
 seq 700 remark "Permit bmcnode (10.185.239.192/28)_TO_R01-C01-su01-INF-pub-adm (10.177.146.224/27)"
 seq 710 permit ip 10.185.239.192/28 10.177.146.224/27 count
 seq 720 remark "Permit bmcnode (10.185.239.208/31)_TO_R01-C01-su01-INF-pub-adm (10.177.146.224/27)"
 seq 730 permit ip 10.185.239.208/31 10.177.146.224/27 count
 seq 740 remark "Permit bmcnode (10.185.239.210/32)_TO_R01-C01-su01-INF-pub-adm (10.177.146.224/27)"
 seq 750 permit ip 10.185.239.210/32 10.177.146.224/27 count
 seq 760 remark "Permit hlh-os (10.185.239.254/32)_TO_PermitNetworks (0.0.0.0/0)"
 seq 770 permit ip 10.185.239.254/32 0.0.0.0/0 count
 seq 780 remark "Permit nrc (10.177.147.31/32)_TO_any"
 seq 790 permit ip 10.177.147.31/32 0.0.0.0/0 count
 seq 800 remark "Permit any_TO_nrc (10.177.147.31/32)"
 seq 810 permit ip 0.0.0.0/0 10.177.147.31/32 count
 seq 820 remark "Permit udp R01-bmc (10.185.239.192/26)_TO_syslog server (10.185.192.141/32)"
 seq 830 permit udp 10.185.239.192/26 10.185.192.141/32 eq 514 count
 seq 840 remark "Deny ip Any_TO_Any"
 seq 850 deny ip 0.0.0.0/0 0.0.0.0/0 count
!
ip access-list Rack01-BMCMgmt_OUT
 seq 10 remark "Permit OM VMs to Switch network (10.185.239.168/29)"
 seq 20 permit ip 10.185.239.168/29 10.185.239.244/32 count
 seq 30 permit ip 10.185.239.168/29 10.185.239.245/32 count
 seq 40 permit ip 10.185.239.168/29 10.185.239.246/32 count
 seq 50 remark "Permit OM VMs to TOR1-P2P network 10.185.239.144/30"
 seq 60 permit ip 10.185.239.144/30 10.185.239.244/32 count
 seq 70 permit ip 10.185.239.144/30 10.185.239.245/32 count
 seq 80 permit ip 10.185.239.144/30 10.185.239.246/32 count
 seq 90 remark "Permit OM VMs to TOR2-P2P network 10.185.239.148/30"
 seq 100 permit ip 10.185.239.148/30 10.185.239.244/32 count
 seq 110 permit ip 10.185.239.148/30 10.185.239.245/32 count
 seq 120 permit ip 10.185.239.148/30 10.185.239.246/32 count
 seq 130 remark "Permit OM VMs to Infrastructure VIP network 100.73.0.128/25"
 seq 140 permit ip 100.73.0.128/25 10.185.239.244/32 count
 seq 150 permit ip 100.73.0.128/25 10.185.239.245/32 count
 seq 160 permit ip 100.73.0.128/25 10.185.239.246/32 count
 seq 170 remark "Permit UDP any port 68_TO_any port 67"
 seq 180 permit udp any eq 68 any eq 67 count
 seq 190 remark "Permit UDP any port 67_TO_any port 68"
 seq 200 permit udp any eq 67 any eq 68 count
 seq 500 remark "Permit R01-bmc (10.185.239.192/26)_TO_R01-bmc (10.185.239.192/26)"
 seq 510 permit ip 10.185.239.192/26 10.185.239.192/26 count
 seq 520 remark "Permit R01-SwitchMgmt (10.185.239.168/29)_TO_R01-bmc (10.185.239.192/26)"
 seq 530 permit ip 10.185.239.168/29 10.185.239.192/26 count
 seq 540 remark "Permit any_TO_R2-hlh-dvm00 (10.185.239.253/32)"
 seq 550 permit ip 0.0.0.0/0 10.185.239.253/32 count
 seq 560 remark "Permit ntp port 123 10.185.239.254 (32/UDP)_TO_R01-bmc (10.185.239.192/26)"
 seq 570 permit udp 10.185.239.254/32 eq 123 10.185.239.192/26 count
 seq 580 remark "Permit UDP dns port 53 (10.50.10.50/32)_TO_R01-bmc (10.185.239.192/26)"
 seq 590 permit udp 10.50.10.50/32 eq 53 10.185.239.192/26 count
 seq 600 remark "Permit UDP dns port 53 (10.50.50.50/32)_TO_R01-bmc (10.185.239.192/26)"
 seq 610 permit udp 10.50.50.50/32 eq 53 10.185.239.192/26 count
 seq 620 remark "Permit R01-C01-su01-INF-pub-adm (10.177.146.224/27)_TO_hlh-os (10.185.239.254/32)"
 seq 630 permit ip 10.177.146.224/27 10.185.239.254/32 count
 seq 640 remark "Deny R01-SwitchINF (10.185.239.128/26)_TO_external1 (10.185.239.244/30)"
 seq 650 deny ip 10.185.239.128/26 10.185.239.244/30 count
 seq 660 remark "Deny C01-InVIP (100.73.0.128/25)_TO_external1 (10.185.239.244/30)"
 seq 670 deny ip 100.73.0.128/25 10.185.239.244/30 count
 seq 680 remark "Permit any_TO_external1 (10.185.239.244/30)"
 seq 690 permit ip 0.0.0.0/0 10.185.239.244/30 count
 seq 700 remark "Permit R01-C01-su01-INF-pub-adm (10.177.146.224/27)_TO_bmcnode (10.185.239.192/28)"
 seq 710 permit ip 10.177.146.224/27 10.185.239.192/28 count
 seq 720 remark "Permit R01-C01-su01-INF-pub-adm (10.177.146.224/27)_TO_bmcnode (10.185.239.208/31)"
 seq 730 permit ip 10.177.146.224/27 10.185.239.208/31 count
 seq 740 remark "Permit R01-C01-su01-INF-pub-adm (10.177.146.224/27)_TO_bmcnode (10.185.239.210/32)"
 seq 750 permit ip 10.177.146.224/27 10.185.239.210/32 count
 seq 760 remark "Permit PermitNetworks (0.0.0.0/0)_TO_hlh-os (10.185.239.254/32)"
 seq 770 permit ip 0.0.0.0/0 10.185.239.254/32 count
 seq 780 remark "Permit nrc (10.177.147.31/32)_TO_any"
 seq 790 permit ip 10.177.147.31/32 0.0.0.0/0 count
 seq 800 remark "Permit any_TO_nrc (10.177.147.31/32)"
 seq 810 permit ip 0.0.0.0/0 10.177.147.31/32 count
 seq 820 remark "Deny ip Any_TO_Any"
 seq 830 deny ip 0.0.0.0/0 0.0.0.0/0 count
!
ip access-list Rack01-SwitchMgmt_IN
 seq 10 remark "Permit OMEss/OMNM/OMEnt access to switch network (10.185.239.168/29)"
 seq 20 permit ip 10.185.239.168/29 10.185.239.244/32 count
 seq 30 permit ip 10.185.239.168/29 10.185.239.245/32 count
 seq 40 permit ip 10.185.239.168/29 10.185.239.246/32 count
 seq 500 remark "Permit R01-SwitchMgmt (10.185.239.168/29)_TO_R01-SwitchMgmt (10.185.239.168/29)"
 seq 510 permit ip 10.185.239.168/29 10.185.239.168/29 count
 seq 520 remark "Permit udp R01-SwitchMgmt (10.185.239.168/29)_TO_dns server (10.50.10.50/32)"
 seq 530 permit udp 10.185.239.168/29 10.50.10.50/32 eq 53 count
 seq 540 remark "Permit udp R01-SwitchMgmt (10.185.239.168/29)_TO_dns server (10.50.50.50/32)"
 seq 550 permit udp 10.185.239.168/29 10.50.50.50/32 eq 53 count
 seq 560 remark "Permit udp R01-SwitchMgmt (10.185.239.168/29)_TO_syslog server (10.185.192.141/32)"
 seq 570 permit udp 10.185.239.168/29 10.185.192.141/32 eq 514 count
 seq 580 remark "Permit R01-SwitchMgmt (10.185.239.168/29)_TO_R01-bmc (10.185.239.192/26)"
 seq 590 permit ip 10.185.239.168/29 10.185.239.192/26 count
 seq 600 remark "Permit R01-SwitchMgmt (10.185.239.168/29)_TO_ntp (10.185.239.254/32)"
 seq 610 permit udp 10.185.239.168/29 10.185.239.254/32 eq 123 count
 seq 620 remark "Permit R01-SwitchMgmt (10.185.239.168/29)_TO_R01-C01-SU01-INF (10.177.146.0/24)"
 seq 630 permit ip 10.185.239.168/29 10.177.146.0/24 count
 seq 640 remark "Permit R01-SwitchMgmt (10.185.239.168/29)_TO_PermitNetworks (0.0.0.0/0)"
 seq 650 permit ip 10.185.239.168/29 0.0.0.0/0 count
 seq 660 remark "Deny ip Any_TO_Any"
 seq 670 deny ip 0.0.0.0/0 0.0.0.0/0 count
!
ip access-list Rack01-SwitchMgmt_OUT
 seq 10 remark "Permit OMEss/OMNM/OMEnt access to switch network (10.185.239.168/29)"
 seq 20 permit ip 10.185.239.244/32 10.185.239.168/29 count
 seq 30 permit ip 10.185.239.245/32 10.185.239.168/29 count
 seq 40 permit ip 10.185.239.246/32 10.185.239.168/29 count
 seq 500 remark "Permit R01-SwitchMgmt (10.185.239.168/29)_TO_R01-SwitchMgmt (10.185.239.168/29)"
 seq 510 permit ip 10.185.239.168/29 10.185.239.168/29 count
 seq 520 remark "Permit dns server (10.50.10.50/32)_TO_R01-SwitchMgmt udp (10.185.239.168/29)"
 seq 530 permit udp 10.50.10.50/32 eq 53 10.185.239.168/29 count
 seq 540 remark "Permit dns server (10.50.50.50/32)_TO_R01-SwitchMgmt udp (10.185.239.168/29)"
 seq 550 permit udp 10.50.50.50/32 eq 53 10.185.239.168/29 count
 seq 560 remark "Permit R01-bmc (10.185.239.192/26)_TO_R01-SwitchMgmt (10.185.239.168/29)"
 seq 570 permit ip 10.185.239.192/26 10.185.239.168/29 count
 seq 580 remark "Permit ntp (10.185.239.254/32)_TO_R01-SwitchMgmt (10.185.239.168/29)"
 seq 590 permit udp 10.185.239.254/32 eq 123 10.185.239.168/29 count
 seq 600 remark "Permit R01-C01-SU01-INF (10.177.146.0/24)_TO_R01-SwitchMgmt (10.185.239.168/29)"
 seq 610 permit ip 10.177.146.0/24 10.185.239.168/29 count
 seq 620 remark "Permit PermitNetworks (0.0.0.0/0)_TO_R01-SwitchMgmt (10.185.239.168/29)"
 seq 630 permit ip 0.0.0.0/0 10.185.239.168/29 count
 seq 640 remark "Deny ip Any_TO_Any"
 seq 650 deny ip 0.0.0.0/0 0.0.0.0/0 count
!
route-map ADVERTISE_LOCAL_ROUTES permit 10
 match route-type local
!
router bgp 64633
 bestpath as-path multipath-relax
 maximum-paths ebgp 8
 maximum-paths ibgp 8
 router-id 10.185.239.154
 !
 address-family ipv4 unicast
  network 10.185.239.144/30
  network 10.185.239.148/30
  network 10.185.239.192/26
  network 10.185.239.168/29
  network 10.185.239.154/32
 !
 template TOR-64633
  remote-as 64633
  !
  address-family ipv4 unicast
 !
 neighbor 10.185.239.145
  description LinkTo:BGP:64633:P2P_Rack01/Tor1_To_Rack01/BMC:10.185.239.145
  inherit template TOR-64633
  password 9 ****
  no shutdown
  !
  address-family ipv4 unicast
 !
 neighbor 10.185.239.149
  description LinkTo:BGP:64633:P2P_Rack01/Tor2_To_Rack01/BMC:10.185.239.149
  inherit template TOR-64633
  password 9 ****
  no shutdown
  !
  address-family ipv4 unicast
!
snmp-server contact "Contact Support"
snmp-server enable traps lldp rem-tables-change
snmp-server enable traps entity
snmp-server enable traps envmon fan
snmp-server enable traps envmon power-supply
snmp-server enable traps envmon temperature
snmp-server enable traps snmp authentication
snmp-server enable traps snmp warmStart
snmp-server enable traps snmp coldStart
snmp-server enable traps snmp linkDown
snmp-server enable traps snmp linkUp
snmp-server enable traps dom temperature
snmp-server enable traps dom voltage
snmp-server enable traps dom rx-power
snmp-server enable traps dom tx-power
snmp-server enable traps dom bias
snmp-server group AzureStack_RO 3 auth notify rview read rview
snmp-server host 10.185.239.244 traps version 3 auth  azure_ro
snmp-server host 10.185.239.246 traps version 3 auth  azure_ro
snmp-server user azure_ro AzureStack_RO 3 auth sha ****
snmp-server view rview 1 included
!
telemetry
enable password sha-512 **** priv-lvl 15
ntp server 10.185.239.254
ntp source vlan5
