rack2-Rack01-TOR-1# show running-configuration
! Version 10.5.3.2
! Last configuration change at Apr  19 00:56:52 2023
!
ip vrf default
!
ip vrf management
 interface management
!
dcbx enable
ip prefix-list ExternalPrefix seq 10 deny 100.73.0.0/20 le 32
ip prefix-list ExternalPrefix seq 20 deny 100.73.0.0/25 le 32
ip prefix-list ExternalPrefix seq 30 deny 100.73.0.128/25 le 32
ip prefix-list ExternalPrefix seq 40 deny 10.185.239.152/32
ip prefix-list ExternalPrefix seq 50 deny 10.185.239.153/32
ip prefix-list ExternalPrefix seq 60 deny 10.185.239.154/32
ip prefix-list ExternalPrefix seq 70 permit 0.0.0.0/0 le 32
no ip dhcp-relay information-option
rest api restconf
banner motd ^C

 NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE
 Device name rack2-Rack01-TOR-1
 BUILDNUMBER: 1.2206.2049.163
 Unauthorized access and/or use prohibited.
 All access and/or use subject to monitoring.
 NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE  NOTICE

^C
clock timezone UTC 0 0
crypto fips enable
hostname rack2-Rack01-TOR-1
password-attributes character-restriction upper 1
password-attributes character-restriction lower 1
password-attributes character-restriction numeric 1
password-attributes character-restriction special-char 1
password-attributes lockout-period 15
password-attributes min-length 15
system-user linuxadmin password ****
ip ssh server cipher aes256-ctr aes192-ctr aes128-ctr
ip ssh server vrf management
logging console disable
ip sftp vrf management
ip scp vrf management
iscsi target port 860
iscsi target port 3260
username admin password **** role sysadmin priv-lvl 15
username deployadmin password **** role sysadmin priv-lvl 15
username changeme password **** role sysadmin priv-lvl 15
username deployadmin sshkey "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC8f/5CdA9C+CZJgprDO6oGEHQeOsmAveU3JZRsZXlfY/JmzzBw2QkV/b8tj7mu0FDzqe+WU7XpTGWAhKbq8iCjkmWnS5gWH0oUbkQOx4YuljV6+u4j39IXw+9/1SBYEooveWIX+IKV4r+Hk3ByBKzFC81Jb4xPG0dlqFuSuINOgfUyea3bmfR3d107vbfzSGCFMNp2lNillw1sm1xLoZYrL1GpGxaTYUf/Xf/6AC5DSTvR4iKL3XUEAmwbl636G3aidUK71gRZvrDwPpdiSwUVEcTbXam+suLA3B7p8uEKd91elUa3XoV4eYMEQBtpWCgCHOzXTwkG3vUdviJKrJ1r deployadmin"
aaa authentication login default local
aaa authentication login console local
!
wred ecn
 random-detect color green minimum-threshold 150 maximum-threshold 1500 drop-probability 100
 random-detect ecn
!
class-map type application class-iscsi
!
class-map type network-qos AZS_SERVICES_Dot1p_5
 match qos-group 5
!
class-map type network-qos AZS_SERVICES_Dot1p_3
 match qos-group 3
!
class-map type queuing AZS_SERVICES_EtsQue_0
 match queue 0
!
class-map type queuing AZS_SERVICES_EtsQue_3
 match queue 3
!
class-map type queuing AZS_SERVICES_EtsQue_5
 match queue 5
!
class-map type queuing Queue_3
 match queue 3
!
trust dot1p-map AZS_SERVICES_Dot1p
 qos-group 0 dot1p 0-2,4,6-7
 qos-group 3 dot1p 3
 qos-group 5 dot1p 5
!
qos-map traffic-class AZS_SERVICES_Que
 queue 0 qos-group 0-2,4,6-7
 queue 3 qos-group 3
 queue 5 qos-group 5
!
policy-map type application policy-iscsi
!
policy-map type network-qos AZS_SERVICES_pfc
 !
 class AZS_SERVICES_Dot1p_3
  pause
  pfc-cos 3
!
policy-map type queuing AZS_SERVICES_ets
 !
 class AZS_SERVICES_EtsQue_0
  bandwidth percent 48
 !
 class AZS_SERVICES_EtsQue_3
  bandwidth percent 50
 !
 class AZS_SERVICES_EtsQue_5
  bandwidth percent 2
!
policy-map type queuing policy_q3
 !
 class Queue_3
  bandwidth percent 50
  random-detect ecn
!
system qos
 trust-map dot1p AZS_SERVICES_Dot1p
 ets mode on
!
port-group 1/1/1
 mode Eth 25g-4x
!
port-group 1/1/2
 mode Eth 25g-4x
!
port-group 1/1/3
 mode Eth 25g-4x
!
port-group 1/1/4
 mode Eth 25g-4x
!
port-group 1/1/5
 mode Eth 10g-4x
!
port-group 1/1/6
 mode Eth 10g-4x
!
port-group 1/1/7
 mode Eth 10g-4x
!
port-group 1/1/8
 mode Eth 10g-4x
!
port-group 1/1/9
 mode Eth 25g-4x
!
port-group 1/1/10
 mode Eth 25g-4x
!
port-group 1/1/11
 mode Eth 10g-4x
!
port-group 1/1/12
 mode Eth 10g-4x
!
port-group 1/1/13
 mode Eth 100g-2x
!
port-group 1/1/14
 mode Eth 100g-2x
!
port-group 1/1/15
 mode Eth 100g-1x
!
port-group 1/1/16
 mode Eth 100g-1x
!
port-group 1/1/17
 mode Eth 100g-1x
!
port-group 1/1/18
 mode Eth 100g-1x
!
interface vlan1
 no shutdown
!
interface vlan2
 description "Unused Port"
 shutdown
!
interface vlan7
 description Rack01-CL01-SU01-Infra
 no shutdown
 mtu 9216
 ip address 10.177.146.2/24
 ip access-group Rack01-CL01-SU01-Infra_IN in
 ip access-group Rack01-CL01-SU01-Infra_OUT out
 ip helper-address 10.185.239.253
 ip helper-address 10.177.146.18
 !
 vrrp-group 7
  priority 150
  virtual-address 10.177.146.1
  no preempt
!
interface vlan107
 description Rack01-CL01-SU01-Stor
 no shutdown
 mtu 9216
 ip address 100.73.0.2/25
 ip access-group Rack01-CL01-SU01-Stor_IN in
 ip access-group Rack01-CL01-SU01-Stor_OUT out
 !
 vrrp-group 107
  priority 150
  virtual-address 100.73.0.1
  no preempt
!
interface loopback0
 description Loopback_Rack01/Tor1
 no shutdown
 ip address 10.185.239.152/32
!
interface mgmt1/1/1
 description "Link to BMC Switch Port 1/1/47:1:10.185.239.170/29"
 no shutdown
 no ip address dhcp
 ip address 10.185.239.170/29
!
interface ethernet1/1/1
 description "CL01 Nodes NIC"
 no shutdown
 switchport mode trunk
 switchport access vlan 7
 switchport trunk allowed vlan 107
 mtu 9216
 flowcontrol receive off
 priority-flow-control mode on
 service-policy input type network-qos AZS_SERVICES_pfc
 service-policy output type queuing AZS_SERVICES_ets
 ets mode on
 qos-map traffic-class AZS_SERVICES_Que
 spanning-tree bpduguard enable
 spanning-tree guard root
 spanning-tree port type edge
!
interface ethernet1/1/2
 description "CL01 Nodes NIC"
 no shutdown
 switchport mode trunk
 switchport access vlan 7
 switchport trunk allowed vlan 107
 mtu 9216
 flowcontrol receive off
 priority-flow-control mode on
 service-policy input type network-qos AZS_SERVICES_pfc
 service-policy output type queuing AZS_SERVICES_ets
 ets mode on
 qos-map traffic-class AZS_SERVICES_Que
 spanning-tree bpduguard enable
 spanning-tree guard root
 spanning-tree port type edge
!
interface ethernet1/1/3
 description "CL01 Nodes NIC"
 no shutdown
 switchport mode trunk
 switchport access vlan 7
 switchport trunk allowed vlan 107
 mtu 9216
 flowcontrol receive off
 priority-flow-control mode on
 service-policy input type network-qos AZS_SERVICES_pfc
 service-policy output type queuing AZS_SERVICES_ets
 ets mode on
 qos-map traffic-class AZS_SERVICES_Que
 spanning-tree bpduguard enable
 spanning-tree guard root
 spanning-tree port type edge
!
interface ethernet1/1/4
 description "CL01 Nodes NIC"
 no shutdown
 switchport mode trunk
 switchport access vlan 7
 switchport trunk allowed vlan 107
 mtu 9216
 flowcontrol receive off
 priority-flow-control mode on
 service-policy input type network-qos AZS_SERVICES_pfc
 service-policy output type queuing AZS_SERVICES_ets
 ets mode on
 qos-map traffic-class AZS_SERVICES_Que
 spanning-tree bpduguard enable
 spanning-tree guard root
 spanning-tree port type edge
!
interface ethernet1/1/5
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/6
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/7
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/8
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/9
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/10
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/11
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/12
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/13
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/14
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/15
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/16
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/17:1
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/18:1
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/19:1
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/20:1
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/21:1
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/22:1
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/23:1
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/24:1
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/25:1
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/26:1
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/27:1
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/28:1
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/29:1
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/30:1
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/31:1
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/32:1
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/33
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/34
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/35
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/36
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/37
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/38
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/39
 description P2P_Rack01/TOR1-ibgp-1_To_Rack01/TOR2-ibgp-1
 no shutdown
 no switchport
 mtu 9216
 ip address 10.185.239.157/30
 flowcontrol receive off
 priority-flow-control mode on
 service-policy input type network-qos AZS_SERVICES_pfc
 service-policy output type queuing AZS_SERVICES_ets
 ets mode on
 qos-map traffic-class AZS_SERVICES_Que
!
interface ethernet1/1/40
 description P2P_Rack01/TOR1-ibgp-2_To_Rack01/TOR2-ibgp-2
 no shutdown
 no switchport
 mtu 9216
 ip address 10.185.239.161/30
 flowcontrol receive off
 priority-flow-control mode on
 service-policy input type network-qos AZS_SERVICES_pfc
 service-policy output type queuing AZS_SERVICES_ets
 ets mode on
 qos-map traffic-class AZS_SERVICES_Que
!
interface ethernet1/1/41:1
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/42:1
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/43:1
 description "Unused Port"
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/44:1
 description P2P_Rack01/Tor1_To_Rack01/BMC
 no shutdown
 no switchport
 mtu 9216
 ip address 10.185.239.145/30
 flowcontrol receive off
 priority-flow-control mode on
!
interface ethernet1/1/45:1
 description Reserved_Port
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/46:1
 description Reserved_Port
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/47:1
 description P2P_Rack00/B2_To_Rack01/Tor1
 no shutdown
 no switchport
 mtu 9216
 ip address 10.185.239.138/30
 flowcontrol receive off
 priority-flow-control mode on
!
interface ethernet1/1/48:1
 description P2P_Rack00/B1_To_Rack01/Tor1
 no shutdown
 no switchport
 mtu 9216
 ip address 10.185.239.130/30
 flowcontrol receive off
 priority-flow-control mode on
!
interface ethernet1/1/49
 no shutdown
 no switchport
 mtu 9216
 flowcontrol receive off
 priority-flow-control mode on
 service-policy input type network-qos AZS_SERVICES_pfc
 service-policy output type queuing AZS_SERVICES_ets
 ets mode on
 qos-map traffic-class AZS_SERVICES_Que
!
interface ethernet1/1/50
 no shutdown
 no switchport
 mtu 9216
 flowcontrol receive off
 priority-flow-control mode on
 service-policy input type network-qos AZS_SERVICES_pfc
 service-policy output type queuing AZS_SERVICES_ets
 ets mode on
 qos-map traffic-class AZS_SERVICES_Que
!
interface ethernet1/1/51
 no shutdown
 no switchport
 mtu 9216
 flowcontrol receive off
 priority-flow-control mode on
 service-policy input type network-qos AZS_SERVICES_pfc
 service-policy output type queuing AZS_SERVICES_ets
 ets mode on
 qos-map traffic-class AZS_SERVICES_Que
!
interface ethernet1/1/52
 no shutdown
 no switchport
 mtu 9216
 flowcontrol receive off
 priority-flow-control mode on
 service-policy input type network-qos AZS_SERVICES_pfc
 service-policy output type queuing AZS_SERVICES_ets
 ets mode on
 qos-map traffic-class AZS_SERVICES_Que
!
interface ethernet1/1/53
 description Reserved_Port
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/54
 description Reserved_Port
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/55
 description Reserved_Port
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
interface ethernet1/1/56
 description Reserved_Port
 shutdown
 switchport access vlan 2
 mtu 9216
 flowcontrol receive off
 spanning-tree bpduguard enable
 spanning-tree guard root
!
mac address-table aging-time 1510
!
management route 0.0.0.0/0 10.185.239.169
!
route-map ADVERTISE_LOCAL_ROUTES permit 10
 match route-type local
!
router bgp 64633
 bestpath as-path multipath-relax
 maximum-paths ebgp 8
 maximum-paths ibgp 8
 router-id 10.185.239.152
 !
 address-family ipv4 unicast
  network 10.185.239.144/30
  network 10.185.239.152/32
  network 10.185.239.128/30
  network 10.185.239.136/30
  network 10.185.239.156/30
  network 10.185.239.160/30
  network 100.73.0.0/25
  network 10.177.146.0/24
 !
 template SDN
  ebgp-multihop 3
  listen 10.177.146.0/24 limit 5
  listen 10.185.239.253/32 limit 5
  remote-as 64634
  update-source loopback0
 !
 template Border1
  remote-as 64626
  !
  address-family ipv4 unicast
 !
 template Border2
  remote-as 64626
  !
  address-family ipv4 unicast
 !
 template iBGPPeer-64633
  remote-as 64633
  !
  address-family ipv4 unicast
 !
 template BMC-64633
  remote-as 64633
  !
  address-family ipv4 unicast
 !
 neighbor 10.185.239.146
  description LinkTo:BGP:64633:P2P_Rack01/Tor1_To_Rack01/BMC:10.185.239.146
  inherit template BMC-64633
  password 9 ****
  no shutdown
  !
  address-family ipv4 unicast
 !
 neighbor 10.185.239.129
  description LinkTo:BGP:64626:P2P_Rack00/B1_To_Rack01/Tor1:10.185.239.129
  inherit template Border1
  no shutdown
  !
  address-family ipv4 unicast
   distribute-list ExternalPrefix in
   distribute-list ExternalPrefix out
   next-hop-self
 !
 neighbor 10.185.239.137
  description LinkTo:BGP:64626:P2P_Rack00/B2_To_Rack01/Tor1:10.185.239.137
  inherit template Border2
  no shutdown
  !
  address-family ipv4 unicast
   distribute-list ExternalPrefix in
   distribute-list ExternalPrefix out
   next-hop-self
 !
 neighbor 10.185.239.158
  description LinkTo:BGP:64633:P2P_Rack01/TOR1-ibgp-1_To_Rack01/TOR2-ibgp-1:10.185.239.158
  inherit template iBGPPeer-64633
  password 9 ****
  no shutdown
  !
  address-family ipv4 unicast
 !
 neighbor 10.185.239.162
  description LinkTo:BGP:64633:P2P_Rack01/TOR1-ibgp-2_To_Rack01/TOR2-ibgp-2:10.185.239.162
  inherit template iBGPPeer-64633
  password 9 ****
  no shutdown
  !
  address-family ipv4 unicast
!
vlt-domain 1
 backup destination 10.185.239.153
 discovery-interface ethernet1/1/49-1/1/52
 peer-routing
 primary-priority 1
 vlt-mac de:ad:00:be:ef:01
!
snmp-server contact "Contact Support"
snmp-server enable traps lldp rem-tables-change
snmp-server enable traps entity
snmp-server enable traps envmon fan
snmp-server enable traps envmon power-supply
snmp-server enable traps envmon temperature
snmp-server enable traps snmp authentication
snmp-server enable traps snmp warmStart
snmp-server enable traps snmp coldStart
snmp-server enable traps snmp linkDown
snmp-server enable traps snmp linkUp
snmp-server enable traps dom temperature
snmp-server enable traps dom voltage
snmp-server enable traps dom rx-power
snmp-server enable traps dom tx-power
snmp-server enable traps dom bias
snmp-server group AzureStack_RO 3 auth notify rview read rview
snmp-server host 10.185.239.244 traps version 3 auth  azure_ro
snmp-server host 10.185.239.246 traps version 3 auth  azure_ro
snmp-server user azure_ro AzureStack_RO 3 auth sha ****
snmp-server view rview 1 included
snmp-server vrf management
!
telemetry
enable
 !
 destination-group 1
  destination 10.185.239.246 8125
 !
 subscription-profile one-1
  sensor-group oc-bgp
  sensor-group oc-interface
  destination-group 1
  encoding gpb
  transport grpc no-tls
  source-interface mgmt1/1/1
 !
 subscription-profile 2
enable password sha-512 **** priv-lvl 15
ntp server 10.185.239.254
ntp enable vrf management


rack2-Rack01-TOR-1# show version
Dell EMC Networking OS10 Enterprise
Copyright (c) 1999-2021 by Dell Inc. All Rights Reserved.
OS Version: 10.5.3.2
Build Version: 10.5.3.2.89
Build Time: 2021-12-03T21:05:43+0000
System Type: S5248F-ON
Architecture: x86_64
Up Time: 10 weeks 4 days 23:25:39

rack2-Rack01-TOR-1# show port-group
Port-group            Mode           Ports     FEM
port-group1/1/1       Eth 25g-4x     1  2  3  4     -
port-group1/1/2       Eth 25g-4x     5  6  7  8     -
port-group1/1/3       Eth 25g-4x     9  10  11  12     -
port-group1/1/4       Eth 25g-4x     13  14  15  16     -
port-group1/1/5       Eth 10g-4x     17  18  19  20     -
port-group1/1/6       Eth 10g-4x     21  22  23  24     -
port-group1/1/7       Eth 10g-4x     25  26  27  28     -
port-group1/1/8       Eth 10g-4x     29  30  31  32     -
port-group1/1/9       Eth 25g-4x     33  34  35  36     -
port-group1/1/10      Eth 25g-4x     37  38  39  40     -
port-group1/1/11      Eth 10g-4x     41  42  43  44     -
port-group1/1/12      Eth 10g-4x     45  46  47  48     -
port-group1/1/13      Eth 100g-2x    49  50     -
port-group1/1/14      Eth 100g-2x    51  52     -
port-group1/1/15      Eth 100g-1x    53         -
port-group1/1/16      Eth 100g-1x    54         -
port-group1/1/17      Eth 100g-1x    55         -
port-group1/1/18      Eth 100g-1x    56         -

rack2-Rack01-TOR-1# show lldp neighbors
Loc PortID          Rem Host Name        Rem Port Id                    Rem Chassis Id
--------------------------------------------------------------------------------------
ethernet1/1/1       Not Advertised       98:03:9b:32:78:1a             98:03:9b:32:78:1c
ethernet1/1/2       Not Advertised       98:03:9b:32:7d:f2             98:03:9b:32:7d:f4
ethernet1/1/3       Not Advertised       98:03:9b:98:3e:36             98:03:9b:98:3e:38
ethernet1/1/4       Not Advertised       b8:59:9f:0b:0a:8a             b8:59:9f:0b:0a:8c
ethernet1/1/39      rack2-Rack01-TOR-2   ethernet1/1/39                74:86:e2:c1:bc:a0
ethernet1/1/40      rack2-Rack01-TOR-2   ethernet1/1/40                74:86:e2:c1:bc:a0
ethernet1/1/44:1    rack2-Rack01-BMC-1   ethernet1/1/51                e8:b5:d0:7c:46:93
ethernet1/1/47:1    B42-1060-r11-x32s... Ethernet1/4/4                 e4:aa:5d:88:13:f7
ethernet1/1/48:1    B42-1060-r11-x32s... Ethernet1/4/4                 e4:aa:5d:88:1c:37
ethernet1/1/49      rack2-Rack01-TOR-2   ethernet1/1/49                74:86:e2:c1:bc:a0
ethernet1/1/50      rack2-Rack01-TOR-2   ethernet1/1/50                74:86:e2:c1:bc:a0
ethernet1/1/51      rack2-Rack01-TOR-2   ethernet1/1/51                74:86:e2:c1:bc:a0
ethernet1/1/52      rack2-Rack01-TOR-2   ethernet1/1/52                74:86:e2:c1:bc:a0
mgmt1/1/1           rack2-Rack01-BMC-1   ethernet1/1/47                e8:b5:d0:7c:46:93
