{{ template "inject_header" .Device -}}

{{ template "stig_user" .Device -}}

{{ template "stig_ssh" .Device -}}

{{ template "tor_feature" .Device -}}

{{ template "inject_ntp" .Settings -}}

{{ template "inject_syslog" .Settings -}}

{{ template "default_snmp" -}}

{{ template "inject_stp" -}}

{{ template "define_vlan" .Vlan -}}

{{ template "interface_vlan" .Vlan -}}

{{ template "port_channel" .PortChannel -}}

{{ template "port" .Port -}}

{{ template "default_errdisable_setting" -}}

{{ template "default_rmon" -}}

{{ template "default_console_vty" -}}