{{ define "port_channel" }}
! portchannel.go.tmpl-port_channel
{{- range . }}
interface {{ .Name }}
  description {{ .Description }}
  logging event port link-status
  mtu {{ .Mtu }}
  {{if .Shutdown }}shutdown{{else}}no shutdown{{end}}
  {{if eq .Type "IP" -}}
  ip address {{.IPAddress}}
  {{if .Others.inputPolicy}}service-policy type qos input {{.Others.inputPolicy}}{{end}}
  {{- else if eq .Type "Trunk" -}}
  switchport
  switchport mode trunk
  {{if eq .Name "port-channel101"}}switchport trunk native vlan 99
  {{else}}switchport trunk allowed vlan {{.VLANs}}
  {{end -}}
  {{if .Others.stp}}spanning-tree port type {{.Others.stp}}{{end}}
  {{- end}}
  {{if eq .Others.pfc "on"}}priority-flow-control mode on{{end}}
{{end}}
{{end}}