{{ template "hostname" .Switch -}}
{{ template "fips_user" .Switch -}}
{{ template "fips_ssh" . -}}
{{ template "fips_feature" . -}}
{{ template "define_vlan" .Vlans -}}
{{ template "interface_vlan" .Vlans -}}