  neighbor 100.73.28.162
    inherit peer iBGPPeer-64588
    description 64588:P2P_Rack01/TOR1-ibgp-1_To_Rack01/TOR2-ibgp-1:100.73.28.162


! create_vpcdomain.j2
vpc domain 1
  role priority 1
  peer-keepalive destination 100.73.28.162 source 100.73.28.161 vrf default
  delay restore 150
  peer-gateway
  auto-recovery


!
! create_vpcchannelgroup.j2
!!!
!!! VPC Port Channel iBGPTOR1 50
!!!
interface port-channel50
  description VPC:iBGPTOR1:PO50
  mtu 9216
  priority-flow-control mode on
  logging event port link-status
  service-policy type qos input AZS_SERVICES
  ip address 100.73.28.161/30

interface Ethernet 1/41
  description MLAG Heartbeat and iBGP TOR1-TOR2
  no cdp enable
  mtu 9216
  priority-flow-control mode on
  logging event port link-status
  channel-group 50
  no shutdown

interface Ethernet 1/42
  description MLAG Heartbeat and iBGP TOR1-TOR2
  no cdp enable
  mtu 9216
  priority-flow-control mode on
  logging event port link-status
  channel-group 50
  no shutdown
!!!
!!! VPC Port Channel MLAG_PEER 101
!!!
interface port-channel101
  description VPC:MLAG_PEER:PO101
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  priority-flow-control mode on
  spanning-tree port type network
  logging event port link-status
  vpc peer-link

interface Ethernet 1/49
  description L2 MLAG_PEER
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  priority-flow-control mode on
  logging event port link-status
  channel-group 101 mode active
  no shutdown

interface Ethernet 1/50
  description L2 MLAG_PEER
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  priority-flow-control mode on
  logging event port link-status
  channel-group 101 mode active
  no shutdown

interface Ethernet 1/51
  description L2 MLAG_PEER
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk native vlan 99
  priority-flow-control mode on
  logging event port link-status
  channel-group 101 mode active
  no shutdown
!!!
!!! VPC Port Channel TOR1BMC 102
!!!
interface port-channel102
  description VPC:TOR1BMC:PO102
  switchport
  switchport mode trunk
  switchport trunk allowed vlan 125
  spanning-tree port type network
  logging event port link-status
  vpc 102

interface Ethernet 1/44
  description L2 connection to TOR1-BMC
  no cdp enable
  mtu 9216
  switchport
  switchport mode trunk
  switchport trunk allowed vlan 125
  logging event port link-status
  channel-group 102
  no shutdown


! interface_vlan.j2
interface vlan107
  description Rack01-CL01-SU01-Storage
  no shutdown
  mtu 9216
  ip address 100.73.16.2/25
  no ip redirects
  no ipv6 redirects
  hsrp version 2
    hsrp 107
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.73.16.1
interface vlan125
  description Rack01-BMCMgmt
  no shutdown
  mtu 9216
  ip address 100.71.28.98/26
  no ip redirects
  no ipv6 redirects
  hsrp version 2
    hsrp 125
    priority 150 forwarding-threshold lower 1 upper 150
    ip 100.71.28.65