{{ template "hostname" .Switch -}}
{{ template "stig_user" .GlobalSetting -}}
{{ template "stig_ssh" . -}}
{{ template "stig_feature" . -}}
{{ template "qos" . -}}
{{ template "define_vlan" .Vlans -}}
{{ template "interface_vlan" .Vlans -}}
{{ template "portchannel" .PortChannel -}}
{{ template "port" .Ports -}}
{{ template "set_snmp" -}}
{{ template "set_errdisable_setting" -}}
{{ template "set_rmon" -}}
{{ template "set_console_vty" -}}
{{ template "set_ntp" .GlobalSetting -}}
{{ template "set_syslog" .GlobalSetting -}}
{{ template "prefixlist" .Routing.PrefixList -}}
{{ template "bgp" .Routing.BGP -}}
{{- /* {{ template "define_vlan" .Vlans -}}
{{ template "interface_vlan" .Vlans -}} */ -}}