{{ define "port"}}
! port.go.tmpl-port
{{ range . }}
interface {{ .Type}} {{ .Port }}
  description {{ .Description }}
  no cdp enable
  mtu {{ .Mtu }}
  {{if eq .Function "Unused" -}} 
  switchport
  switchport access vlan {{ .UntagVlan }}
  spanning-tree port type edge
  no logging event port link-status
  {{else if eq .Function "COMPUTE" -}}
  switchport
  switchport mode trunk
  switchport trunk native vlan {{ .UntagVlan }}
  {{ range .TagVlans -}}
  switchport trunk allowed vlan add {{ . }}
  {{end -}}
  spanning-tree port type edge trunk
  no logging event port link-status
  {{else if eq .Function "STORAGE" -}}
  switchport
  switchport mode trunk
  switchport trunk native vlan {{ .UntagVlan }}
  {{ range .TagVlans -}}
  switchport trunk allowed vlan add {{ . }}
  {{end -}}
  priority-flow-control mode on
  spanning-tree port type edge trunk
  no logging event port link-status
  service-policy type qos input AZS_SERVICES
  {{else if eq .Function "MLAG_PEER" -}}
  switchport
  switchport mode trunk
  switchport trunk native vlan {{ .UntagVlan }}
  priority-flow-control mode on
  logging event port link-status
  channel-group {{ .Others.ChannelGroup }} mode active
  {{else if eq .Function "P2P_IBGP" -}}
  priority-flow-control mode on
  logging event port link-status
  channel-group {{ .Others.ChannelGroup }} mode active
  {{else if eq .Function "TOR_BMC" -}}
  switchport
  switchport mode trunk
  {{ range .TagVlans -}}
  switchport trunk allowed vlan add {{ . }}
  {{end -}}
  logging event port link-status
  channel-group {{ .Others.ChannelGroup }} mode active
  {{else if eq .Function "P2P_Border1" -}}
  no ip redirects
  ip address {{ .IPAddress }}
  no ipv6 redirects
  {{else if eq .Function "P2P_Border2" -}}
  no ip redirects
  ip address {{ .IPAddress }}
  no ipv6 redirects
  {{end -}}
  {{if .Shutdown -}} shutdown {{else -}} no shutdown {{end}}
  {{ end }}
{{ end }}