{{ define "set_ntp"}}
! settings.go.tmpl-set_ntp
clock timezone UTC 0 0
{{ range .TimeServer -}}
ntp server {{.}}
{{ end -}}
ntp source-interface {{.OOB}}
{{ end }}

{{ define "set_syslog"}}
! settings.go.tmpl-set_syslog
{{ range .SyslogServer -}}
logging server {{ . }} 7 facility local7 use-vrf default
{{ end -}}
logging source-interface {{.OOB}}
logging level local7 7
no logging console
login on-success log
logging origin-id hostname
!
logging level acllog 7
logging level aclmgr 7
logging level eth_port_channel 7
logging level hsrp 7
logging level icam 7
logging level interface-vlan 7
logging level ipqosmgr 7
logging level vlan_mgr 7
logging level vpc 7
logging level netstack 7
logging level bgp 7
{{ end }}