{{- define "30_netplan.yaml" -}}
# https://netplan.readthedocs.io/en/stable/examples/
network:
    version: 2
    renderer: networkd
    ethernets:
        eth0:
            dhcp4: true
            mtu: 9216
        lo:
            addresses: [ "127.0.0.1/8", "::1/128", "{{.Loopback.IPNetwork}}" ]

    tunnels:
        gre1:
            mode: gre
            local: {{.Loopback.IP}}
            remote: {{.GRE1.IP}}
            addresses: [ "{{.Loopback.IPNetwork}}" ]
            mtu: 9000
        gre2:
            mode: gre
            local: {{.Loopback.IP}}
            remote: {{.GRE2.IP}}
            addresses: [ "{{.Loopback.IPNetwork}}" ]
            mtu: 9000
{{- end -}}