{{- define "frr.conf" -}}
frr defaults traditional
log syslog informational
hostname {{ .Hostname }}
ip forwarding
no ipv6 forwarding
service integrated-vtysh-config
!
{{ range .RerouteNetworks -}}  
ip route {{ . }} gre1
ip route {{ . }} gre2
{{ end -}}
!
router bgp {{ .BGP.LocalASN }}
 bgp router-id {{ .Loopback.IP }}
 bgp suppress-fib-pending
 bgp log-neighbor-changes
 no bgp ebgp-requires-policy
 no bgp default ipv4-unicast
 {{ range .BGP.IPv4Nbr -}}  
 neighbor {{ .NeighborIPAddress }} remote-as {{ .NeighborAsn }}
 neighbor {{ .NeighborIPAddress }} description {{ .Description }}
 neighbor {{ .NeighborIPAddress }} ebgp-multihop {{ .EbgpMultiHop }}
 neighbor {{ .NeighborIPAddress }} update-source {{ .UpdateSource }}
 {{ end -}}
 !
 address-family ipv4 unicast
  network {{ .Loopback.IPNetwork }}
  redistribute static
  {{ range .BGP.IPv4Nbr -}}  
  neighbor {{ .NeighborIPAddress }} remote-as {{ .NeighborAsn }}
  neighbor {{ .NeighborIPAddress }} description {{ .Description }}
  neighbor {{ .NeighborIPAddress }} ebgp-multihop {{ .EbgpMultiHop }}
  neighbor {{ .NeighborIPAddress }} update-source {{ .UpdateSource }}
  {{ if .RouteMapIn -}}neighbor {{ .NeighborIPAddress }} route-map {{ .RouteMapIn }} in {{ end }}
  {{ if .RouteMapOut -}}neighbor {{ .NeighborIPAddress }} route-map {{ .RouteMapOut }} out {{ end }}
  {{ end -}}
 exit-address-family
exit
!
ip prefix-list PL-DEFAULT seq 10 permit 0.0.0.0/0
ip prefix-list PL-ALL seq 10 permit any
!
route-map RM-DEFAULT-OUT permit 10
 match ip address prefix-list PL-DEFAULT
exit
!
route-map RM-DEFAULT-IN permit 10
 match ip address prefix-list PL-DEFAULT
exit
!
route-map RM-NO-ROUTE-IN deny 10
 match ip address prefix-list PL-ALL
exit
!
end
{{- end -}}