copy running-config bootflash:///Before_WANSIM.config

feature tunnel

! GRE Tunnel To WANSIM
interface Tunnel1
  ip address 2.1.1.3/31
  tunnel source 100.71.85.124
  tunnel destination 10.10.32.129
  description Tunnel_To_WANSIM
  mtu 8000
  no shutdown

! prefixlist.go.tmpl-prefixlist
ip prefix-list DEFAULT-FROM-WANSIM seq 5 permit 0.0.0.0/0
ip prefix-list DefaultRoute seq 10 permit 0.0.0.0/0
ip prefix-list DefaultRoute seq 50 deny 0.0.0.0/0 le 32
ip prefix-list FROM-BORDER seq 10 permit 0.0.0.0/0
ip prefix-list FROM-BORDER seq 20 permit 10.10.32.128/25
ip prefix-list FROM-BORDER seq 30 deny 0.0.0.0/0 le 32
ip prefix-list TO-BORDER seq 5 deny 0.0.0.0/0
ip prefix-list TO-BORDER seq 10 permit 0.0.0.0/0 le 32

route-map PREFER-WANSIM permit 10
  match ip address prefix-list DEFAULT-FROM-WANSIM
  set local-preference 200

router bgp 65242
  
neighbor 100.71.85.5
  address-family ipv4 unicast
    prefix-list TO-BORDER out
    prefix-list FROM-BORDER in  
neighbor 100.71.85.13
  address-family ipv4 unicast
    prefix-list TO-BORDER out
    prefix-list FROM-BORDER in  
neighbor 100.71.85.17
  address-family ipv4 unicast
    
      
neighbor 100.71.131.0/25
  address-family ipv4 unicast
    prefix-list DefaultRoute out
    
  neighbor 2.1.1.2
    remote-as 65003
    description BGP_Peer_With_WANSIM
    update-source Tunnel1
    address-family ipv4 unicast
      route-map PREFER-WANSIM in
      maximum-prefix 12000 warning-only


copy running-config bootflash:///After_WANSIM.config