{{define "bgp_prefix"}}
! bgp_prefix_list
{{ range .PrefixList -}}
{{ range .Config -}}
ip prefix-list {{.Name}} {{.Action}} {{.Supernet}}
{{end}}
{{end}}
{{end}}

{{define "bgp_routing"}}
! bgp.go.tmpl-bgp
router bgp {{.BGPAsn}}
  router-id {{.RouterID}}
  bestpath as-path multipath-relax
  log-neighbor-changes
  address-family ipv4 unicast
    maximum-paths 9
    {{- range .IPv4Network}}
    network {{.}}
    {{- end -}}
{{- /* Define variable before assign*/ -}}
{{$MaxiPrefix:= .RoutePrefix.MaxiPrefix}}
{{$ErrorAction:= .RoutePrefix.ErrorAction}}
  {{- range .IPv4Neighbor}}
  neighbor {{.NeighborIPAddress}}
    remote-as {{.NeighborAsn}}
    description {{.Description}}
    address-family ipv4 unicast
      maximum-prefix {{$MaxiPrefix}} {{$ErrorAction}}
      {{ range .PrefixList -}}
      prefix-list {{.Name}} {{.Direction}}
      {{end -}}
  {{end -}}
{{end}}