{{ define "default_errdisable_setting"}}
! default.go.tmpl-default_errdisable_setting
errdisable recovery interval 600
errdisable recovery cause link-flap
errdisable recovery cause udld
errdisable recovery cause bpduguard
system default switchport shutdown
switching-mode store-forward
{{ end }}

{{ define "default_rmon"}}
! default.go.tmpl-default_rmon
rmon event 1 description FATAL(1) owner PMON@FATAL
rmon event 2 description CRITICAL(2) owner PMON@CRITICAL
rmon event 3 description ERROR(3) owner PMON@ERROR
rmon event 4 description WARNING(4) owner PMON@WARNING
rmon event 5 description INFORMATION(5) owner PMON@INFO
{{ end }}

{{ define "default_snmp"}}
! default.go.tmpl-default_snmp
snmp-server globalEnforcePriv
no snmp-server protocol enable
{{ end }}

{{ define "default_console_vty"}}
! default.go.tmpl-default_console_vty
line console
  exec-timeout 10
line vty
  exec-timeout 10
  access-class ssh-only in
  session-limit 3
{{ end }}