{{ define "inject_ntp"}}
! external.go.tmpl-ntp
clock timezone UTC 0 0
{{ range .NTP -}}
ntp server 10.10.240.20
{{ end -}}
{{ range .OOB -}}
ntp source-interface {{ . }}
{{ end -}}
{{ end }}

{{ define "inject_syslog"}}
! external.go.tmpl-inject_syslog
{{ range .Syslog -}}
logging server {{ . }} 7 facility local7 use-vrf default
{{ end -}}
{{ range .OOB -}}
logging source-interface {{ . }}
{{ end -}}
logging level local7 7
no logging console
login on-success log
logging origin-id hostname
!
logging level acllog 7
logging level aclmgr 7
logging level eth_port_channel 7
logging level hsrp 7
logging level icam 7
logging level interface-vlan 7
logging level ipqosmgr 7
logging level vlan_mgr 7
logging level vpc 7
logging level netstack 7
logging level bgp 7
{{ end }}