{{ define "static_prefix" }}
! static.go.tmpl-static_prefix
{{ range .PrefixList -}}
  {{ range .Config -}}
ip prefix-list {{.Name}} {{.Action}} {{.Supernet}}
  {{end -}}
{{end}}
{{ range .RouteMap -}}
{{- range .Config -}}
route-map {{.Name}} {{.Action}} {{.Index}}
  {{ range .PrefixListName -}}
  match ip address prefix-list {{.}}
  {{end}}
{{end -}}
{{end -}}
{{end -}}
{{ define "static_routing" }}
! static.go.tmpl-static_routing
!!!
!!! Static Route
!!!
{{- range .Network -}}
ip route {{.DstIPAddress}} {{.NextHop}} name {{.Name}}
{{end -}}
{{ end }}