! iron(fe) start
rest api restconf
!
! Template: stig_logging.j2
logging audit enable
logging console disable
!
! interface_mgmt.j2
interface mgmt 1/1/1
  description "use the BMCMgmt switch virtual interface"
  no ip address
  shutdown

hostname 5248bgp-Rack01-TOR-1
!
lldp enable
!
! stig_useraccount.j2
password-attributes character-restriction upper 1 lower 1 numeric 1 special-char 1 min-length 15 lockout-period 15 max-retry 3
password-attributes lockout-period 5
!
enable password 0 T:trGxA+t8Q8nkY priv-lvl 15
username admin password T:trGxA+t8Q8nkY role sysadmin
username dellalr password T:trGxA+t8Q8nkY role sysadmin
username azsadmin-bxezd password IfZ/dlG3lQO:8Xj role sysadmin
system-user linuxadmin password IfZ/dlG3lQO:8Xj
!
! inject_qos.j2
!
! QOS AZS_SERVICES
!
trust dot1p-map AZS_SERVICES_Dot1p
qos-group 0 dot1p 0-2,4,6-7
qos-group 3 dot1p 3
qos-group 5 dot1p 5
!
qos-map traffic-class AZS_SERVICES_Que
queue 0 qos-group 0-2,4,6-7
queue 3 qos-group 3
queue 5 qos-group 5
!
class-map type network-qos AZS_SERVICES_Dot1p_5
match qos-group 5
!
class-map type network-qos AZS_SERVICES_Dot1p_3
match qos-group 3
!
class-map type queuing AZS_SERVICES_EtsQue_0
match queue 0
!
class-map type queuing AZS_SERVICES_EtsQue_3
match queue 3 
 !
class-map type queuing AZS_SERVICES_EtsQue_5
match queue 5 
!
policy-map type network-qos AZS_SERVICES_pfc
!
class AZS_SERVICES_Dot1p_3
  pause
  pfc-cos 3
!
policy-map type queuing AZS_SERVICES_ets
!
class AZS_SERVICES_EtsQue_0
  bandwidth percent 48
!
class AZS_SERVICES_EtsQue_3
  bandwidth percent 50
  !
class AZS_SERVICES_EtsQue_5
  bandwidth percent 2
!
dcbx enable
! 
 system qos
 ets mode on
 trust-map dot1p AZS_SERVICES_Dot1p
!
!
port-group 1/1/1
 mode Eth 25g-4x
!
port-group 1/1/2
 mode Eth 25g-4x
!
port-group 1/1/3
 mode Eth 25g-4x
!
port-group 1/1/4
 mode Eth 25g-4x
!
port-group 1/1/5
 mode Eth 25g-4x
!
port-group 1/1/6
 mode Eth 25g-4x
!
port-group 1/1/7
 mode Eth 10g-4x
!
port-group 1/1/8
 mode Eth 10g-4x
!
port-group 1/1/9
 mode Eth 25g-4x
!
port-group 1/1/10
 mode Eth 25g-4x
!
port-group 1/1/11
 mode Eth 10g-4x
!
port-group 1/1/12
 mode Eth 10g-4x
!
port-group 1/1/13
 mode Eth 100g-2x
!
port-group 1/1/14
 mode Eth 100g-2x
!
port-group 1/1/15
 mode Eth 100g-1x
!
port-group 1/1/16
 mode Eth 100g-1x
!
port-group 1/1/17
 mode Eth 100g-1x
!
port-group 1/1/18
 mode Eth 100g-1x
!
!
! Template: stig_vrrp.j2
vrrp version 3
vrrp delay reload 180
!
! Template: stig_login_sessions.j2
login concurrent-session limit 3
!
! Template: stig_login_stats.j2
login statistics enable
!
! Template: stig_ztd.j2
ztd cancel
!
!
! Template: stig_macaddress_table.j2
!
mac address-table aging-time 1000000
!
! create_int_loopback.j2
!
! Loopback
!
interface loopback0
 description "Loopback_Rack01/Tor1"
 ip address 172.16.252.123/32
 no shutdown
!
! banner.j2
banner motd ^C
 
NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE
Device name 5248bgp-Rack01-TOR-1
BUILDNUMBER: 1.2100.01944.855
Unauthorized access and/or use prohibited.
All access and/or use subject to monitoring.
NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE  NOTICE
 
^C
interface vlan 1
!
route-map ADVERTISE_LOCAL_ROUTES permit 10
 match route-type local 
!
no ip dhcp-relay information-option
!
load-balancing ip-selection source-ip destination-ip l4-source-port l4-destination-port
!
! prefix-list ExternalPrefix
!
 ip prefix-list ExternalPrefix deny 172.16.240.0/20 le 32
 ip prefix-list ExternalPrefix deny 172.16.240.0/25 le 32
 ip prefix-list ExternalPrefix permit 0.0.0.0/0 le 32
!
! define_vlan.j2
interface vlan 1
!
interface vlan 125
  description "Rack01-BMCMgmt"
interface vlan 107
  description "Rack01-CL01-SU01-Storage"
interface vlan 207
  description "Rack01-CL01-SU01-Storage2"
interface vlan 7
  description "Rack01-CL01-SU01-Infrastructure"
interface vlan 2
  description "Unused_Ports"
!
!
! BGP Base 64910
router bgp 64910
 bestpath as-path multipath-relax
 maximum-paths ebgp 8
 maximum-paths ibgp 8
 router-id 172.16.252.123
 !
 address-family ipv4 unicast
  network 172.16.252.123/32
  network 10.128.0.0/30
  network 10.128.0.8/30
  network 172.16.252.160/30
  network 10.128.0.64/26
  network 172.16.240.0/25
  network 172.16.244.0/24
  network 172.16.245.0/25
 !
 neighbor 10.128.0.1
  description LinkTo:BGP:64900:P2P_Rack00/B1_To_Rack01/Tor1:10.128.0.1
  remote-as 64900
  remove-private-as
  no shutdown
  !
  address-family ipv4 unicast
   distribute-list ExternalPrefix in
   distribute-list ExternalPrefix out
   next-hop-self

!
router bgp 64910
  bestpath as-path multipath-relax
  maximum-paths ebgp 8
  maximum-paths ibgp 8
  router-id 172.16.252.123
 address-family ipv4 unicast
  network 172.16.252.123/32
  network 10.128.0.0/30
  network 10.128.0.8/30
  network 172.16.252.160/30
  network 10.128.0.64/26
  network 172.16.240.0/25
  network 172.16.244.0/24
  network 172.16.245.0/25
!
! bgp_mux_neighborbase.j2
template SDN
 ebgp-multihop 3
 listen 10.128.0.125/32 limit 5
 remote-as 64912
 local-as 64512
 update-source loopback0
!
template SDN
 ebgp-multihop 3
 listen 172.16.244.0/24 limit 5
 remote-as 64912
 local-as 64512
 update-source loopback0
!
exit
!
  template Border1
    remote-as 64900
    address-family ipv4 unicast
      activate
!
  template Border2
    remote-as 64900
    address-family ipv4 unicast
      activate
!
  template iBGPPeer-64910
    remote-as 64910
    address-family ipv4 unicast
      activate
!
  neighbor 10.128.0.1
    inherit template Border1
        remove-private-as
    description "LinkTo:BGP:64900:P2P_Rack00/B1_To_Rack01/Tor1:10.128.0.1"
   address-family ipv4 unicast
   sender-side-loop-detection
  no shutdown
  address-family ipv4 unicast
   next-hop-self
  address-family ipv4 unicast
   distribute-list ExternalPrefix in
   distribute-list ExternalPrefix out
!
  neighbor 10.128.0.9
    inherit template Border2
        remove-private-as
    description "LinkTo:BGP:64900:P2P_Rack00/B2_To_Rack01/Tor1:10.128.0.9"
   address-family ipv4 unicast
   sender-side-loop-detection
  no shutdown
  address-family ipv4 unicast
   next-hop-self
  address-family ipv4 unicast
   distribute-list ExternalPrefix in
   distribute-list ExternalPrefix out
!
  neighbor 172.16.252.162
    inherit template iBGPPeer-64910
      description "LinkTo:BGP:64910:P2P_Rack01/TOR1-ibgp-1_To_Rack01/TOR2-ibgp-1:172.16.252.162"
   password WmX39HD+knXwM=H
   address-family ipv4 unicast
   sender-side-loop-detection
  no shutdown
!
!
!
! ecn.j2
!
wred ecn
 random-detect color green minimum-threshold 150 maximum-threshold 1500 drop-probability 100
 random-detect ecn
exit
!
class-map type queuing Queue_3
 match queue 3
 exit
!
policy-map type queuing policy_q3
 class Queue_3
  bandwidth percent 50
  random-detect ecn
  exit
exit
!
no ip dhcp snooping
!
! create_int_p2p_ipv4.j2
!
! Point-To-Point ethernet 1/1/47:1
!
interface ethernet 1/1/47:1
  no switchport
  mtu 9216
  description "P2P_Rack00/B2_To_Rack01/Tor1"
  ip address 10.128.0.10/30
  mtu 9216
  no shutdown
!
! Point-To-Point ethernet 1/1/48:1
!
interface ethernet 1/1/48:1
  no switchport
  mtu 9216
  description "P2P_Rack00/B1_To_Rack01/Tor1"
  ip address 10.128.0.2/30
  mtu 9216
  no shutdown
!
interface ethernet 1/1/49
  no switchport
  no ip address
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  qos-map traffic-class AZS_SERVICES_Que
  ets mode on
  no shutdown
  mtu 9216
interface ethernet 1/1/50
  no switchport
  no ip address
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  qos-map traffic-class AZS_SERVICES_Que
  ets mode on
  no shutdown
  mtu 9216
interface ethernet 1/1/51
  no switchport
  no ip address
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  qos-map traffic-class AZS_SERVICES_Que
  ets mode on
  no shutdown
  mtu 9216
interface ethernet 1/1/52
  no switchport
  no ip address
  flowcontrol receive off
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  qos-map traffic-class AZS_SERVICES_Que
  ets mode on
  no shutdown
  mtu 9216
!
vlt-domain 1 
 discovery-interface ethernet 1/1/49
 discovery-interface ethernet 1/1/50
 discovery-interface ethernet 1/1/51
 discovery-interface ethernet 1/1/52
 backup destination 172.16.252.162 
 peer-routing
 primary-priority 1
 vlt-mac de:ad:00:be:ef:01 
!
!
! VLAN Rack01-BMCMgmt 125
!
interface vlan 125
  description Rack01-BMCMgmt
  mtu 9216
  ip address 10.128.0.98/26
  ip access-group Rack01-BMCMgmt_IN in
  ip access-group Rack01-BMCMgmt_OUT out
! 
  vrrp-group 125
    virtual-address 10.128.0.65
    no preempt  
    PRIORITY 150
  no shutdown
!
! VLAN Rack01-CL01-SU01-Stor 107
!
interface vlan 107
  description Rack01-CL01-SU01-Stor
  mtu 9216
  ip address 172.16.240.2/25
  ip access-group Rack01-CL01-SU01-Stor_IN in
  ip access-group Rack01-CL01-SU01-Stor_OUT out
! 
  vrrp-group 107
    virtual-address 172.16.240.1
    no preempt  
    PRIORITY 150
  no shutdown
!
! VLAN Rack01-CL01-SU01-Infra 7
!
interface vlan 7
  description Rack01-CL01-SU01-Infra
  mtu 9216
  ip address 172.16.244.2/24
  ip access-group Rack01-CL01-SU01-Infra_IN in
  ip access-group Rack01-CL01-SU01-Infra_OUT out
! 
  vrrp-group 7
    virtual-address 172.16.244.1
    no preempt  
    PRIORITY 150
  ip helper-address 10.128.0.125
  ip helper-address 172.16.244.18
  no shutdown
!
! VLAN Rack01-CL01-SU01-Stor2 207
!
interface vlan 207
  description Rack01-CL01-SU01-Stor2
  mtu 9216
  ip address 172.16.245.2/25
  ip access-group Rack01-CL01-SU01-Stor2_IN in
  ip access-group Rack01-CL01-SU01-Stor2_OUT out
! 
  vrrp-group 207
    virtual-address 172.16.245.1
    no preempt  
    PRIORITY 150
  no shutdown
!
! create_interface_vlti_portchannel.j2
!
! VLTi Port Channel iBGPTOR1 50
!
interface port-channel 50
  description "VLTi:iBGPTOR1:PO50"
  mtu 9216
  no switchport
  ip address 172.16.252.161/30

interface ethernet 1/1/39
  description "MLAG Heartbeat and iBGP TOR1-TOR2"
  mtu 9216
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  qos-map traffic-class AZS_SERVICES_Que
  ets mode on
  channel-group 50 mode active
  no shutdown

interface ethernet 1/1/40
  description "MLAG Heartbeat and iBGP TOR1-TOR2"
  mtu 9216
  priority-flow-control mode on
  service-policy input type network-qos AZS_SERVICES_pfc
  service-policy output type queuing AZS_SERVICES_ets
  qos-map traffic-class AZS_SERVICES_Que
  ets mode on
  channel-group 50 mode active
  no shutdown




!
! VLTi Port Channel TOR1BMC 102
!
interface port-channel 102
  description "VLTi:TOR1BMC:PO102"
  switchport mode trunk
  switchport trunk allowed vlan 125
   vlt-port-channel 102

interface ethernet 1/1/44:1
  description "L2 connection to TOR1-BMC"
  channel-group 102 mode active
  no shutdown
!
! create_ethernet_trunk.j2
!
! Port Trunk
!
interface ethernet 1/1/1
 description "CL01 Nodes NIC"
 no switchport
 switchport mode trunk
 mtu 9216
 switchport access vlan 7
  switchport trunk allowed vlan 107
  switchport trunk allowed vlan 125
  switchport trunk allowed vlan 207
 priority-flow-control mode on
 service-policy input type network-qos AZS_SERVICES_pfc
 service-policy output type queuing AZS_SERVICES_ets
 qos-map traffic-class AZS_SERVICES_Que
 ets mode on
 spanning-tree bpduguard enable
 spanning-tree guard root
 spanning-tree port type edge
 mtu 9216
  no shutdown
!
interface ethernet 1/1/2
 description "CL01 Nodes NIC"
 no switchport
 switchport mode trunk
 mtu 9216
 switchport access vlan 7
  switchport trunk allowed vlan 107
  switchport trunk allowed vlan 125
  switchport trunk allowed vlan 207
 priority-flow-control mode on
 service-policy input type network-qos AZS_SERVICES_pfc
 service-policy output type queuing AZS_SERVICES_ets
 qos-map traffic-class AZS_SERVICES_Que
 ets mode on
 spanning-tree bpduguard enable
 spanning-tree guard root
 spanning-tree port type edge
 mtu 9216
  no shutdown
!
interface ethernet 1/1/3
 description "CL01 Nodes NIC"
 no switchport
 switchport mode trunk
 mtu 9216
 switchport access vlan 7
  switchport trunk allowed vlan 107
  switchport trunk allowed vlan 125
  switchport trunk allowed vlan 207
 priority-flow-control mode on
 service-policy input type network-qos AZS_SERVICES_pfc
 service-policy output type queuing AZS_SERVICES_ets
 qos-map traffic-class AZS_SERVICES_Que
 ets mode on
 spanning-tree bpduguard enable
 spanning-tree guard root
 spanning-tree port type edge
 mtu 9216
  no shutdown
!
interface ethernet 1/1/4
 description "CL01 Nodes NIC"
 no switchport
 switchport mode trunk
 mtu 9216
 switchport access vlan 7
  switchport trunk allowed vlan 107
  switchport trunk allowed vlan 125
  switchport trunk allowed vlan 207
 priority-flow-control mode on
 service-policy input type network-qos AZS_SERVICES_pfc
 service-policy output type queuing AZS_SERVICES_ets
 qos-map traffic-class AZS_SERVICES_Que
 ets mode on
 spanning-tree bpduguard enable
 spanning-tree guard root
 spanning-tree port type edge
 mtu 9216
  no shutdown
!
!
! create_interface_access.j2
!
! Access Port RESERVED_ethernet 2
!
!
interface ethernet 1/1/53
 no switchport
 description "RESERVED_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/54
 no switchport
 description "RESERVED_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/55
 no switchport
 description "RESERVED_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/56
 no switchport
 description "RESERVED_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
!
! Access Port Unused_Port_ethernet 2
!
!
interface ethernet 1/1/10
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/11
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/12
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/13
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/14
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/15
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/16
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/17
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/18
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/19
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/20
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/21
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/22
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/23
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/24
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/25:1
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/26:1
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/27:1
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/28:1
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/29:1
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/30:1
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/31:1
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/32:1
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/33
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/34
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/35
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/36
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/37
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2\DellEMC\_testPlans
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/38
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/41:1
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/42:1
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/45:1
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/46:1
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/5
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/6
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/7
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/8
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
interface ethernet 1/1/9
 no switchport
 description "Unused_Port_ethernet"
 mtu 9216
 switchport mode access
 switchport access vlan 2
   shutdown
  spanning-tree bpduguard enable
 spanning-tree guard root
!
!
!
!
! dell_snmp.j2
!
! SNMPv3 settings for OMNM
!
snmp-server group AzureStack_RO 3 auth notify rview read rview
snmp-server user azure_ro AzureStack_RO 3 auth sha F^TIGmvO*bM2b4w
snmp-server view rview 1 included
!
snmp-server enable traps
!
snmp-server host 10.128.0.116 traps version 3 auth azure_ro
snmp-server host 10.128.0.118 traps version 3 auth azure_ro
!
!

! stig_time.j2
clock timezone UTC 0 0
ntp server 192.168.100.30
!
!
! Template: stig_console.j2
!
line vty
 ip access-class ssh-only
!
!
!
! Template: stig_sshd.j2
!

ip ssh server enable

ip ssh server cipher aes256-ctr aes192-ctr aes128-ctr
ip ssh server mac hmac-sha1 hmac-sha2-256
ip ssh server max-auth-tries 3
no ip telnet server enable
!
!
end
!